[2013-09-09 09:00] ys opened #2 "can't add a new key into hash during iteration"
I have a problem that seems to come because of concurrency.

I'm using rails 4, ruby 2 and puma

[code]

[2013-09-25 15:17] erkattak opened #3 "Unable to use ENV var for API key in multiple environments"
https://github.com/appsignal/appsignal/blob/master/lib/appsignal/config.rb#L84-L92

[code]

This does not take into account someone using the following config file

[code]

[2013-09-26 12:51] #3 closed, assigned to nobody

[2013-09-27 18:01] nnc opened #4 "Sanitize YAML serialized attribute values"
ActiveRecordSanitizer doesn't properly sanitize YAML serialized values at the moment, so potentially sensitive data could be sent to AppSignal.

I'd rather see this addressed in the gem, but if you think this is too specific please let me know so I can work around it.

[2013-09-30 02:42] bf4 opened #5 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-30 07:17] #5 closed, assigned to nobody

[2013-10-01 19:04] erkattak opened #6 "Send exception without re-raising"
I'd like to display nice 500 pages to users, but still track exceptions with Appsignal.

Appsignal.listen_for_exception and Appsignal.send_exception both seem to re-raise the original exception, so I'm wondering how to do this.

I also have an action that needs to return a 200 status to an external service no matter what is passed, but would still like to track issues using Appsignal.

Currently,

[2013-11-02 18:09] #6 closed, assigned to nobody

[2014-01-14 15:17] ys opened #8 "Sanitization of request is called in Sidekiq process"
`env` seems to be null in Transaction.rb in Sidekiq

[code]

[2014-03-01 10:49] #8 closed, assigned to nobody

[2014-03-19 21:45] ixti opened #12 "Would like to be able to control what we use AppSignal for"
Heya,

I would like to be able to disable _any_ Exception logging to AppSignal.
As well as I want to be able completely disable tracking of background jobs.

[2014-03-20 12:43] #12 closed, assigned to nobody

[2014-04-30 15:14] marten opened #20 "Can't complete transactions when AppSignal should not be active"
In our test environment, Appsignal is not active. However, if we try to test this class:

[code]

We run into the following issue:

[code]

Problem seems to be that if the YAML-file specifies: `test:\nactive: false`, such that `Appsignal.active? == false`, then `Appsignal.start` never gets called, and thus there is no Agent present.

I believe I did do everything according to the docs. Not sure wh

[2014-07-30 10:20] costis opened #22 "Does it support Rails 2.x, Ruby 1.8.7?"
Does it?

[2014-07-30 11:38] #22 closed, assigned to nobody

[2014-08-13 12:02] #20 closed, assigned to nobody

[2014-08-15 18:46] benedikt opened #23 "Issue when using the stripe_event gem"
Hi!

I'm running into an issue using the stripe_event gem. The gem provides an endpoint for webhooks from Stripe. In order to validate them, it also re-fetches the events via the Stripe API. This is slow and triggers the slow transaction monitoring of the appsignal gem. Unfortunately something breaks, apparently while preprocessing some object of the stripe-ruby gem.

[code]

The `NoMethodError` i

[2014-11-26 21:51] rnaud opened #25 "ActiveJobs are all wrapped into one unique report"
Hey guys!

On our AppSignal reports, all of our Sidekiq jobs are being reported under an ActiveJob wrapper:
ActiveJob::QueueAdapters::SidekiqAdapter::JobWrapper

Any way to fix that?

Arnaud

[2014-12-03 11:43] #23 closed, assigned to matsimitsu

[2014-12-03 11:43] #2 closed, assigned to nobody

[2015-02-12 17:04] andremedeiros opened #27 "`rake` doesn't have a default task"
Running `rake` should, IMHO:

- Download any dependencies to run the specs
- Do whatever needs to be done to set up that environment
- Run them

[2015-02-13 05:37] fwl opened #29 "Support for sucker_punch?"
Hi there!

Are you planning to add support for [sucker_punch](https://github.com/brandonhilkert/sucker_punch)? Quite a lot of people use it for sending emails and performing non-critical jobs.

Thank you.

[2015-02-13 05:38] fwl commented on #25
Hello,

Is this still the case or has it been fixed since?

Thank you.

[2015-02-13 10:43] matsimitsu commented on #29
Hi fwl,

We hadn't planned support for sucker punch as of yet. It does seem like a good idea to support it.
I'll see if I can make time to add support. If you need it yesterday, maybe you can alias `perform` as done here in the sequel support: https://github.com/appsignal/appsignal/blob/master/lib/appsignal/integrations/sequel.rb

[2015-02-25 12:01] fwl commented on #29
@matsimitsu thank you for the detailed response :-)

[2015-03-02 19:14] tijmenb opened #32 "Support for catching errors in Rake tasks"
Is there an acceptable way to make sure exceptions get automatically reported from Rake tasks?

Got a little burned recently, so I now have this horrific monkey patch in my Rakefile.

[code]

Any suggestions?

[2015-03-05 12:13] appletonwebb commented on #29
Hi, any updates on this feature request by any chance?

[2015-03-06 13:48] thijsc commented on #27
Thanks for the suggestion, added in #50df3e8

[2015-03-06 13:48] #27 closed

[2015-03-06 16:39] thijsc commented on #32
That's actually pretty cool :-). I don't see real downsides to this, it might be a good idea to implement something like this in the gem. What do you think @matsimitsu?

[2015-03-06 16:50] matsimitsu commented on #29
I don't think we'll be able to support it in the gem. SuckerPunch doesn't have any hooks we can use to wrap a job in AppSignal.

## Option one:
I did play around with it today, and the following code works with minimal impact when using Rails and Ruby 2.0+.

[code]

## Option two:
Other options are creating a base class that defines perform and uses `Appsignal.monitor_transaction` to wrap a differ

[2015-03-24 16:17] serioushaircut opened #34 "Missing config causes exception in Appsignal::IPC.forked!, which kills all resque jobs"
Hi,
setup is rails 4.2 with resque integration. The problem is that we made a stupid small mistake and did not provide the configuration properly (with typo). Hence, for appsignal there wasn't any configuration.

But the consequence turned out to be quite bad.
Appsignal::IPC.forked! tries to call stop_thread on Appsignal.agent, which is nil as it is only set when a config is present. That in turn

[2015-03-24 17:40] matsimitsu commented on #34
Hi there,

We try to make sure AppSignal doesn't bring down the app when something is wrong with the gem itself, but as you unfortunately experienced there are some edge cases.

I'll make sure we'll fix this in the next version, and will keep you updated.

Thanks for reporting!

[2015-03-24 17:56] fwl commented on #29
@matsimitsu amazing answer, thank you so much!

[2015-04-14 19:51] rahilvirani opened #36 "Faraday request with middleware instrumentation enabled throws an error"
NoMethodError while sending queue: undefined method `each' for #<String:0x007f818a392b10>
/Users/dev/.rvm/gems/ruby-2.2.0@influitive/gems/appsignal-0.11.8/lib/appsignal/aggregator/middleware/delete_blanks.rb:6:in `call'
/Users/dev/.rvm/gems/ruby-2.2.0@influitive/gems/appsignal-0.11.8/lib/appsignal/aggregator/middleware/chain.rb:81:in `block in invoke'
/Users/dev/.rvm/gems/ruby-2.2.0@influitive/gem

[2015-04-14 20:08] thijsc commented on #36
Could you tell me what the payload of the event is in this case? If it's private e-mail is good too.

[2015-04-14 20:14] rahilvirani commented on #36
#<Faraday::Env @method=:post @body="{\"token\":\"*******\"}" @url=#<URI::HTTP*******> @request=#<Faraday::RequestOptions (empty)> @request_headers={"Accept"=>"application/json", "User-Agent"=>"Faraday v0.9.1", "Authorization"=>"Basic*******==", "Content-Length"=>"0"} @ssl=#<Faraday::SSLOptions (empty)> @response=#<Faraday::Response:0x007fb76384aef0 @on_complete_callbacks=[], @env=#<Faraday::Env @m

[2015-04-17 15:20] summerville commented on #32
Here's how Airbrake does it: https://github.com/airbrake/airbrake/blob/master/lib/airbrake/rake_handler.rb

[2015-04-28 09:48] serioushaircut opened #38 "Long running (resque) processes trigger DRb Conn Error with Broken Pipe"
Hi Appsignal,

we use version 0.11.9 with Resque Plugin and a Worker runs sometimes longer than 45min.
The following error is reproducible:

[code]

We think that looks like, that on completing the job finally, appsignal tries to enqueue the transaction into the transaction Drb server file 'drbunix:...' stream which is no longer opened for writing.

Is that anything we can just configure anywhere

[2015-04-28 10:04] #4 closed

[2015-05-04 07:08] #34 closed

[2015-05-04 09:54] thijsc commented on #38
We made a fix for this in #39. Could you try that and let us know if it works well for you?

[2015-05-04 09:55] thijsc commented on #36
Closing this one, we have a support thread running.

[2015-05-04 09:55] #36 closed

[2015-05-04 10:04] thijsc commented on #25
It looks like this issue was caused by the way Sidekiq integrates with ActiveJob. They've now fixed this in 3.3.4:

`Improved ActiveJob integration - Web UI now shows ActiveJobs in a nicer format and job logging shows the actual class name, requires Rails 4.2.2+ [#2248, #2259]`

https://github.com/mperham/sidekiq/blob/master/Changes.md

Could you try that version of Sidekiq?

[2015-05-06 08:44] serioushaircut commented on #38
I close this issue as it does not state the error correctly (runtime is not the cause, probably the transaction object size - see #39 for more details)

[2015-05-06 08:44] #38 closed

[2015-06-25 18:07] fwl commented on #25
@thijsc I will, thank you for pointing this out!

[2015-07-06 12:40] scottrobertson commented on #25
It's doing the same for DelayedJob too

[2015-07-07 07:19] thijsc opened #42 "Don't send queue on shutdown if it's empty"

[2015-07-07 14:52] filipegiusti commented on #42
Awesome, thanks. I wrote [a workaround](https://github.com/DigitalArtists/appsignal/commit/903be782c695eb05be1cdee6e522194295338b22) just to keep my code working, would something like that with proper testing be accepted?

[2015-07-09 09:34] thijsc commented on #42
I used your change and added some tests: 48d9fc248006e6247dfdf004874161a3bf3c0c51. This change will be in the next gem release we'll do this week.

Thanks!

[2015-07-09 09:34] #42 closed

[2015-07-09 13:34] filipegiusti commented on #42
You're awesome! Thanks.

[2015-07-14 13:36] matsimitsu opened #46 "`add_exception` is gone in the agent branch"
It's now `set_exception` this breaks people's integration with us. we should probably alias `add_exception` to `set_exception` :)

[2015-07-16 20:08] marciotrindade opened #48 "error with CLI `appsignal notify_of_deploy`"
Hi,

I'm using the `notify_of_deploy` to make a deploy on Appsignal, but when I try to make a deploy to `prod` enviroment it's create a new project with the same name but with 'pro' ENV.

Here the command line that I'm using:
[code]

The output is
[code]

and here the result at AppSignal

![appsignal](https://cloud.githubusercontent.com/assets/4888/8733989/4722737e-2bdd-11e5-81c1-b6035943cc04.png)

[2015-07-16 20:20] matsimitsu commented on #48
Hi @marciotrindade Could you change `appsignal notify_of_deploy --revision="038bbcc" --user="Marcio Trindade" --environment="prod" --name="Locaweb Backup"`

to : `appsignal notify_of_deploy --revision="038bbcc" --user="Marcio Trindade" --environment="production" --name="Locaweb Backup"` (the change is environment `prod` to `production`.

[2015-07-16 20:56] marciotrindade commented on #48
Ops, now I understand, I used the env that appear in the AppSignal app instead the env that I configure.

Sorry for that and thank you for your help.

[2015-07-16 20:56] #48 closed

[2015-07-16 20:58] matsimitsu commented on #48
No problem, glad I could help!

[2015-07-20 13:08] clemens opened #50 "Capistrano integration breaks for latest 2.x release"
The change introduced in https://github.com/capistrano/capistrano/commit/c971854ea7dc8ed26d9e858d57c203eccbb06d54 breaks your Capistrano 2 integration which expects `Capistrano::VERSION` to only be defined in Capistrano 3+.

I tried to write a failing test and fix the issue but failed with the test setup. The only insight I can provide is this: In the Capistrano runtime, the `capistrano/version` f

[2015-07-23 21:27] thijsc opened #51 "Appsignal.send_exception triggers a NoMethodError if the input is not an error"
See: https://gist.github.com/ianks/6ac1a1f43ae1f91c2697

[2015-07-23 21:33] #29 closed

[2015-07-23 21:35] matsimitsu commented on #50
Hi @clemens thanks for the info! I'll add this to the 0.11.13 release  :)

[2015-07-28 08:28] matsimitsu commented on #50
Fixed in master :)

[2015-07-28 08:28] #50 closed

[2015-07-28 08:35] matsimitsu commented on #51
Do we want `Appsignal.send_exception` to accept non-errors as well? Or raise a better error message?

[2015-07-28 08:42] thijsc commented on #51
I think just adding a message in the log should be fine.

[2015-07-28 10:17] #51 closed

[2015-07-28 19:45] #32 closed

[2015-07-28 19:47] newstler opened #54 "uninitialized constant Rails"
Hi,

Just integrated AppSignal gem as written in instruction and it breaks our deploy:

[code]

We use gem `mina` instead of `capistrano`. `Rails 4.2.3`, `Ruby 2.2.1`. Had to remove integration while figure out why it breaks the deploy.

[2015-07-28 19:49] matsimitsu commented on #54
Hi @newstler It seems it has something to do with the config file on disk. Could you send your appsignal.yml file to support@appsignal.com by any chance? I'd love to figure out what's happening here.

[2015-07-28 19:56] newstler commented on #54
Done, thanx!

[2015-07-29 10:14] tijmenb commented on #32
:+1:

[2015-08-05 10:01] serioushaircut opened #56 "DrbConnError when Transaction Events Array too large"
Hi Appsignal, hi @thijsc,

back to this error from #38 and #39, but now with better knowledge.
Recap the setup -  Appsignal 0.11.11 and Rails with a single vanilla Resque worker that does 35k times a DB lookup, e.g. User.find('dontexist').
Recap the stacktrace:
[code]
Unfortunately it does not state what caused the error, but happy debugging revealed there is a default load_limit for messages over

[2015-08-06 13:39] serioushaircut opened #57 "Transaction events array growth not limited - out of memory error"
Hi Appsignal,

setup Rails 4.2, Resque, Appsignal 0.11.11 -
another problem we experienced with the Appsignal::Transaction class (see #56) is that it collects unbounded information about what is going on in the worker.
We have a few jobs among hundreds that do quite a lot of statistical stuff over all users or articles etc, which reliably consume a lot of memory. The problem is that the jobs thems

[2015-08-06 13:59] matsimitsu commented on #57
Hi Bastian,

Thanks for the issue reports! This is unfortunately one of the few downsides of processing all instrumentation that Rails provides.

We're working on a new version of the gem that handles this case a lot better. It's in beta right now, but could take a while before we release it.

Meanwhile to prevent memory issues in long-running jobs we've implemented a way to "pause" the ingestion

[2015-08-06 16:13] serioushaircut commented on #57
okay, much cleaner work around than clearing all events when the array gets too large.
we're looking forward to the new release. Yet this year possibly?
Cheers
Bastian

[2015-08-07 17:40] MarkMurphy opened #59 "NoMethodError while sending queue: undefined method `each` for #<String>"
[code]

[2015-09-10 16:07] erawk opened #68 "`NoMethodError: undefined method `complete!' for #<Appsignal::Transaction:0x00000010452148>`"
We are running the `beta` gem:

[code]

It's been working great so far.

Unfortunately, when we wrap our `rake` tasks in `Rake.appsignal_exception_handling`, this exception gets throw:

[code]

Is there a method missing in the beta gem that used to be in the old? What do we need to do to fix?

[2015-09-10 16:17] erawk commented on #68
Additionally, here is the body of our wrapper:

[code]

[2015-09-10 17:05] thijsc commented on #68
Thanks for the report. We're going to put this method back in place in the next beta version.

[2015-09-10 17:40] erawk commented on #68
:+1:

[2015-09-10 17:40] #68 closed

[2015-09-18 06:35] wvengen commented on #25
I'm working on a Que adapter and am wondering how to fix this ActiveJob issue. It looks like Sidekiq and DelayedJob integrate with ActiveJob for display purposes, if I'm reading the appsignal source correctly, but how to do that for ActiveJob backends that don't have this feature?

[code]

in an integration might work, but I wonder how a more general solution would look like.

Also, ideally I'd li

[2015-09-19 11:24] matsimitsu commented on #25
Hi @wvengen do you have an example/code of your Que adapter? I can take a look and see how best to support AppSigal for it :)

[2015-09-19 16:22] wvengen commented on #25
@matsimitsu sure, feel free to participate in #70. Thanks!

[2015-10-28 07:32] emq opened #80 "[0.12.rc.0] Invalid pointer"
Hello

Upgraded to RC yesterday, unfortunatelly after few hours we ended up with:

[code]

Tested with Ruby 2.2.3 & Ruby 2.1.7 on few different machines, Debian.

Let me know if you need any more details :grin:

Cheers <3

[2015-10-28 09:37] thijsc commented on #80
Send you an e-mail to ask for details about your system.

[2015-11-15 18:45] emq commented on #80
Hey, sorry for slight delay, I was quite busy lately, I will close this ticket and try new version - will report if needed. Thanks for quick fix!

[2015-11-15 18:45] #80 closed

[2016-01-21 13:14] Florian95 opened #89 "Configure pid folder"
Hi,

It would be great to be able to configure pid file in config yml file.

For example, my deployment SaaS does not define write access on `/app/tmp/`

Regards,

[2016-01-22 14:48] tombruijn opened #91 "AppSignal gem throws errors when running sequel migrations"
When running migrations with with sequel log level set to `debug` (in the Rails config: `Rails.application.config.log_level = :debug`) every migration throws an error.

[code]

This runs normally until migrating and then for every query it throws this error:

[code]
_slightly formatted for readability_

AppSignal gem version that works: `0.11.8`
It doesn't work anymore with the latest: `1.0.1`

Se

[2016-01-23 19:38] benedikt opened #92 "Problem with mongo ruby driver integration"
I discovered an issue with the mongo ruby driver integration. Both in production and development (when the agent is active), I get this error:

[code]

Unfortunately, this breaks the whole application as it can't connect to the database.
This happens with both `1.0.1` from RubyGems and the latest version from `master`.

[2016-01-23 20:40] matsimitsu commented on #92
Thanks for reporting @benedikt I'll keep you posted on the progress.

[2016-01-26 12:53] matsimitsu commented on #91
It seems `sequel-rails` already has instrumentation. Could you try and disable our sequel instrumentation and see what the result is?

in config.yaml:
[code]

[2016-01-26 13:46] #92 closed

[2016-01-26 13:47] matsimitsu commented on #92
hi @benedikt we've fixed this issue and will release this on `1.0.2` this week.

[2016-01-26 20:17] tombruijn commented on #91
When disabling the instrumentation sequel-rails doesn't seem to throw any errors anymore, but since this disables the instrumentation for sequel we can't see queries in appsignal anymore, right?

[2016-01-26 20:25] matsimitsu commented on #91
`sequel-rails` seems to have built-in instrumentation: https://github.com/TalentBox/sequel-rails/blob/89e71cc58ea44ccc85e9c30b7fb55889d36c0287/lib/sequel_rails/sequel/database/active_support_notification.rb

so that should generate the instrumentation (it's pretty much the same code as appsignal's instrumentation)

[2016-01-26 20:45] tombruijn commented on #91
oooh... That's actually quite nice then. (Although I don't like it being a monkey patch for sequel.)

So if we rely on this we don't need to activate appsignal's instrumentation.
We'll try running it and let you know if we have any other issues concerning this.

[2016-01-26 20:45] #91 closed

[2016-02-09 13:58] karsthammer opened #93 "ActiveRecord query logging incomplete when using where("a='x' AND b='y'")"
Hi guys,

When we make an ActiveRecord call in our application like:
`Post.where("created_at >= :timestamp AND updated_at >= :timestamp", timestamp: 1.day.ago)`

The query in AppSignal shows itself as:
[code]

It seems that the SQL formatter uses regular expressions that are too eager (sql_formatter.rb, constants: SINGLE_QUOTED_STRING and DOUBLE_QUOTED_STRING). (see: http://rubular.com/r/CjFUo3v87

[2016-02-11 09:19] #46 closed

[2016-02-11 09:20] thijsc commented on #25
We've greatly improved the ActiveJob integration in 1.1, which is now in beta. Could you try that version @rnaud?

[2016-02-11 09:20] #54 closed

[2016-02-11 09:21] thijsc commented on #56
We've completely overhauled this system in the 1.0 version of our gem. This should now work like a charm.

[2016-02-11 09:21] #56 closed

[2016-02-11 09:21] #57 closed

[2016-02-11 09:22] thijsc commented on #59
Sorry for being slow in responding to this one, it fell through the cracks. This should be completely fixed in 1.0.

[2016-02-11 09:22] #59 closed

[2016-02-11 09:30] thijsc commented on #93
Thanks for the detailed report! We're going to look into it and fix it.

[2016-02-11 12:00] lucidstack opened #94 "Capistrano 3 integration should use `fetch(:stage)`"
Hi there,

I'm trying out the `appsignal` gem, and while it works quite smoothly, I'm having an issue with capistrano deployments: appsignal always thinks I'm deploying to production, while I'm actually deploying to staging.

I think the culprit of this is at `lib/appsignal/integrations/capistrano/appsignal.cap:3` :
[code]

Appsignal is using `:rails_env` or `:rack_env`, while it's pretty much sta

[2016-02-15 14:28] lucidstack commented on #94
Could I have some feedback on this, guys?

[2016-02-15 14:30] thijsc commented on #94
This makes a lot of sense, we'll make this change. I expect we can do this for the next `1.2` release.

[2016-02-15 14:31] lucidstack commented on #94
Thanks a lot, @thijsc! :+1:

[2016-02-24 14:22] thijsc commented on #89
We've just released version `1.0.4` of the gem that makes this configurable using the `:working_dir_path` key in your config. More info here: http://docs.appsignal.com/gem-settings/configuration.html.

[2016-02-24 14:22] #89 closed

[2016-02-29 13:48] #94 closed

[2016-03-10 15:31] derekkraan opened #97 "Handled sinatra errors being reported to Appsignal"
In Sinatra, `env['sinatra.error']` is set when an error is encountered. However, this is *never unset* by Sinatra. The result is that *all* errors are sent to appsignal, including the handled ones.

This is difficult to work around, as unsetting `env['sinatra.error']` causes some error handlers (example: `not_found` to be run twice. (Sinatra does not expect you to unset this variable).

IMO, the f

[2016-03-10 15:48] derekkraan commented on #97
I take back the part where users should enable `raise_errors`. The correct approach (again, IMO) is to add `Appsignal.add_exception(env['sinatra.errors'])` to your error handler that shows your 500 page.

[2016-03-10 15:52] derekkraan commented on #97
Also, on a minor note, I think your sinatra instructions are out of date in your app. It still says to include this line: `use Appsignal::Rack::Listener`, but `Appsignal::Rack::Listener` disappeared somewhere pre-1.0.

[2016-03-11 13:38] thijsc commented on #93
We've added a much improved Sql sanitizer in version `1.0.5`. This version is now in beta, could you give it a try?

[code]

[2016-03-11 14:32] karsthammer commented on #93
Hi Thijs,

Just tested it and it works, it now logs the correct query in AppSignal.

Thanks!

[2016-03-11 14:32] #93 closed

[2016-03-11 14:35] thijsc commented on #93
Awesome, thanks for testing!

[2016-03-15 10:43] #25 closed

[2016-03-30 09:12] 1st8 opened #99 "Basic Rack integration broken? Documentation outdated"
Hey,

I am currently in the process of setting Appsignal up in a plain Rack application.
Having done this before, I wanted to use the latest appsignal version this time.
This is when I noticed, that your documentation on http://docs.appsignal.com/getting-started/supported-frameworks.html#rack-other is using the old, now unavailable, `Appsignal::Rack::Listener` and `Appsignal::Rack::Instrumentation

[2016-03-30 09:24] 1st8 commented on #99
I think the problem is rather simple:
When an exception happens in the `@app.call(env)` part, it is added to the transaction as usual.
Since the exception is then re-raised, no `StreamWrapper` instance is returned, and the transaction has thus no way of ever completing.

I think adding something like this after line 38 would solve the problem:

[code]

Unfortunately I can't find anything like `App

[2016-03-30 19:45] thijsc commented on #97
Thanks for the report @derekkraan! I'm doing some research on this later this week and will get back to you.

[2016-03-30 19:48] thijsc commented on #99
This was an oversight on our part, we removed the Rack listener but have not provided a replacement yet. `Appsignal::Rack::StreamingListener` is intended for situations where you keep a Rack response open for long periods of time. I'll have a look at reinstating the Rack listener later this week.

Is this a custom Rack app? Or do you use a framework we don't support out of the box yet?

[2016-04-05 10:34] 1st8 commented on #99
Whoops, I forgot about this.
I am using Hanami, formerly Lotus.rb, but a plain Rack middleware is my preferred solution.
The referenced PR #99 resolved my issue and should help making the `StreamingListener` usable for non-streaming use-cases in general.
Does my explanation above and the referenced solution sense for you?

[2016-04-06 22:18] claudeatsafe opened #102 "NameError: no member 'appsignal_name' in struct"
The upgrade to v1.1.3 raises the exception `NameError: no member 'appsignal_name' in struct` in all our Delayed Jobs. We are overriding the `display_name` method, so the `appsignal_name` method is present in the jobs. v1.07 works fine.

Backtrace:
[code]

[2016-04-08 14:44] thijsc commented on #102
Fixed in a7f0d9b04633d572ac406c84a9bb9da9a9d3d05a

[2016-04-08 14:44] #102 closed

[2016-04-15 13:33] thijsc commented on #97
I'm not sure how to handle this issue yet. I agree with you that encouraging `raise_errors` is probably a better approach.

The problem is that I have no way of knowing which customers rely on the existing behaviour. So if we remove this line error reporting might stop when they upgrade without them noticing. I'm thinking we could introduce a config option to disable this. Would that work for you?

[2016-04-15 14:03] thijsc commented on #99
Thanks for the pull! The streaming listener is intended for situations where you keep a stream open for longer periods of time. I've added a replacement for the old Rack instrumentation in #103. Would that fix your use case?

[2016-04-18 07:35] derekkraan commented on #97
Actually, I think `raise_errors` is not the way to go. With Rails, the problem is easy to solve: you put your error-reporting middleware somewhere underneath the Rails error page middleware. Sinatra doesn't handle error pages with middleware: error pages are handled within the app, before you go back up the middleware stack. So there is no "after the error is generated, but before the error is cau

[2016-04-26 19:19] cec opened #104 "DelayedJob Monitoring Infinite Loop in development environment"
Hi,

I'm running the latest version of the gem.

My jobs end up in an infinte loop after although job's perform is completed.
Stepping with the debugger, I noticed that this loop happens in the monitoring code of Appsignal.
Here is an abbreviated version of the stack trace, just to explain the situation:

[code]

Basically, once the job is complete and Appsignal is called to complete the "monitori

[2016-04-28 18:56] thijsc commented on #104
Are you running DJ with something like `script/rails delayed_job start`? If so this is probably caused by a compatibility issue with the Daemons gem that DJ uses under the hood we're currently in the process of debugging and fixing.

There's some more information here: https://github.com/thuehlinger/daemons/issues/47

[2016-04-29 13:58] cec commented on #104
Hi @thijsc,

in production I start DJ from capistrano using [this gem](https://github.com/AgileConsultingLLC/capistrano3-delayed-job) which calls
`bundle exec script/delayed_job  -n 1 --pool=.... --pool=.... restart`

in development I start DJ with the [rake task jobs:work](https://github.com/collectiveidea/delayed_job/blob/master/lib/delayed/tasks.rb)

The problem occurred only once in production

[2016-05-01 12:34] cec commented on #104
Hi @thijsc ,

I got more information about the problem, specifically, I found out why it happens in development and not in production.

I had an error in my Gemfile:

[code]

Probably because of a copy-paste, I was requiring spec gems in development.
This resulted in Appsignal::Transaction::GenericRequest to have its ancestors chain become

[code]

instead of this:

[code]

This led Appsignal's co

[2016-05-03 12:09] thijsc commented on #104
I will take a look at that infinite loop. That shouldn't be possible, even in weird circumstances. Leaving this issue open for that.

Thanks for this great debugging session!

[2016-05-03 12:51] cec commented on #104
I see, glad it helps you guys too :)

[2016-05-04 13:19] #99 closed

[2016-05-20 23:40] pouellet opened #108 "Appsignal does not handle encoding errors"
### Issue

Appsignal middleware raises an uncaught exception when the request contains an invalid malicious user-agent. We received several requests similar to this one in our production server lately:

[code]

When the appsignal middleware tries to reports the request, the following exception get thrown:
[code]

The code this refer to only catches `JSON::GeneratorError` errors, but I believe ther

[2016-05-21 20:20] thijsc commented on #108
Thanks for reporting this. We'll roll out a fix for this on Monday.

[2016-05-23 11:46] thijsc commented on #108
Made the rescue match wider here: 75ea53a9cc5034bfc0656ce33a0f00d37d28a407

I'm not sure how this exception could have occurred. We already convert to UTF-8 here: https://github.com/appsignal/appsignal-ruby/blob/master/lib/appsignal/utils.rb#L53
Is this the full backtrace? I'd expect `Appsignal::Utils.json_generate` to be in there too.

[2016-05-23 11:49] thijsc commented on #108
I just published `1.1.7.beta.2` which includes this fix.

[2016-05-31 13:55] thijsc commented on #108
Version `1.1.7` was just officially released.

[2016-05-31 13:55] #108 closed

[2016-05-31 13:57] thijsc commented on #104
I've had trouble reproducing this. I think it might be relevant only in this specific scenario when using Spring. Closing this issue.

[2016-05-31 13:57] #104 closed

[2016-05-31 19:19] pouellet commented on #108
Hi Thijs, sorry for the late answer.

Regarding https://github.com/appsignal/appsignal-ruby/issues/108#issuecomment-220958328, I just realized that I reported the wrong version of appsignal in my original description. After double checking, our stack was actually running on 1.0.1 (as we see in the stacktrace). That would explain why the `Appsignal::Utils.json_generate` wasn't part of the stacktrac

[2016-05-31 19:20] thijsc commented on #108
Ah, that explains why I could not find an explanation for why this was still occurring :-). No worries!

The change I made is a good change regardless, so happy we got to add another layer of checks around this.

[2016-06-01 15:08] thijsc commented on #97
I've finally had some time today to dive into this. It turns out the `raise_errors` setting is accessible from the middleware. Could you take a look at #111? Does that fix the issue for you?

[2016-06-02 07:37] derekkraan commented on #97
I don't think so. In our setup, we have `raise_errors` turned off, which means that we use sinatra's error handling mechanism to show error pages when an error occurs. So Sinatra does not propagate exceptions up through to the middleware (except through `env['sinatra.error']`).

This is pretty typical of a Sinatra app, I think, which is why you guys have added the line
`          transaction.set_e

[2016-06-02 09:40] thijsc commented on #97
I understand the issue you're describing, I just don't have a clear fix for it at the moment. We cannot change the current behaviour since I have no way of knowing who is relying on the current behaviour and we would completely break their error reporting next time they do a `bundle update`.

I actually got the idea for this fix from the last paragraph of the original issue text.  Did anything cha

[2016-06-02 11:24] derekkraan commented on #97
I agree, there is no obvious good fix. To be clear: I think your fix is an improvement (for those with `raise_errors` enabled), but with `raise_errors` disabled, it still won't work properly.

We also tried clearing `env['sinatra.errors']` in our error handler, so it's definitely not a dumb question. This is already a while ago, so I don't remember the details completely, but apparently Sinatra do

[2016-06-10 10:34] thijsc commented on #97
There is one other solution: We could add `unless env['sinatra.skip_appsignal_error']` to the ensure block. You could then set this to true to skip the error. Would that be a better solution for you?

[2016-06-10 11:46] derekkraan commented on #97
This would help us out, yes. Then we could go back to the vanilla appsignal gem.

[2016-06-15 13:21] thijsc commented on #97
@derekkraan I've implemented this mechanism, does this work for you?

[2016-06-16 06:11] derekkraan commented on #97
@thijsc yes, this will work for us. Thanks!

[2016-06-23 09:09] thijsc commented on #97
This has now been released in `1.2.1.beta.2`. Could you give it a try @derekkraan?

[2016-06-29 12:58] thijsc commented on #97
This has now been released in `1.2.1`.

[2016-06-29 12:58] #97 closed

[2016-08-17 08:41] adamof opened #118 "Set the environment for deploy reporting in Capistrano"
Hey guys,

I noticed that there was a bit of discussion about this in #94, but I am having some issues with this with our current setup.

#### Setup
We have several capistrano stages, deploying the same rails_environment, example:
- Rails environment - `staging`
- We have two capistrano stages - `staging` and `beta`
- AppSignal is active for the `staging` env

#### The problem
When we deploy `stag

[2016-08-17 09:53] tombruijn commented on #118
Hi @adamof, if I understand the issue correctly you're using multiple capistrano stages (`staging` and `beta`), but no different `staging` and `beta` Rails environments.

You do want to track the `beta` stage, which runs in the rails environment `staging`. However, since we listen to the `beta` capistrano stage you don't get a deploy notification on for `beta` deploys.

What we can do is allow you

[2016-08-17 11:12] adamof commented on #118
Hey @tombruijn thanks for the response! I think this solution would work great for us.
As far as the mixed environments go, this is not much of an issue for us at the minute.

[2016-08-17 11:56] tombruijn commented on #118
@adamof I made a PR for this change in PR #119

You can try it out by adding this to your Gemfile:

[code]

Let me know if this is the behavior you want.

[2016-08-17 12:54] adamof commented on #118
Yep, that work! 🎆

[2016-08-17 12:58] tombruijn commented on #118
Great to hear!

I'll get the PR reviewed, merged and released. Will update you once we release a new official gem version you can use directly.

[2016-08-17 13:07] adamof commented on #118
![](https://media.giphy.com/media/k39w535jFPYrK/giphy.gif)

[2016-08-19 07:47] tombruijn commented on #118
The PR was merged.
I'll keep you up-to-date on a new gem release

[2016-08-19 07:47] #118 closed

[2016-08-19 13:55] matsimitsu opened #120 "Add way to skip requests by external monitoring tools"
Tools (such as Pingdom) can generate quite a few requests that add up to the plan limit, but don't offer any insights.

Some kind of way to tell that a transaction can be discarded by the gem would be nice.

Requested through Intercom: https://app.intercom.io/a/apps/yzor8gyw/inbox/all/conversations/5481377438

[2016-08-19 13:56] matsimitsu commented on #120
I'd prefer to create a call that discards the current transaction:

[code]
Or something like this. At the end of a transaction, instead of processing, it'll be removed. But I'm not sure how this would work on the agent side (are events etc. already processed?)

[2016-08-19 13:58] thijsc commented on #120
If you don't call finish the transaction won't be processed and will just be discarded once the GC cleans up the object.

[2016-08-19 13:59] matsimitsu opened #121 "Handle Exception causes"
You can set a cause of an exception: http://www.virtuouscode.com/2013/12/25/exception-causes-in-ruby-2-1/

Lets see if we can handle those :)

From Intercom: https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/1584663111?nsrc=slack

[2016-08-23 09:57] matsimitsu opened #125 "Add Hanami support"
We've had a few customers ask about supporting Hanami (http://hanamirb.org/)
Lets see if there's a nice way to integrate AppSignal with Hanami.

[2016-08-23 16:54] jeroenvisser101 commented on #120
@thijsc @matsimitsu #124 is green, can you check it out?

[2016-08-25 15:08] tombruijn opened #127 "extconf.rb returns exit code 0 on failure"
I think extconf.rb should return a failure exit code when it fails to build. Now the automatic build will continue without a working extension.

[2016-08-25 19:23] thijsc commented on #127
This by design. Rule nummer one is never break the customer's app/deploy. So the gem still installs, logs the issue and doesn't prevent a deploy from completing.

[2016-08-25 19:42] tombruijn commented on #127
Ah so that applies here as well.. Quite annoying to debug, a silent failed install, but I still have to figure out all the moving parts I guess. It could maybe benefit from a message to STDOUT if something goes wrong

[2016-08-25 19:47] thijsc commented on #127
There should have been a clear message in appsignal.log. If that wasn't the case I'd consider that a bug. :+1: on warning to stdout during bundle if that's possible.

[2016-08-25 19:52] tombruijn commented on #127
The message was in `ext/install.log` and `ext/mkmf.log`, but incomplete clean up of the test files made it look like everything had gone ok until I noticed the agent was running older code.

[2016-08-31 10:19] LouisKottmann opened #133 "Make installation automatable"
Hello,

Right now when I run `bundle exec appsignal install $APPSIGNAL_KEY` it asks me a bunch of questions that we'd like Ops to handle and not Devs (especially in the case of many apps).

However `bundle exec appsignal install --help` does not offer an option to do this via flags or environment variables, and reading [install.rb](lib/appsignal/cli/install.rb) I don't think it is possible at all

[2016-08-31 10:22] thijsc commented on #133
Hi Louis, thanks for trying AppSignal!

Actually one of the questions the installer asks is wether you'd like to use env vars. If you choose that option it will output a list of env vars you can send to your ops person.

This is just for convenience, AppSignal is fully configurable through the environment. You can find the options here: http://docs.appsignal.com/gem-settings/configuration.html

Do

[2016-08-31 12:31] LouisKottmann commented on #133
So if I specify these env vars I don't have to run `bundle exec appsignal install`?

[2016-08-31 12:32] thijsc commented on #133
That's correct. The installer is just a convenient way to get a config, using it is optional.

[2016-08-31 12:54] LouisKottmann commented on #133
Alright thanks!

[2016-08-31 12:54] #133 closed

[2016-09-01 09:51] #120 closed

[2016-09-06 07:52] tombruijn opened #140 "Capistrano install should add require to Capfile"
Currently that's being done to the `deploy.rb` file, but it should instead add it to the `Capfile`as that's where, in Capistrano, all the files are required.

https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/5889351579

I've personally always added the appsignal require to the Capfile instead of deploy.rb and experienced no problems.

[2016-09-06 10:12] tombruijn opened #143 "Sinatra requests to endpoints to that aren't defined in sinatra crash the transaction"
Apparently something goes wrong when a request is send to something like "/phpmyadmin" and a sinatra app doesn't listen to that endpoint. Then the appsignal gem tries to find that endpoint, but can't and crashes.

The server registers these multiple requests as 1 very long request. The transaction eventually closes when a successful requests finally happen, and the transaction actually completes.

[2016-09-07 15:13] jeffkreeftmeijer opened #147 "Incident notification treshold defaults per namespace"
- When I have performance data in both the web and background job namespaces
- I want to set my notification threshold for web incidents lower than for background jobs
- So I don't get notifications for background jobs that take longer than the typical web request

As [requested](https://github.com/appsignal/appsignal-server/issues/1680#issuecomment-245254218) by Mike from Introhive.

### Discussi

[2016-09-07 15:13] #147 closed

[2016-09-08 11:01] #143 closed

[2016-09-08 11:05] tombruijn opened #149 "Sinatra apps mounted in Rails don't set the correct root_path"
Problem found in our test-setups repo in the Rails application.

Sinatra will return the config directory as the root directory if mounted in a Rails application:
https://github.com/appsignal/appsignal-ruby/blob/b11b9478b082b8c98b33b7caaeb4eeed0081ab77/lib/appsignal/integrations/sinatra.rb#L8

[code]

Not sure why it thinks the config dir is its root dir.

This causes the Sinatra integration to no

[2016-09-13 12:23] thijsc commented on #149
Wasn't this fixed @tombruijn?

[2016-09-13 12:29] tombruijn commented on #149
@thijsc you mean this commit https://github.com/appsignal/appsignal-ruby/commit/bfa920b8a65b1edb45379057750c86ddbb3de834 on PR https://github.com/appsignal/appsignal-ruby-private/pull/297 ?

It's similar, but unrelated. That happens when you're only using Sinatra in modular apps. What I'm referring to is the path that sinatra deduces when it's mounted in a (Rack/)Rails app.

[2016-09-14 11:15] Manfred opened #153 "Permission issue when AppSignal logs to /tmp/appsignal.log"
On a few of our projects we deploy with a different user (deploy) than the application background user (app). Depending on who created the file last either deployment or booting the app fails unless we make sure to keep the log file around with the proper permissions.

[code]

I believe there are a number of things wrong here, in descending importance.
1. AppSignal should never crash my applicatio

[2016-09-14 12:38] thijsc commented on #153
This is indeed a pretty serious bug. Assumption number 1 is one of the most important things we try to live up to. I think assumption 2 and 3 make a lot of sense. We'll see if we can make that happen.

We'll work on a fix for this and will get back to you.

[2016-09-15 09:03] thijsc commented on #127
I think we can close this one now. I've added `mkmf.log` to `appsignal diagnose`, so we can now see this information.

[2016-09-15 14:07] #127 closed

[2016-09-16 07:23] tombruijn opened #155 "Removing ActionDispatch::RemoteIp middleware crashes application when using AppSignal"
Adding the following to your application crashes makes appsignal crash your application without much explanation why.

[code]

[code]

What we should do is:
1. check if the middleware is present before adding ourself to the middleware stack based on it.
2. have fallbacks on other middleware or find another way to load middleware in the right place in the stack

Maybe pick up with #159? If we instr

[2016-09-16 12:37] tombruijn commented on #149
Running into this problem again, debugging something else..

Sinatra bases the `root` path of its config on the `app_file`: https://github.com/sinatra/sinatra/blob/14db1440b53f8b21519b3674a0157d680eb72dc7/lib/sinatra/base.rb#L1882-L1883

Which if you track back far enough comes from here: https://github.com/sinatra/sinatra/blob/14db1440b53f8b21519b3674a0157d680eb72dc7/lib/sinatra/base.rb#L1797-L18

[2016-09-16 12:54] tombruijn opened #157 "Sinatra applications wrapped in many middleware loses Sinatra config"
See PR #156 and comment https://github.com/appsignal/appsignal-ruby/pull/156#issuecomment-247567473

[2016-09-19 14:56] thijsc opened #159 "Instrument Rack middleware"
If there are Rack middlewares running before your requests we should instrument these so you can see how they influence performance.

## Requests

- https://github.com/appsignal/appsignal-server/issues/2514

[2016-09-20 14:31] tombruijn commented on #159
If at all possible, find a way to track errors inside ActionDispatch::ShowExceptions and ActionDispatch::DebugExceptions, even if they're kind of private errors. Namely `ActionController::RoutingError` for routing errors and non existing routes

As suggested here:
https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/6039076300?nsrc=slack

[2016-09-21 14:09] tombruijn opened #161 "Sinatra integration doesn't listen for APPSIGNAL_APP_ENV"
The Sinatra integration doesn't listen for APPSIGNAL_APP_ENV, but instead always listen for the application's environment

https://github.com/appsignal/appsignal-ruby/blob/45f232ecdf1cc22ec1630227d7c51e38ee69722d/lib/appsignal/integrations/sinatra.rb#L9

Padrino does listen for it:

https://github.com/appsignal/appsignal-ruby/blob/45f232ecdf1cc22ec1630227d7c51e38ee69722d/lib/appsignal/integrations

[2016-09-21 15:07] DMA57361 opened #162 "appsignal_instrument_method does not work with methods that yield"
Using appsignal gem v1.3.4 on a Rails 4.2.6 application. As per the subject I think the `appsignal_instrument_method` method (and it's class equivalent) cause a problem if used on a method that attempts to `yield` to a block.

Here's a quick example class with three super simple methods that just yield:
[code]

If I call those three methods the result is:
[code]

Note that the methods that have be

[2016-09-21 15:10] tombruijn commented on #162
@DMA57361 yep, that's correct. I'll see if I can fix that really quickly

[2016-09-21 15:25] tombruijn commented on #162
@DMA57361 added a PR with support at #163

[2016-09-22 10:25] #161 closed

[2016-09-22 13:18] tombruijn commented on #153
I've added better checks in #158  and #160 for point 1.
We will log to STDOUT if no viable log path is found.

Nothing for point 2 yet, we still fallback on `/tmp/appsignal.log` if the project path is not writable.

We can't really fallback on Tempfiles in Ruby as we log to the same logfile in our rust agent as well. We'll have to log to somewhere, anywhere, else if there's no viable log path on t

[2016-09-22 13:28] #162 closed

[2016-09-22 13:55] tombruijn commented on #140
The installer also continues to add the `require 'appsignal/capistrano'` even when it's already in the file. The check for that seems to be broken.

[2016-09-23 09:13] #140 closed

[2016-09-23 12:43] tombruijn opened #168 "Remove rescue Exception occurences"
As discussed before this is not recommended for various reasons. We shouldn't capture Exception in AppSignal logic (errors that could occur by calling a method on `nil` around listening for user errors), but we should capture more exceptions than just `StandardError` that could come from code by users. For more on that, see #174

Most importantly is that we don't rescue system quit or kill calls,

[2016-09-23 18:12] julik commented on #121
As long as you know how to display them. Also, `#cause` is a linked list ;-)

[2016-09-26 09:08] Fruetel commented on #161
Any estimation when this will be available in the official gem?

[2016-09-26 09:10] tombruijn commented on #161
Hi @Fruetel, we plan to release the 1.4.0.beta1 gem today. Hope to ship a release version sometime this week.

[2016-09-26 12:48] Fruetel commented on #161
Nice, thanks for the fast feedback loop!

[2016-09-27 09:50] tombruijn opened #174 "⌨️ What errors do we want to track?"
Do we want to track `SyntaxErrors`, `NotImplementedError` en `LoadError`s (etc) in AppSignal? We don't do that now for a lot of implementations, because we only track `StandardError`s, see #168 for fixing mis-usage and my upcoming blog post.

It can however be a good addition to track more errors than those subclassed from `StandardError`. What do you think?

See https://gist.github.com/tombruijn/

[2016-09-27 13:57] thijsc commented on #121
That's the main reason this has been blocked :-). We need to come up with a good design.

[2016-09-27 13:59] thijsc commented on #174
In general we want our gem to never crash the host app. What would be the downside of catching these?

[2016-09-27 14:13] tombruijn commented on #174
Downside: More data?

There isn't really a downside, but I was curious if there was a conscious decision to only catch StandardError for most integrations (and Exception in a few other cases)?

Catching these extra errors doesn't cause a greater danger of crashing the app, we'll register those errors and then re-raise them to let the normal error handling do its thing

[2016-09-27 14:32] tombruijn opened #176 "Hybrid adding of errors"
Import from: https://github.com/appsignal/appsignal-ruby-private/issues/306

@thijsc

@matsimitsu

What do we want to do with this one in the end?

We can always add a config option for the option to send errors directly or not

[code]

Idea:

- https://gist.github.com/tombruijn/87dcf4e714f9158457d10277e6cf3ce4

[2016-09-30 12:27] Fruetel commented on #161
We have it in production now, works like a charm. Thanks!

[2016-10-04 17:09] tombruijn opened #181 "Improve appsignal diagnose"
Things I see are lacking right now in our diagnose command
- [x] Add ruby version
- [x] Gem install location
- [x] Add OS type and version
- [ ] Deterministic way to detect Alpine linux (other than extension install failure)
- [x] Add docker container id
- [x] Add more verbose docker detection (in case someone overrides `running_in_container` manually)
- [x] Add heroku detection
- [x] Log path loc

[2016-10-04 17:10] tombruijn opened #182 "Add appsignal log command"
The gem knows where the log is, instead of finding the log first we can just ask users to run `appsignal log` that outputs the contents instead.

`--tail` for bonus points?

[2016-10-06 13:30] matsimitsu opened #183 "Add response status code to transaction metadata"
Response status codes (200,202 etc.) could help debug performance issues. e.g. short-returning a 404-not found could have a different impact on your app then returning a 200 with a body. While it might be clear from the event timeline, I think it's nice to have as additional metadata.

---

Blocked by https://github.com/appsignal/appsignal-ruby/issues/329

## Instrumentations

Response status repo

[2016-10-06 21:08] tombruijn opened #184 "Log to STDOUT when set through option"
Let's give the option to the user instead of using a workaround by tricking the system into thinking it's on Heroku (the only time we log to stdout on purpose) `DYNO=foo ruby app.rb`

[code]

`log: stdout` has my preference

When no path is writable it should log to stdout by default.

See also https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/6239874634

---

## TODO
- [x] Ruby process l

[2016-10-10 14:37] matsimitsu opened #186 "Ignore invalid frontend errors (name is empty)"
Check if error name is set, if not Ignore the payload and log an error.

[2016-10-14 17:38] #186 closed

[2016-10-18 14:01] Xanthus opened #195 "Possible NoMethodError?"
First off, apologies for the very random issue creation and also in case this isn't a real issue because I haven't tested it (I don't use Appsignal, I was just snooping while figuring out how it works), but this might be of interest.

Pretty sure this is going to generate a NoMethodError (unless there's a global #backtrace method patched onto Kernel somewhere by the gem)

https://github.com/appsig

[2016-10-18 14:12] tombruijn commented on #195
Hi @Xanthus, thanks for examining our code! We must not have had a test case for this 🤔

However, we removed this rescue block in #175 reworking the way we generate this sample data. So it's no longer an issue in the (unreleased) gem version 1.4.

Thanks for the report! Even if you don't use AppSignal (sure you don't want to start a free trial? 😉 ) Let us know if you found anything else that strik

[2016-10-18 14:12] #195 closed

[2016-10-18 14:15] tombruijn commented on #195
Also, to show our thanks, if you send your address to support@appsignal.com (with a reference to this issue) we'll send you a box of delicious stroopwaffels !

[2016-10-18 16:46] Xanthus commented on #195
Hi @tombruijn

Sure, no problem! Happy to help. Stroopwaffels sound great - do you deliver to London or do I have to wait till I visit Amsterdam again? :)

The service looks quite interesting. I found it because I'm subscribed to the Ruby Magic newsletter (good job on that). I'm starting pre-launch trialing for a new app in a few months, I'll probably give it a go then, thanks!

[2016-10-18 18:50] tombruijn commented on #195
We deliver! We ship worldwide even. London's not that far either :) also, feel free to visit when you're in Amsterdam.

Great to hear you're considering us. Let me know if you have any questions!

[2016-10-25 11:14] tombruijn commented on #183
We can get the status code from the `@app.call(env)` response like in the code below when we would add it to the [rails_instrumentation.rb](https://github.com/appsignal/appsignal-ruby/blob/12a052929f4ddf4ebc5ea0ba0a44376051a3aaf0/lib/appsignal/rack/rails_instrumentation.rb#L28)

[code]

This would work for any Rack application since they are required to return the response triplet: status code, he

[2016-10-25 11:36] matsimitsu commented on #183
Sounds good! 👍

[2016-10-26 14:04] tombruijn opened #202 "Deprecations for 3.0"
## Deprecated in 2.x

Methods and arguments to be removed for version 3.0.

- `lib/appsignal.rb` - `#start_logger`
  - `path_arg` argument is no longer supported. Please remove https://github.com/appsignal/appsignal-ruby/blob/4eed259e122d10df66655098ad0aa8a362f3297d/lib/appsignal.rb#L257-L259
- `lib/appsignal.rb` - `.is_ignored_error?`
  - Deprecated in PR #224 -- remove in 3.0
- `lib/appsignal.rb

[2016-10-28 13:08] christofdamian opened #206 "Monitor transactions in Rake hook"
This could be easily done in the rake hook, unless I am missing something.
I our application I am am now also patching ```Rake::Task```
[code]
I can create a pull request if nobody tells me I am really missing something.

[2016-10-28 13:23] tombruijn commented on #206
Hi @christofdamian,

Thanks for the suggestion!

It's a conscious decision not to monitor all Rake tasks' performance. We'd track all kinds of Rake tasks, even those that are always going to be slow. We wouldn't want to monitor Rails asset compilation for example. You can still add this logic to your own setup and use it, but it's probably not something we would want to turn on by default.

Let me

[2016-10-28 13:25] christofdamian commented on #206
OK, thanks for the quick response. For us it is useful as we want to see who is using resources like CPU, and SQL.
But maybe not useful for everyone as you say.

[2016-10-28 13:33] tombruijn commented on #206
Ah yes, well luckily the integration for that is easy 😄

I'll close the issue. Feel free to create new issues if you have any suggestions!

[2016-10-28 13:33] #206 closed

[2016-11-18 12:47] matsimitsu opened #211 "Try booting the agent with given config in `appsignal diagnose`"
Sometimes permission problems prevent the agent from booting, the only way to figure out what's wrong is to boot the agent manually with all ENV vars from the config set.

Ideally the `appsignal diagnose` command would try to boot the agent with the given config and log the output, so we can diagnose permission problems easily.

[2016-11-18 13:58] tombruijn commented on #211
We'd probably have to try to start the agent without daemoning it, right? Otherwise, if a logger issue occurs, we'd lose any logs from an agent that failed to start.

[2016-11-22 12:48] tombruijn opened #213 "Perform permission checks on diagnose"
- [x] Check if the directory in which the diagnose command is run is owned by the same user as the user that performs the command. So we can more easily detect permission related issues.
- [x] print a warning when the user is root.

[2016-11-24 10:20] #181 closed

[2016-11-24 13:06] tombruijn commented on #213
Fixed in #215 and #216

[2016-11-24 13:06] #213 closed

[2016-11-24 13:20] #182 closed

[2016-11-28 09:05] thijsc commented on #174
This was done already right?

[2016-11-28 09:10] tombruijn commented on #174
Nope. Not yet. I still have a branch to update this.

[2016-11-28 10:00] tombruijn opened #217 "Diagnose log path in diagnose for rails is inaccurate"
Returns `{app_path}/appsignal.log`

should be

Returns `{app_path}/log/appsignal.log`

Not set right because railtie isn't loaded

[2016-12-02 16:30] tombruijn commented on #153
Hi again @Manfred,

We've looked into the issue as previously updated. To come back to your original issues:

1. AppSignal should never crash my application
    - Indeed. We're doing our best to make sure it doesn't crash. Sometimes it does but we aim to fix that ASAP when it happens.
2. When used in Rails, AppSignal should not log outside of the Rails root unless explicitly instructed to do so

[2016-12-02 16:30] #153 closed

[2016-12-05 10:12] wesoudshoorn commented on #149
@tombruijn can you give your opinion on wether we should fix this issue or ignore because it's a rare occurrence?

[2016-12-05 10:14] wesoudshoorn commented on #157
@tombruijn can you give your opinion on wether we should fix this issue or ignore because it's a rare occurrence?

[2016-12-05 14:24] thijsc commented on #217
Fixed in #218

[2016-12-05 14:24] #217 closed

[2016-12-05 15:33] tombruijn commented on #149
It's quite an rare issue. It's only for Sinatra apps that are monitored by AppSignal while being mounted in a Rails app. I don't actually know if we can reliably detect this. We can see if Rails is active and use the `Rails.root` path instead for the Sinatra app, but is that always what a user would want?

Or we add this setup to the documentation and describe the issue there and how to set the ro

[2016-12-05 15:36] tombruijn commented on #157
Well it's really @jeffkreeftmeijer's issue ;)

But yes I think it's an important issue and could be quite common. Sinatra apps with multiple middlewares where AppSignal is not loaded first lose part of their config. So we're changing the behavior of Sinatra apps without the user knowing. That's something we should never do. Previously this raised an error, now we're hiding it, but it should still

[2016-12-14 16:09] tombruijn commented on #211
Added in #221 and will be released in 2.0.4

[2016-12-14 16:09] #211 closed

[2016-12-15 09:19] tombruijn commented on #184
Last addition: output last lines from `appsignal.log` to STDOUT on agent connection failure, when the agent fails to start, added in gem v2.0.4.

Closing

[2016-12-15 09:19] #184 closed

[2016-12-26 08:28] thijsc opened #225 "Ruby 2.4 support"
Some change were made in fixnum and bignum: https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/

[2016-12-31 07:35] blackchestnut opened #230 "Error in Custom instrumentation for background jobs"
Hi,
I have error
[code]
 for example:
http://docs.appsignal.com/ruby/instrumentation/background-jobs.html#start-a-transaction
[code]
The third argument is a `request`
https://github.com/appsignal/appsignal-ruby/blob/v2.0.4/lib/appsignal/transaction.rb#L23
and then on the line 287 raise an error:
[code]
https://github.com/appsignal/appsignal-ruby/blob/v2.0.4/lib/appsignal/transaction.rb#L287

Perha

[2017-01-03 10:06] tombruijn commented on #230
Thanks for the report @blackchestnut !

I'll have a look at what's going wrong there. I see that documentation page could also use a few updates. Will keep you updated

[2017-01-04 09:24] tombruijn commented on #230
Looks like this is a bug. I've updated the docs page to use the `Appsignal::Transaction::GenericRequest` class to wrap the env. http://docs.appsignal.com/ruby/instrumentation/background-jobs.html

Instead of your workaround I recommend you use a `Appsignal::Transaction::GenericRequest` object.

I will create a PR so this would at least not crash when you supply a hash or another type of object.

[2017-01-05 09:32] #230 closed

[2017-01-05 12:04] matsimitsu opened #232 "Add support for custom namespaces"
Right now we have two "namespaces" one for web requests and one for background jobs. We like to support more namespaces, so we can put a site's admin in a separate namespace. This way you can ignore admin performance issues more easily. It also prevents (possibly) slow admin pages from affecting the "web" namespace performance.

We need to figure out a way to set the kind of namespace the current

[2017-01-20 20:18] adamalbrecht opened #237 "Support for rake tasks initiated by a cron job?"
I use the [Whenever](https://github.com/javan/whenever) gem to run cron jobs for my app. It just sets up my crontab file to execute rake tasks. So the tasks are executed like so:

`cd /path/to/my/app && RAILS_ENV=production bundle exec rake foo:bar --silent`

Is there a way to make AppSignal pick up errors generated by such a command?

Thanks!

[2017-01-20 20:22] tombruijn commented on #237
Hi @adamalbrecht!

Yes, AppSignal supports Rake tasks. If you have installed AppSignal in your project it should automatically start tracking errors.

More information can be found about it here: http://docs.appsignal.com/ruby/integrations/rake.html

Experiencing problems with the integration?

[2017-01-20 20:28] adamalbrecht commented on #237
@tombruijn Thanks for the quick response!

Yes I saw that page earlier, so I created a test rake task that raises an error and scheduled it to run every 15 minutes. I see in the log that it has run and failed multiple times, but I'm not seeing anything in AppSignal.

I had just upgraded from 0.11.* to 2.0.5. Perhaps there is some configuration that I need to add?

[2017-01-20 20:41] thijsc commented on #237
It's possible that upgrade changed something, there were a lot of changes since the 0.11 series. Could you ping us on the chat in the app or send and e-mail to support@? There's probably some specific thing in your setup that trigger this.

[2017-01-20 20:45] thijsc commented on #237
These are the current docs for integrating with Rake by the way: http://docs.appsignal.com/ruby/integrations/rake.html

[2017-01-20 21:27] adamalbrecht commented on #237
It looks like there was an upgrade issue related to Capistrano. But I resolved that and the problem is still happening. So I don't think it's an upgrade issue. But I will ping you via chat.

[2017-01-21 09:25] tombruijn commented on #237
Looks like AppSignal wasn't loaded yet. We will update the docs to include this scenario.

Closing

[2017-01-21 09:25] #237 closed

[2017-01-27 09:37] walro opened #241 "Misleading message output when running on Heroku"
Hello,

We are seeing the following message being emitted upon start up of our application on Heroku:

`2017-01-27T08:19:57.855597+00:00 app[web.2]: appsignal: Unable to log to '/app/log'. Logging to '/tmp' instead. Please check the permissions for the application's (log) directory.`

On Heroku you are supposed to write to `STDOUT`, which the the gem [already ensures](https://github.com/appsignal/

[2017-01-27 10:08] tombruijn commented on #241
Hi @walro,

We're aware of this warning on Heroku and similar hosting platforms. Our Ruby gem logs to STDOUT as much as it can, but our agent running in a separate process writes to a log file and by default that's the `log/` directory in the application's root directory.
Since that path is not writable the warning is logged. You can safely ignore it, or set the `log_path` to `/tmp` to hide it.

[2017-01-27 10:08] #241 closed

[2017-01-27 10:11] walro commented on #241
Ah right, didn't think of the agent. Thanks for getting back to me, I think we'll simply ignore the message for the time being.

[2017-01-27 10:49] tombruijn commented on #241
Cool :)

I've also made a note to add some more details about that warning in our documentation, gem and website, and why we use log files at all when `log: stdout` is configured.

[2017-02-02 10:39] timraasveld opened #247 "Stub frontend error catcher in development"
Right now, I think Rails development workflow is worsened when the frontend error catcher is enabled.

When you make a programming error resulting in a 500 , you see two exceptions in the Rails and browser log:
1. First, your Rails error (the one you are interested in)
2. Then, a 404 not found for `/appsignal_error_catcher`

This causes noise and unneccesary scrolling :(

Would it make more sense

[2017-02-08 13:20] jeffkreeftmeijer opened #250 "Add full endpoint and parameters to net/http instrumentation"
As reported [via support](https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/8136173680%3Fnsrc=slack):

Instead of just storing the request method and host in our [net/http integration](https://github.com/appsignal/appsignal-ruby/blob/5757e28bac8043b9ac04c91b65130d0bb383ed33/lib/appsignal/hooks/net_http.rb#L19), it'd be useful to send the full endpoint and request parameters along in the e

[2017-02-08 13:43] #250 closed

[2017-02-08 14:53] tombruijn commented on #247
Hi @timraasveld, sorry the for the belated response.
The frontend error catcher is enabled but the endpoint is not found? Is that only the case in development? Or have you manually disabled the frontend error catcher only for development?

[2017-02-11 10:47] timraasveld commented on #247
Yes, the endpoint is enabled, and it's only the case in development. (404)
We didn't override the error catcher in development, but obviously did set `enabled: false` for the gem in development.

Feel free to take a look at [the config](https://github.com/roqua/screensmart/blob/b5cf71f6cfc3e5c8fe5bc3c22e6df20e8d65fe9f/config/appsignal.yml) in one of the projects.

Right now I worked around it by u

[2017-02-14 12:47] Fruetel opened #251 "APPSIGNAL_INSTRUMENT_SEQUEL has no effect"
In my environment, I configure

`export APPSIGNAL_INSTRUMENT_SEQUEL="false"`

but I still see appsignal metrics for SQL calls. Also, the code in appsignal-ruby/lib/appsignal/config.rb does not suggest that the environment variable is actually evaluated.

[2017-02-14 12:53] thijsc commented on #251
That should actually work. It gets translated to the config option `: instrument_sequel ` and then gets used here: https://github.com/appsignal/appsignal-ruby/blob/master/lib/appsignal/hooks/sequel.rb#L37

Which version of the gem are you using? Could you run `bundle exec appsignal diagnose` and make sure the config option is actually there?

[2017-02-14 13:18] Fruetel commented on #251
Appsignal 2.0.6 - I need to avoid 2.1.0 due to DNS issues.

`
Projekte/queue-elements [ export APPSIGNAL_INSTRUMENT_SEQUEL="false"
Projekte/queue-elements [ appsignal diagnose | grep -i sequel
  instrument_sequel: true
`

[2017-02-14 14:52] tombruijn opened #252 "Test transaction from extension with `appsignal_transaction_to_json`"
- [x] Implement `appsignal_transaction_to_json` in the Gem's C-extension #291
- [x] Add it to tests to check if all the assertions are correct.
- [ ] Add test mode to extension so that we don't have to stub the `complete` call

See: https://github.com/appsignal/appsignal-agent/pull/228

[2017-02-14 14:53] thijsc commented on #252
`appsignal_transaction_to_json` can return an empty string, you should interpret that as `nil`. I'd return `Qnil` from the C glue code in that case.

[2017-02-15 14:30] liamnoone opened #253 "Padrino's payload action uses the older request_obj method even when the newer action-based method is available."
In the Padrino integration there's two-three possible options when reporting the name of the request.

The first is the older "route_obj" method. Based on the documentaiton alongside the code this is considered the fallback version, with better support.

This produces data like `App:/demo/hello(.:format)?`, which isn't the prettiest output in the dashboard.

The other method is the "action"-based

[2017-02-20 12:38] thijsc commented on #149
I'm wondering if we should do something with this. We could drop down one level if Rails is loaded and the root path starts with `config`?

[2017-02-20 12:39] thijsc commented on #157
Is this related to #149?

[2017-02-20 12:40] thijsc commented on #168
I think this one can be closed after the various merged PRs?

[2017-02-20 12:40] thijsc commented on #225
This has been fixed in #234

[2017-02-20 12:40] #225 closed

[2017-02-20 13:44] thijsc commented on #251
This was indeed a bug, fix will be released in the next release.

[2017-02-21 09:03] thijsc commented on #253
Thanks for researching this. The proposed change looks good. It would indeed change the behaviour, so it should at least be in a minor release. I think we'll release 2.2 quite soon, this could be a part of this.

Do you already have a branch of this on the gem?

[2017-02-21 10:07] tombruijn commented on #168
There are four occurrences remaining, they are also listed as Rubocop violations in `.rubocop_todo.yml`.

One in the minutely probe and 3 in the rack streaming listener.

I could look at it sometime this week(end), we can keep the issue open until then?

[2017-02-21 10:36] tombruijn commented on #157
No it's a different issue unfortunately

[2017-02-23 08:43] raytalks commented on #125
https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/8396790008%3Fnsrc=slack

[2017-02-27 10:28] #251 closed

[2017-03-01 11:15] #232 closed

[2017-03-06 10:48] liamnoone commented on #253
I don't currently have a branch of the gem with this change.

Other than adding tests this is the required change to close this issue from what I can tell.
I avoided adding a branch + MR due to it changing the output as mentioned.

[2017-03-13 10:21] thijsc opened #264 "🐞 Capistrano set should override config"
Currently the Capistrano config is used as the initial configuration, thus it is only used as the base and cannot override anything. We should change this around so using `set` in a recipe overrides any config that may be set.

[2017-03-13 16:30] tombruijn commented on #253
I've created a PR for this in #265. Could you try it out @liamnoone ? And see if you're getting the results you expect

[2017-03-14 10:30] tombruijn commented on #247
Hi @timraasveld this was fixed in #263. Let me know if this still happens :)

[2017-03-14 10:30] #247 closed

[2017-03-14 18:52] liamnoone commented on #253
Hi,

Thanks!

I ran some initial testing and the data entries are much nicer now!

The testing was only some brief testing of different endpoint configurations, so it wasn't an exhaustive test. I'll run it more during the week if you'd like some longer testing but to me it looks good now and no exceptions appeared throughout three different apps.

[2017-03-21 17:58] andrew opened #268 "What does enable_minutely_probes do?"
Just setting up appsignal on https://github.com/librariesio/libraries.io and noticed that there's an option in the ruby gem called `enable_minutely_probes` which isn't documented in http://docs.appsignal.com/ruby/configuration/options.html

What does it do? Should I enabled it or ignore it?

Thanks!

[2017-03-28 09:54] tombruijn commented on #253
Great! Thanks for the feedback. We'll release this in gem version 2.2 sometime soon.

[2017-03-28 09:54] #253 closed

[2017-03-30 15:12] tombruijn opened #272 "Ignore_namespaces option"
So people have another reason to use namespaces. So you don't have to provide big lists of actions for admin controllers or something

[2017-03-31 01:27] zlx commented on #272
Yes, I like the feature.

[2017-04-03 09:06] tombruijn opened #273 "ActionCable support"
- https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/conversation/9039706354
- https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/conversation/9011790920

[2017-04-06 09:20] tombruijn commented on #268
Hi @andrew!

Sorry for the belated response. This issue came in a bit under the radar 😓

The minutely probes are currently only used by the AppSignal GC profiler probe. We have one minutely probe to track metrics from the Ruby Garbage Collector. This data is currently unused while we work on a way to display this properly in the AppSignal.com UI. We don't have a release date for this feature yet.

[2017-04-06 09:20] #268 closed

[2017-04-06 16:10] andrew commented on #268
No problem, thanks for the response, I was wondering why I couldn't find any GC data in the UI, that makes sense now!

[2017-04-07 17:54] tdegrunt opened #277 "Backburner background processor library support"
Would it be possible to support Backburner out of the box?

It's the first option mentioned under [ActiveJob::QueueAdapters](http://api.rubyonrails.org/classes/ActiveJob/QueueAdapters.html), I realise it's not the most popular option (though it should be!), but I hope you can still support it out of the box.

I've checked the documentation here: http://docs.appsignal.com/ruby/instrumentation/backg

[2017-04-24 08:53] matsimitsu opened #281 "Ensure `send_exception` and `set_exception` take the same arguments"
It's weird that one accepts tags/namespace and the other doesnt, we should make them both accept the same arguments, so you can easily switch them out.

Right now:

[code]

[2017-04-26 12:38] matsimitsu opened #282 "Handle kubernetes one-off jobs"
When running a job in kubernetes, calling `Appsignal.stop` only ensures that the data is sent to the agent, but it doesn't guarantee that the agent has sent the data to our push API.

Ideally calling `Appsignal.stop` will block until the Agent has shut down. This ensures that all data is sent before the container is killed.

[2017-05-05 14:23] tombruijn opened #284 "Support Rails 5.1"
Rails 5.1 doesn't report error using the AppSignal gem, because something changed in the middleware stack. This gist contains a workaround we need to transform into a fix for 5.1 while being backwards compatible: https://gist.github.com/tombruijn/c2029c907e7322977f29cc26816da390

[2017-05-08 15:53] tombruijn opened #287 "All DataMapper queries are reported as 0µs"
![incident - padrino test - appsignal 2017-05-08 17-49-55](https://cloud.githubusercontent.com/assets/282402/25812648/3c2a077c-3417-11e7-9c0b-5d488aa598b2.png)

[2017-05-09 09:22] tombruijn opened #289 "Padrino integration creates two transactions?"
Which means that the events of the first one are ignored resulting in the missing "process_action.padrino" event.

This happens because Padrino calls `route!` in its own `route!` method again, this time with the `base.superclass` argument: https://github.com/padrino/padrino-framework/blob/4a80dca4ec0c52a9c7daa2e28d17c1d8cb024e4b/padrino-core/lib/padrino-core/application/routing.rb#L974

[2017-05-09 12:22] tombruijn commented on #287
Problem found. Was a badly ordered argument in the c-extension

[2017-05-09 14:57] tombruijn commented on #289
Problem comes from a `throw :halt` Padrino uses. Changing the instrument method to use an `ensure` rather than a "soft" value capture would fix this.

Should be changed in `Appsignal.instrument` and `Appsignal::Transaction#instrument`, or just once in the proposed PR #288

[code]

[2017-05-10 13:11] #287 closed

[2017-05-10 13:15] tombruijn commented on #284
Fixed in #286

[2017-05-10 13:15] #284 closed

[2017-05-10 13:45] tombruijn commented on #281
Could we maybe also change that the behavior of the two and combined them?

If there's no current transaction, a new one is created, the event is added and the transaction is completed.
If a transaction is active the error is added to that transaction.

That way we eliminate the confusion between the two.

[2017-05-10 13:46] tombruijn commented on #281
Oh.. Just realized we already had an issue for that: https://github.com/appsignal/appsignal-ruby/issues/176

[2017-05-10 14:21] tombruijn commented on #289
Looks like the original problem: "2 transactions being started for a request to a Padrino app", only occurs when the route doesn't exist. When the route doesn't exist in Padrino, it gets asked to a Sinatra app (through the Padrino `route!` method for some reason).

[2017-05-15 12:09] timraasveld commented on #247
@tombruijn that does the trick, thanks a lot! 👍

[2017-05-15 12:53] tombruijn commented on #247
yay 🎉
Thanks for letting me know!

[2017-05-24 07:23] tombruijn opened #296 "Delayed job queue time should be based on run_at"
Currently it's based on the `created_at` field: https://github.com/appsignal/appsignal-ruby/blob/4433d06da6c50cdca7a593d6f26af46456a90a9c/lib/appsignal/integrations/delayed_job_plugin.rb#L42

but if a job is created a day before it should run that whole day counts as queue time even if it's not supposed to be running at all, skewing the queue time graph for background jobs.

Recommended change: ba

[2017-05-24 10:13] tombruijn commented on #296
Reproduced, it was the `created_at` that created the lengthy queue time

[2017-05-26 11:58] #296 closed

[2017-05-26 14:20] tombruijn opened #298 "Refactorings"
Tracking issue

As discussed my ideas of some refactoring of the Ruby gem. This Epic has issues linked to it in ZenHub.

[2017-05-26 14:23] tombruijn opened #299 "Refactor test suite"
- Less stubbing and mocking
- Test transaction contents from extension.
- Don't unit test integration(s middleware), but test against an actual app. See Padrino tests for an example.
- Less `before :all|context` usage
- Less instance variables usage
- Use a random order for the test suite. Spot problems with connected tests.

[2017-05-26 14:24] tombruijn opened #300 "Deprecate `set_*` methods on Appsignal module & Transaction class"
Methods that override attributes (action, namespace, error), rename them with `#{name}=` attribute writers.

Methods that add data to collections (tags, metadata and sample_data), rename to `add_#{name}` methods.

[2017-05-26 14:25] tombruijn opened #301 "Replace instance variable usage with readers"
Easily fixed. See `Appsignal::Transaction@ext` for example. An `attr_reader` exists, but we use an instance variable anyway.

[2017-05-26 14:25] tombruijn opened #302 "Move instrumentation helpers to their own module"
Extract methods from `Appsignal` module and include as a separate module.

- Easier instrumentation helpers reuse;
- Better code organization;
- Makes the Appsignal module a lot more readable;
- Decrease complexity of Appsignal module: https://codeclimate.com/github/appsignal/appsignal

[2017-05-26 14:27] tombruijn opened #303 "Remove `Appsignal.start_logger` method"
Now it's confusing to use both `Appsignal.start` and `Appsignal.start_logger` and in what order.

Combine public interface with `Appsignal.start`. Use internal method to start the logger separately for the `Appsignal.forked` method.

Keep a '.start_logger` method that output a deprecation warning until it's removed in v3: #202
but move the logic to an internal method

[2017-05-26 14:27] tombruijn opened #304 "Move Util classes to their own files"
`Appsignal::Utils::JSON|Data` like `Appsignal::Utils::QueryParamsSanitizer|ParamsSanitizer`.

[2017-05-26 14:28] tombruijn opened #305 "Use instances of CLI classes rather than class methods"
See `cli-refactor` branch.

- [ ] `Appsignal::Marker` move `puts` statements to `Appsignal::CLI::NotifyOfDeploy`

[2017-05-26 14:30] tombruijn opened #306 "Move "type" constants to nested constants"
From:

[code]

to

[code]

Ruby supports deprecating and aliasing constants.

[2017-05-26 14:31] tombruijn opened #307 "Capture exceptions with `Appsignal.instrument`"
`Appsignal.instrument` is only really useful now for performance instrumentation. Recording errors needs to be done with the confusing `Appsignal.send_error|set_error|listen_for_error` methods.

To make instrumentation easier for users I suggest adding exception detection to `Appsignal.instrument`.

[2017-05-26 14:43] tombruijn opened #308 "Use keepachangelog.com as a changelog format"
See http://keepachangelog.com/ for the format. We can apply this  to the Ruby and Elixir projects.

[2017-06-09 14:05] jeffkreeftmeijer opened #311 "Disable gracefully on Windows"
AppSignal should install and be able to run the `appsignal` tasks. The integration itself should always be disabled.

[2017-06-13 13:38] tombruijn commented on #155
This has been changed to the `ActionDispatch::DebugExceptions` middleware in #286. Same problem there. If you remove that middleware the same problem occurs.

[2017-06-14 09:22] tombruijn commented on #311
I've been testing the gem on Windows. This is what I have so far.

## Gem installation

The gem installation itself works as long as the DevKit is installed on Windows. I'll update the docs to mention this.

## AppSignal install

Result of `appsignal install PUSH_API_KEY`:

[code]

Looks like the `appsignal install` command line tool broken in #219/#158 and potentially a change before that where w

[2017-06-14 14:15] tombruijn opened #314 "ActionCable support streams"
http://guides.rubyonrails.org/action_cable_overview.html#streams

For next iteration of ActionCable support

ActionCable support was added in #309

[2017-06-14 14:18] tombruijn opened #315 "Improve installer flow"
- [x] Even when we don't detect a (supported) framework, provide the option to configure AppSignal (write a config file or output the needed env vars). ~#313~
- [x] Update framework instructions to use loader mechanism
- [x] Link to the docs about the installation http://docs.appsignal.com/ruby/installation.html
- [x] Output "appsignal diagnose" tip in appsignal install when exiting with an error.

[2017-06-14 14:31] tombruijn opened #316 "Test AppSignal gem on Window's Subsystem for Linux (WSL)"
https://gorails.com/setup/windows/10

If it works: yay 🎉
otherwise: document the problems and possible changes needed for this to work.

[2017-06-15 07:27] tombruijn commented on #272
Closed in #312

[2017-06-15 07:27] #272 closed

[2017-06-15 07:35] #273 closed

[2017-06-22 07:51] #311 closed

[2017-06-22 09:16] tombruijn commented on #281
Fixed in #317

[2017-06-22 09:16] #281 closed

[2017-06-23 04:05] tonytonyjan commented on #184
I set `log: stdout` with v2.2.1, but it still writes to `log/appsignal.log`, having no idea how to diagnosis.

[2017-06-23 06:04] tonytonyjan opened #318 "`log: stdout` does not work"
appsignal version: 2.2.1
ruby version: 2.4.1
rails version: 5.1.1

Reproduce:

1. Create a new rails app with `rails new`
2. Add the gem to `Gemfile`

       gem 'appsignal', '2.2.1'

2. `bundle install`
3. `bundle exec appsignal install xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`
4. update config/appsignal.yml

       default: &defaults
         push_api_key: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[2017-06-23 10:12] tombruijn commented on #318
Hi @tonytonyjan,

This behavior is correct, although a bit confusing.

If I'm correct you should only see logs from our system agent in the log file? Prefix `(agent)` in the log file. The logs from the `(process)` and `(extension)` should show up in your application's STDOUT.

---

## What's happening when you set `log: stdout`?

On the [`:log`](https://docs.appsignal.com/ruby/configuration/option

[2017-06-23 10:12] #318 closed

[2017-06-27 13:06] tombruijn opened #319 "Transaction.store is unused"
Can we remove this?

(Part of refactor epic)

[2017-06-29 15:00] tombruijn commented on #174
My idea would be not to rescue Exception (the main exception class in Ruby), but the following subclasses: `NoMemoryError, ScriptError, SecurityError, StandardError, SystemStackError`.

We wouldn't necessarily want to track/report occurrences of `SystemExit` and `SignalExit` when a user kills/stops an application. Those are not really an error we necessarily want to report all the time.

For examp

[2017-07-03 11:13] Schwad opened #320 "NameError: uninitialized constant AppSignalController::AppSignal"
## VERSIONS

Rails: 5.0.3
Ruby: 2.3.3p222

## ISSUE

We have AppSignal integrated in our application and have been loving the experience. Recently the need came up to manually raise some errors. I was going to build in an in-house POST request to a slack channel, but would really rather keep all of our exceptions wrapped up in AppSignal for documentation purposes.

I'm coming across an error, whic

[2017-07-03 11:27] tombruijn commented on #320
Hi @Schwad,

Great to see you're loving the experience!

The problem here is that our module name is called `Appsignal` without the capital `S`. Otherwise our gem should officially be called `app_signal`.

What happens is that when calling `AppSignal.set_error` Ruby can't find a module with that name anywhere and thus errors our saying it can't find it in the scope you called it in.

`Appsignal.se

[2017-07-03 22:43] Schwad commented on #320
Man, I must have been having a long day.

You're correct in that that resolved my error....

Hopefully if some other tired soul gets the same error some day this issue will give them a heads up to double check their capitalization! Thanks so much!

[2017-07-04 07:37] tombruijn commented on #320
Thanks for trying to stay true to the correct capitalizing the brand name 👍  We appreciate it

I have wondered if aliasing an `AppSignal` constant to the `Appsignal` module would be a nice  addition to the gem. It would have certainly prevented your issue. And allow users to use the correct capitalization of the brand name 😄

[2017-07-04 07:37] #320 closed

[2017-07-13 16:27] ryansch opened #321 "Custom EventFormatters are wonky/dangerous"
The way custom formatters work now is a bit wonky.

Example Setup:
[code]

The real issue I ran into was with my Dalli formatter.

[code]

The original version of this code had the following format method:
[code]

That managed to get through dev/test just fine but when I pushed it into production it took out two main sections of our website.  I failed to notice that Dalli passes an Array of key na

[2017-07-17 09:39] jeffkreeftmeijer commented on #321
Hey @ryansch,

Thanks for reporting this, and sorry for causing issues in your app. We’d rather not turn the exceptions into warnings here, because that’d hide errors in the code, making it more difficult to debug. Of course, we try to make this as robust as possible, but adding type checks here could increase overhead (and raising an error when a type check fails would bring us back where we star

[2017-07-20 20:03] ryansch commented on #321
@jeffkreeftmeijer Could we make it configurable?  I'm accepting arbitrary data from various gems and if any of them change that data in an incompatible way in a future update and I don't notice then I'm going to be right back here.  We have centralized logging and I can alert on log events so it's not a visibility issue for me.

[2017-07-21 09:27] jeffkreeftmeijer opened #323 "Streamline deploy notifications in Capistrano deploys"
We prefer the [`APP_REVISION` environment variable](https://docs.appsignal.com/application/markers/deploy-markers.html#app_revision-environment-variable) over the `notify_of_deploy` task, but since there's no proper way to set environment variables on the server in a Capistrano deploy, that's proving to be difficult to set up. We need a nicer way to do this, so we can actively recommend users to s

[2017-07-24 08:46] thijsc commented on #321
You could catch the exception in the formatter yourself and log that. We have a testing matrix for most of these (see https://github.com/appsignal/appsignal-ruby/tree/master/gemfiles). Our normal approach is to make the formatters very resilient and test them with everything we integrate with.

Would you be open to turning your code into a pull on this repo? We can then make it part of the whole t

[2017-07-24 09:09] tombruijn commented on #125
Updated the issue desscription with a TODO list of steps we need to take to support Hanami fully.

[2017-07-26 12:30] tombruijn opened #325 "Remove x-auth-token header from saved headers"
This to prevent saving sensitive data from our users' systems without being explicit about it.
If you do want to save this kind of data, we recommend you use tagging: https://docs.appsignal.com/ruby/instrumentation/tagging.html

Location: https://github.com/appsignal/appsignal-ruby/blob/508c6ecc62136b7c77042359d50a0819b8fcb455/lib/appsignal/transaction.rb#L23

[2017-07-27 17:34] ryansch commented on #321
The problem is that the formatter didn't raise an exception.  It unexpectedly returned an array instead of a string.  That caused an exception to be raised inside of `finish_event` (https://github.com/appsignal/appsignal-ruby/blob/master/lib/appsignal/hooks/active_support_notifications.rb#L40) which I can't rescue from inside the formatter.

I'd be fine with adding PRs for my Dalli and Excon forma

[2017-07-27 17:52] ryansch commented on #321
Excon requires a little hackery to get their AS::Notification names correct (https://github.com/excon/excon#instrumentation).

[code]

I'm conflicted over whether or not that code should be enabled by default.  If we do include it, is it an integration or a hook?  I was a bit confused as to the difference while looking through the code in this gem.

[2017-07-28 15:33] tombruijn opened #326 "Allow mixed case values for "true" in env vars"
An issue occurs every once in a while where someone sets `TRUE` or `True` and then it doesn't work :(

[code]

https://github.com/appsignal/appsignal-ruby/blob/ee40a6ed0d4e0d77cb160c460e4725f4b8393ded/lib/appsignal/config.rb#L222

[2017-08-01 10:08] matsimitsu commented on #176
Another thing to keep in mind when we refactor this is that it would be nice to be able to set an error without having to create one first.

now:
[code]

maybe later?
[code]
This way you don't have to create error classes and instantiate objects.

[2017-08-01 16:34] ryansch commented on #176
It's my understanding that you have to call `set_backtrace` on the error in the first example before you hand it off to `set_exception` as well.

[2017-08-04 13:52] tombruijn opened #329 "Standardize rack middleware"
There are problems with mounting grape (and other) apps on Rails apps. This creates two transactions and flip-flops between the two integrations. To make sure only one transaction gets created standardize the rack middleware integration.

## TODO

### Rack middlewares to refactor

- [x] Create one middleware at the top of the stack, instrument other middleware #159
- [x] pure-Rack - EventHandler a

[2017-08-10 09:22] tombruijn commented on #329
Waiting for a Grape app where we can reproduce the original problem with

[2017-08-11 07:45] tombruijn commented on #155
Timeboxed in an hour: look if we can detect which middleware is present at the time we add our middleware to the proxy. If not, close the issue and this becomes a requirement for AppSignal to work in Rails.

[2017-08-11 07:50] tombruijn commented on #176
Would be nice if we can combine this with Exception causes https://github.com/appsignal/appsignal-ruby/issues/121

It would also be nice to be able to track multiple errors on one transaction.

[2017-08-11 07:59] tombruijn commented on #174
Idea from @matsimitsu:

Track everything (Exception), add default list of suggested ignored exceptions (SignalExit and SystemExit, for example) for new users in `appsignal.yml`.

Detect in processor an upgrade and mail users about the changes in the type of exceptions we track. We can also send users an changelog diff when they upgrade.

[2017-08-11 08:01] tombruijn commented on #157
We might be able to review/fix this in #329

[2017-08-11 08:03] tombruijn commented on #289
Should be fixed with the standardized middleware in #329

[2017-08-11 08:17] tombruijn commented on #159
Review how we would want to do this in combination with #329
Timeboxed research about methods we can do this with one or more middlewares and potential rack monkey patches.

[2017-08-11 08:22] tombruijn opened #330 "Review ActiveJob support"
Support ActiveJob without the need for additional integration such as Sidekiq, Resque, etc. Currently it's set up that we only support a couple libraries with ActiveJob support.

This doesn't mean we remove the separate integrations for these integrations, for use without ActiveJob, but that we generally support ActiveJob and some libraries separately.

Would resolve #277
See private issue: https:

[2017-08-11 08:43] tombruijn commented on #323
Add a config option: `revision: abcdef1`
Or add a revision file `APP_REVISON`/`.appsignal_revision` with one line that reads the last revision

Also relevant for Elixir https://github.com/appsignal/appsignal-elixir/issues/215

[2017-08-11 08:50] tombruijn opened #331 "Research possibilty to allow metadata to be set through the request env"
Add the metadata in the integration middleware and read that from the generic rack middleware as described in #329

[code]

and then we'll capture that in the rack middleware `ensure` and set it on the transaction there.

[2017-08-15 08:48] #326 closed

[2017-08-15 08:50] #325 closed

[2017-08-15 08:55] #319 closed

[2017-08-21 11:23] midN commented on #174
Hello,

As i was debugging some cases when Airbrake was reporting our Prod errors while Appsignal was not i ended up in this PR.

If it makes any difference i would vote for rescuing all `Exceptions` since like in our case, it turned out we had some Gem, or even couple of them, that are raising their Exceptions not based on `StandardError` but rather just `Exception`.
Like the above idea, adding `

[2017-08-21 11:51] thijsc commented on #321
That would be a hook. The hook system can determine which dependencies are present and add some custom behaviour if they are.

This is indeed a little complicated behaviour, but sometimes there's no way around it with formatters.

[2017-08-21 11:57] tombruijn commented on #174
Thanks again for reporting the issue! So far we've decided to go with the strategy commented earlier https://github.com/appsignal/appsignal-ruby/issues/174#issuecomment-321752002
which should end up in v2.4 of the gem

[2017-08-22 18:16] bpeicher opened #337 "Allow appsignal_app_env to be set in appsignal.yml"
It appears that this is the only configuration option that can't be set in appsignal.yml: https://docs.appsignal.com/ruby/configuration/options.html#appsignal_app_env

Use case: we have a generic `RELEASE_STAGE` variable that defines our various environments. It contains the exact value that should be submitted to appsignal as the app environment, but we aren't allowed to do this for some reason:

[2017-08-23 09:55] thijsc commented on #337
The thinking behind this is that the yml configures for an environment. I do see an option that we add a top-level attributes for this:

[code]

Another could be adding something to make the name of the env var configurable. That might be the most flexible one actually. What do you think?

[2017-08-23 17:32] bpeicher commented on #337
Either one is fine with me - and much cleaner than our workaround. Thanks for looking at it.

[2017-09-07 11:29] tombruijn opened #343 "Review our ActiveJob integration"
Review our ActiveJob integration after #345.

In delayed job were all reported with the same name: `ActiveJob::QueueAdapters::DelayedJobAdapter::JobWrapper`

maybe the same assumption was made in Sidekiq, so let's review other AJ integrations and see it they still work.

Bonus: Add examples app for each variation to https://github.com/appsignal/appsignal-examples

[2017-09-07 14:39] tombruijn commented on #343
https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/conversation/11314730559

[2017-09-08 07:43] tombruijn commented on #174
https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/540709/conversations/11598818180
(new comment for intercom hook)

[2017-09-23 17:29] jqr opened #349 "Standard startup logging is verbose"
The default logging is a bit excessive for starting a Rails console, producing 4 lines in a simple Rails application.

[code]

Some options I see to improve:

1. Combine these into one:  `Starting AppSignal 2.3.3 (/app/bin/rails, Ruby 2.4.2, x86_64-linux) with action_cable, active_support_notifications and net_http hooks`
2. Set some/most of them to DEBUG so we only see them when `debug: true`.
3.

[2017-09-28 08:41] kjeldahl commented on #206
Just a note for other running into this:

I added the above code as I have several rake task I would like monitor and then the Resque integration stopped working as the resque worker is started by a rake task.

So I added a simple filter by name to the above code to skip the  monitor_transaction for resque rake tasks.

[2017-10-04 14:25] nnc opened #353 "🐞 Add optional tags param to listen_for_error"
Would you please consider adding `tags` param to `listen_for_error`?
Seems to be a trivial addition, and would match the underlying `send_error` more closely.

We use `listen_for_error` in a few places and I wanted to add some tags to it, but then discovered that method currently takes none, unlike all other ways to manually send errors to AppSignal. Plus `tag_request` also doesn't help with `list

[2017-10-05 11:00] tombruijn opened #354 "Integration with Rack timeout"
Is it necessary or does our normal error handler catch it without reporting duplicates
Rollback has a specific integration for it: https://github.com/heroku/rack-timeout#rollbar

[2017-10-11 09:47] tombruijn commented on #168
This will all be finally resolved in #356

[2017-10-12 16:23] tombruijn commented on #174
#356 is merged. Now we want until 2.4 is released to set the Intercom message

[2017-10-12 16:24] #168 closed

[2017-10-13 08:32] tombruijn commented on #349
Hi @jqr ,

This should only happen with the config option `log: "stdout"` is this the case here?

About the logs themselves, yes, some can probably be moved to the debug level. On the other hand, it's often useful for us to know what's active by reading an app's log without having to ask a user to set the debug level to true first, which can take a few days to deploy and encounter the error again.

[2017-10-13 08:43] tombruijn commented on #353
Hi @nnc ,

Thanks for the report!
Yes, this would be useful to add. We're thinking of revamping the `set_error`, `send_error`, `listen_for_error` and `monitor_transaction` helpers at some point, some ideas were posted in issue #176.

In the meantime I think it's a small change to support this for `listen_for_error`

Should become something like:

[code]

We'll try to squeeze this change in somewhe

[2017-10-13 11:34] nnc commented on #353
Thanks @tombruijn!

Looking forward to your proposed "soon-ish" solution. 😀

[2017-10-13 18:46] jqr commented on #349
Yeah this is on Heroku, which is `STDOUT` logging.

I can see that being handy for your debugging, though I think either submitting it through the data layer or doing solution 1 above make equal sense.

In my case I'm likely to monkey patch this library to remove the noise, but it seems that other users would appreciate this change as well.

[2017-10-17 14:20] tombruijn commented on #174
@midN we've shipped this change in version `2.4.0.alpha.1`. Please try it out and let us know if you run into any problems with this!

[2017-10-24 14:42] tombruijn commented on #159
https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/540709/conversations/11368616241

[2017-10-24 19:31] tombruijn commented on #353
@nnc I created a PR that supports tags and namespaces for `Appsignal.listen_for_error`, see PR #357 . Can you try it out and let me know if it works like expected?

[2017-10-25 10:54] tombruijn commented on #353
Fixed in #357. Let us know at support@appsignal.com when there's a problem with this change.

[2017-10-25 10:54] #353 closed

[2017-10-27 09:46] tombruijn commented on #277
Hi @tdegrunt ,

Sorry for the very late response. This message slipped through somehow.

We don't have any plans to support backburner right now. This is the first request we've received for it.

Would you be using it with ActiveJob?
We have an open issue for improving our ActiveJob support #330. Perhaps we can support it through independent ActiveJob support? (Most of our ActiveJob support is now

[2017-10-27 12:58] tombruijn commented on #174
Closing. Will ship this on Tuesday

[2017-10-27 12:58] #174 closed

[2017-10-31 13:41] tombruijn opened #360 "🐞 Better action names for Sidekiq's delayed extension"
Tried in #348 , but reverted in 9b84a098604de5ef5e52645ba7fcb09d84f66eaa as it broke support for Sidekiq v2.

Reapply this change in a better way, preferably without using `Sidekiq::Job`

[2017-11-07 13:51] tombruijn commented on #360
Fixed in #362

[2017-11-07 13:51] #360 closed

[2017-11-20 10:27] niila opened #371 "Improve search ability of documentation"
Feedback from a user:

A search box with an API like the Rails API documentation would be great !

Tom via Slack:
we should probably also link to the rubydocs website from docs.appsignal.com for certain methods: http://www.rubydoc.info/gems/appsignal/2.4.1/Appsignal.monitor_transaction

[2017-11-20 15:27] tombruijn commented on #371
Updated the documentation for the `Appsignal.monitor_transaction` helper method in commit https://github.com/appsignal/appsignal-ruby/commit/21a89e465ca9f22c1c5330f3046b225752c85228

The part of our docs page needing search is something that should be an issue on the docs repo. I've created one here: https://github.com/appsignal/appsignal-docs/issues/137

Closing

[2017-11-20 15:27] #371 closed

[2017-11-22 22:14] bradrobertson opened #372 "🐞 `uninitialized constant Appsignal::Hooks::SidekiqPlugin::Set`"
This is running on alpine-linux 2.4. It looks like `Set` isn't being required before being used?

I also get this on OSX ruby 2.3. `Set` is stdlib so I think it needs to be required first.

[code]

[2017-11-22 23:17] tombruijn commented on #372
Hi @bradrobertson, Thanks for reporting! Worst thing is that it doesn’t even need to be a set either. Previously this was a set defined in method and it worked because something loaded “set” before it was called.

 I recently moved it to the constant in PR #362  and now it’s broken 😓

Will fix tomorrow!

[2017-11-23 09:09] #372 closed

[2017-11-23 09:58] tombruijn commented on #372
@bradrobertson the fix for this is released in Ruby gem 2.4.2. Let us know if you run into any other problems!

[2017-11-23 14:12] bradrobertson commented on #372
Wow thanks so much for the quick fix! You just unblocked my task :)

[2017-12-05 10:19] thijsc commented on #155
We tried to reproduce this and could not with the latest `appsignal` gem and Rails 5. We now insert the middleware after `ActionDispatch::DebugExceptions`. We weren't able to break the insertion.

[2017-12-06 09:17] #264 closed

[2017-12-07 10:09] tombruijn commented on #155
1.

[2017-12-07 10:13] tombruijn commented on #155
Correct the middleware we depend on now is `ActionDispatch::DebugExceptions`. Same issue exists when removing that middleware. This issue was from before that.

As discussed we should add a config option `insert_after_rails_middleware` or something, so that users can configure which middleware it should be added after themselves.

As issue week is already closed I'll move it to longterm.

[2017-12-14 08:26] jeffkreeftmeijer commented on #125
https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/unassigned/conversations/13531223939

[2017-12-27 13:56] matsimitsu opened #378 "Fetch queue time regardless of namespace"
Right now we only collect queue metrics if the namespace is `web` or `background` ( https://github.com/appsignal/appsignal-ruby/blob/b577992e0211c82898be43148a22b5e9a2d48efe/lib/appsignal/transaction.rb#L231 )

However it would be nice if we could get the queue times for custom namespaces. You'd probably have to specify the kind of queue time metric to fetch (headers vs bg job start time).

https:

[2018-01-11 15:36] jeffkreeftmeijer opened #380 "Using Rails' backtrace cleaner to silence backtrace lines"
As reported via [support](https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/540654/conversations/13024983021) (private Intercom link)

`ActiveRecord::BacktraceCleaner` does two things. It *filters* and *silences* log lines.

Filtering means replacing strings in the log lines. Rails uses it to [remove the app's full path from log lines](https://github.com/rails/rails/blob/master/railties/lib/ra

[2018-01-30 16:26] tombruijn commented on #343
https://app.intercom.io/a/apps/yzor8gyw/respond/inbox/conversation/14359602324

[2018-02-08 14:27] jeffkreeftmeijer opened #382 "Missed `Mysql2::Error`"
As reported via [support](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540654/conversations/14509052300) (private Intercom link).

In a controller, we missed a `Mysql2::Error` ("Mysql2::Error: Deadlock found when trying to get lock; try restarting transaction"), which inherits from `StandardError`.

[2018-03-01 08:25] tombruijn opened #383 "Report errors that occur during Rails app start up"
We only track errors that occur in a request or background job, but it would be nice if we could track errors that occur during start up of your application.

Preferably in a non-intrusive way, unlike monkeypatching `Kernel#require`

Requested in: https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/14914752015

[2018-03-01 12:24] tombruijn commented on #383
Suggested using this:

[code]

[2018-03-08 09:35] tombruijn commented on #159
- start only one transaction per request. If another transaction is active, don't start a new one.
- HAve the middleware complete their own transaction? Rather than `Appsignal::Transaction.complete_current!`

[2018-03-08 15:00] jeffkreeftmeijer opened #386 "🚀 Configuration option for `APP_REVISION`"
We'd like to expose the `:revision` configuration option, like we're adding in the Elixir integration (https://github.com/appsignal/appsignal-elixir/issues/215).

[2018-03-16 13:47] tombruijn commented on #386
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/14396986780

[2018-03-19 15:54] jeffkreeftmeijer opened #389 "🚀 Configurable :request_headers / APPSIGNAL_REQUEST_HEADERS"
Depends on decisions made in https://github.com/appsignal/appsignal-elixir/issues/317. As requested via [support](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/14994864230) (private Intercom link).

[2018-03-21 19:23] tombruijn commented on #386
Added in #388

[2018-03-21 19:23] #386 closed

[2018-03-26 08:54] fredbaa opened #390 "Getting "Too many open files" error on hooks"
Using version 1.2.3

getting a lot of these errors in our production server:

This is for redis. We're also getting error on hooks/net_http.rb:

What could possibly cause this error and how to avoid it?

[2018-03-26 11:49] jeffkreeftmeijer commented on #390
Hey @fredbaa! 👋

Thanks for letting us know about this. It looks like AppSignal is in the stack trace because we’re wrapping the calls from both libraries. On version 1.2.3, the lines from your backtraces point to where we do that for both [Redis](https://github.com/appsignal/appsignal-ruby/blob/v1.2.3/lib/appsignal/hooks/redis.rb#L18) and [Net::HTTP](https://github.com/appsignal/appsignal-ruby/bl

[2018-04-04 07:55] matsimitsu opened #394 "Event formatters not registered after AppSignal is started"
Currently our formatters register themselves with AppSignal to format certain instrumentation call payloads (for example: https://github.com/appsignal/appsignal-ruby/blob/master/lib/appsignal/event_formatter/action_view/render_formatter.rb#L6)

This makes it seem that you can write your own formatter, add `register` and it should get picked up by AppSignal.

However, in `Appsignal.start` ( https:/

[2018-04-06 08:57] #390 closed

[2018-04-11 12:28] #394 closed

[2018-04-16 15:03] jeffkreeftmeijer opened #400 "Append `annoted_source_code` to exception message"
As requested via [support](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540654/conversations/15790037415) (private Intercom link):

[code]

:point_up: That’s an “annotated” `ActionView::Template::Error`.  It works by adding an `annoted_source_code` method to the exception class (like https://github.com/rails/rails/blob/2240d4439910232ff6ad906edc03bed9bbe2001a/actionview/lib/action_view/temp

[2018-04-20 10:13] tombruijn commented on #400
Would be nice to combine with the source code storage for exceptions. Rather than having to rely on this Rails feature.

[2018-04-25 14:24] matsimitsu opened #407 "Allow more transaction variables to be set with `send_error`"
Right now `Appsignal.send_error` is quite limited, you can only set the error, tags and the namespace. This is not always enough to debug an error that happens in production.

Maybe we can find a way to allow more transaction variables to be set, preferably in a backwards compatible way.

One possible way could be to accept a block that yields the transaction e.g.

[code]

This would give a lot of

[2018-04-26 08:25] tombruijn commented on #407
Maybe we can fix the hybrid of adding errors as well when we touch this: https://github.com/appsignal/appsignal-ruby/issues/176
as long as we keep the explicit `send_error` helper method.

[2018-04-26 09:41] StephanMeijer commented on #407
Thanks for opening this issue.
100 characters of data is too less if you want to send some parameters to AppSignal.

[2018-05-02 11:39] tombruijn commented on #407
Also notify: https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/16076459192

[2018-05-05 10:43] tombruijn commented on #389
Added in #395 and #406

[2018-05-05 10:43] #389 closed

[2018-05-09 08:38] tombruijn opened #413 "In memory logger always gets initialized"
Gets called here: https://github.com/appsignal/appsignal-ruby/blob/056a93ca8843a68cf8376759d7c5f4c2f8e798b6/lib/appsignal.rb#L687

Which always returns a valid in memory logger: https://github.com/appsignal/appsignal-ruby/blob/056a93ca8843a68cf8376759d7c5f4c2f8e798b6/lib/appsignal.rb#L640-L646

so the if-statement does nothing here.

## Solution

Check using the instance variable

[2018-05-15 12:02] tombruijn commented on #383
Question: Do we want to support this in the gem itself or just add it to the documentation as option.

[2018-05-15 12:24] tombruijn opened #414 "Print deprecation warning for notify_of_deploy task"
We've deprecated it. It's documented in the docs, but you don't see it's deprecated when you run it.
Add the message so we can remove this in version 3.0 of the gem.

[2018-05-15 12:32] tombruijn commented on #331
Not sure if we should still do this. We have helpers for it.
If no one else disagrees close then the next time I see it.

[2018-05-15 13:48] tombruijn commented on #159
Related issue: https://github.com/appsignal/appsignal-ruby/issues/329

[2018-05-28 11:51] jeffkreeftmeijer commented on #159
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/16660366147

[2018-05-31 14:48] tombruijn commented on #413
Closed in #416

[2018-05-31 14:48] #413 closed

[2018-06-04 13:12] tombruijn commented on #304
Closed in #417

[2018-06-04 13:12] #304 closed

[2018-06-05 18:59] tombruijn commented on #407
Removing integration level limits in https://github.com/appsignal/appsignal-ruby/pull/418 and falling back on the extension and processor limits instead, which increases it to 256 characters (at time of writing).

This issue will continue to be used for the DSL of the `send_error` helper method to allow for other transaction metadata to be set. Moving back to WIP.

For the "discuss" label, I think

[2018-06-05 19:23] tombruijn opened #419 "Print deprecation warnings to app STDOUT"
Currently AppSignal deprecation warnings are logged as a warning to the `appsignal.log` which most people ignore unless there's a problem with AppSignal.

Move the deprecation warnings to the app's STDOUT, by using `puts`, so it's more obvious to users a certain function is deprecated. So that we can remove deprecated features without much problems in #202.

[2018-06-07 09:50] tombruijn commented on #419
Print to both, to the appsignal.log file AND the app's STDOUT.

[2018-06-12 14:09] tombruijn commented on #414
Relevant decision #419
"Print deprecation warnings to STDOUT"

[2018-06-15 10:20] tombruijn commented on #337
Quick comment, this would be fixed if using ERB to also create the env group:

[code]

We should add this to the docs: https://github.com/appsignal/appsignal-docs/issues/176

[2018-06-15 11:25] tombruijn opened #423 "Allow all metadata to be appendable"
Use same logic for tags for environment and such.

[2018-06-22 11:30] matsimitsu commented on #329
We're going to take a day to dive into this issue and create a concrete plan for this, with examples of how the new API is going to change.

[2018-07-11 12:18] #337 closed

[2018-07-11 12:20] tombruijn commented on #337
We're going to improve the docs for this. A combination of env and config file will require the solution in my previous comment for dynamic env names that can't be added as static names to the config file.

[2018-07-26 14:38] tombruijn opened #424 "Track config options origin"
To debug an issue it's useful to know where a config option comes from. Either from the initial config, the config file or the system environment.

In debug mode we can log the origins of the values by keeping track of which config option loads its value from where and print it to the log:

[code]

[2018-08-09 11:01] tombruijn opened #425 "Better missing build handling during installation"
When a user installs AppSignal on an architecture and build combination that's not supported, you get an error. Such as: `x86_64-linux-musl` with a dynamic build for JRuby.

- Improve the error handling here: https://github.com/appsignal/appsignal-ruby/blob/056a93ca8843a68cf8376759d7c5f4c2f8e798b6/ext/base.rb#L51
- Log a better error message.
- Explain what happened to the user.

https://app.inter

[2018-09-03 17:47] #425 closed

[2018-09-09 19:03] tombruijn commented on #383
Documented in https://docs.appsignal.com/ruby/integrations/rails.html#error-reporting-during-start-up

Leaving open to discuss the option to support it directly in the gem.

[2018-10-08 09:11] tombruijn opened #432 "Installer wrongly detects app as Rails"
From https://github.com/appsignal/appsignal-ruby/pull/431

We should rescue the LoadError if the application.rb file cannot be found and fall back on the next framework or default installation. Or maybe ask the user what they want?

[2018-10-08 17:55] kostyadubinin commented on #432
Specifying the framework explicitly could be convenient.

[2018-10-16 09:26] tombruijn opened #435 "Diagnose doesn't start logger"
Any errors that are logged, such as the extension failing to start are logged, but to memory. Since `Appsignal.start_logger` isn't called it's never written to the `appsignal.log` file.

Fix this so we can write any errors that occur during the diagnose and send them along with the same report.

[2018-11-07 10:49] tombruijn commented on #419
Fixed in #438

[2018-11-07 10:49] #419 closed

[2018-11-07 10:49] tombruijn commented on #435
Fixed in #440

[2018-11-07 10:50] #435 closed

[2018-11-15 13:02] tombruijn commented on #424
Added in #444. Closing

[2018-11-15 13:02] #424 closed

[2018-12-03 14:40] jeffkreeftmeijer opened #446 "Return boolean from se(t|nd)_error helpers"
As discussed with @matsimitsu; returning `true` or `false` from `set_error` and `send_error` would allow us to implement `set_or_send_error` like this:

[code]

[2018-12-07 11:43] #446 closed

[2018-12-07 11:44] tombruijn commented on #176
Allow users to give a block that returns the transactions.

[code]

[2018-12-17 11:12] jeffkreeftmeijer commented on #330
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/20063993426

[2018-12-27 19:44] ssaunier opened #452 "Incompatibility with Ruby 2.6.0 on Heroku?"
Hello 👋 ,

Just bumped a Rails app hosted on Heroku to Ruby 2.6.0, using the latest `2.8.0` appsignal gem and it seems that it's not starting correctly. Here are the logs I get:

[code]

I did not change anything else. I am using an `APPSIGNAL_PUSH_API_KEY` and an `APPSIGNAL_APP_NAME` env variables with no configuration file.

FWIW the `build` phase on Heroku ran the `bundle install` with success:

[2018-12-27 20:09] ssaunier commented on #452
After some investigation I found this log:

[code]

[code]

[2018-12-28 13:51] tombruijn commented on #452
A fix was released in Ruby gem `2.8.1.alpha.1`. See also related PR #453
Closing the issue. Feel free to reopen if it is still occurring, or shoot us a message on Intercom/our support system 🙂

(Intercom thread: https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/20204024649 )

[2018-12-28 13:51] #452 closed

[2018-12-28 15:11] ssaunier commented on #452
All good 🎉

[code]

Thanks for the quick fix 🙌 🙏

[2018-12-29 10:49] tombruijn commented on #452
Great to hear it's working 🎉

[2019-01-07 14:02] tombruijn commented on #382
We can't reproduce this right now. We hope that #159 will fix this in the future.
Closing this issue for now to clean up the repo. Do let us know if you have this issue.

[2019-01-07 14:02] #382 closed

[2019-01-07 14:46] tombruijn commented on #155
Will probably be fixed with https://github.com/appsignal/appsignal-ruby/issues/159
where we will be at the top of the middleware stack so that we don't depend on other middleware to be injected at a specific location in the stack

[2019-01-10 12:34] tombruijn opened #454 "Track parameters for jobs for Resque integration"
Testing the Resque integration I see we don't track the parameters of the job as we do with the Sidekiq integration. Let's add them.

[2019-01-11 10:03] #454 closed

[2019-01-17 10:36] tombruijn opened #457 "Make TravisCI.yml more manageable"
Currently we have a couple different variables defining how many jobs are run.

- Ruby version
- Gemfile (gem to test against)
- Exclusions for certain gems (Gemfiles) against certain Ruby version (Rails 5 doesn't work on any Ruby < 2.2)

This is further complicated by specific version requirements on Rubygems and Bundler by certain Ruby version or gems.

- Rubygems version lock added in: #453
- B

[2019-01-18 11:55] jvanbaarsen opened #458 "Allow nested config options for integrations"
For some integrations we might want to add an option to support things like:

* enabled true/false
* notify_treshold
* etc

[code]

[2019-01-18 11:58] tombruijn commented on #458
Related #443

[2019-01-21 13:21] #457 closed

[2019-01-21 15:07] tombruijn opened #461 "JRuby declares PLATFORM constant"
Causing this warning to be printed on extension install:

[code]

Let's rename the `PLATFORM` const to `AGENT_PLATFORM` or something to avoid the conflict.

[2019-01-24 12:42] tombruijn opened #462 "Add macOS build to TravisCI"
TravisCI supports macOS builds. Add it to the matrix so we don't have to make sure to test the OS locally.

[2019-01-28 15:15] tombruijn opened #464 "Full Ruby 2.6 and Rails 6 support"
Follow up of https://github.com/appsignal/appsignal-ruby/pull/460#issuecomment-456115360

## TODO

- [x] Ruby: Fix ERB warning - https://github.com/appsignal/appsignal-ruby/pull/480
- [x] Ruby: Fix Psych deprecation warning - https://github.com/appsignal/appsignal-ruby/pull/479
- [x] Rails: Fix deprecation warning about `Module#parent_name` - https://github.com/appsignal/appsignal-ruby/pull/478

#

[2019-02-07 10:20] tombruijn opened #465 "Fix warnings from ActionView event formatter"
These warnings are logged:

[code]

Track down where they come from, if it actually breaks the action view formatter and fix them. It's hopefully a case of using `::Rails`

[2019-02-18 15:50] tombruijn commented on #465
I was able to reproduce this in the [Sidekiq example app](https://github.com/appsignal/appsignal-examples/tree/sidekiq) in the examples repo. Which is strange, because why would it load it for a non-Rails app.

[2019-02-19 21:24] tombruijn opened #470 "Support proxies for extension installation"
We currently support proxies for the Ruby transmitter and agent, but the installer fails without this option for machines behind a proxy.

## TODO

- [x] Support proxies in the extension installer.
https://github.com/appsignal/appsignal-ruby/blob/527cb28d530b17a0ba547bfc97b5cdc738e93f5b/ext/base.rb#L53

[2019-02-19 21:24] tombruijn commented on #470
As experienced in https://app.intercom.io/a/apps/yzor8gyw/inbox/all/conversations/20895561530

[2019-02-26 12:30] tombruijn commented on #464
Closing. See linked PRs

[2019-02-26 12:30] #464 closed

[2019-02-27 12:57] tombruijn commented on #407
Added in #481

[2019-02-27 12:57] #407 closed

[2019-03-07 14:01] NOX73 opened #485 "Can't see Delayed Job statistic and exception reports"
I can't see any information about my background jobs in the background section.Appsignal works fine for application requests.

I expect to see statistic and exception reports on appsignal dashboards from Delayed Jobs.

ruby 2.5.0p0
rails (5.2.2)
delayed_job (4.1.5)
appsignal (2.8.2)

[code]

How can I investigate an issue?

[2019-03-07 14:06] thijsc commented on #485
Hi, thanks for reporting!

For these kinds of issues you're best off us asking in the chat in the or on support@appsignal.com, there's probably something configured not right.

[2019-03-07 15:19] NOX73 commented on #485
@thijsc are you sure it's a configuration issue?

[2019-03-07 15:22] thijsc commented on #485
It's hard to know for sure. We always do debugging of these kinds of issues over the support channel because you discuss details about the specific application. If there turns out to be a bug we'll open an issue.

[2019-03-07 15:39] NOX73 commented on #485
Ok, will chat by email

[2019-03-08 12:35] tombruijn commented on #485
Continued in our support channel. Will report back with results

[2019-03-08 12:35] #485 closed

[2019-03-11 18:26] perezpaya opened #486 "Add support for GraphQL Instrumentation"
As heavy users of Appsignal for instrumentation on web and background jobs we would like to receive support to identifying each query so we can measure performance issues and track errors accurately.

All our API traffic is aggregated through Graphql#execute and we fail identifying performance issues there.

Do you currently give support in some way or have a way of setting up our application conf

[2019-03-13 15:47] jvanbaarsen commented on #486
We do! You can set this up by altering your GraphQL controller a bit.

I created a small snippet for you that can help you with this:

[code]

In the `ensure` block we set a custom namespace, this might help you with filtering only GraphQL related information in your dashboard.

`Appsignal::Transaction.current.set_action(params['operationName'] || 'Unknown')` This sets the action for this controll

[2019-03-14 12:16] tombruijn commented on #302
Doen in #487

[2019-03-14 12:16] #302 closed

[2019-03-14 19:05] tombruijn opened #489 "Bump transaction reuse log message to warning"
When a transaction is already running and another one is created already it's usually an indication of a problem. Currently we log it as a debug log, but this requires turning on debug logging before we see it in the log

I suggest we bump the debug log up to a warning so it's easier to spot.

https://github.com/appsignal/appsignal-ruby/blob/02d99a3035856fda341c2543f9ee559769e0b9a6/lib/appsignal/t

[2019-03-15 10:31] tombruijn commented on #486
Closing. Let us know if this didn't fix it for you!

[2019-03-15 10:31] #486 closed

[2019-03-22 10:38] matsimitsu opened #493 "Set environment from `appsignal.yml` file."
In our Elixir integration you can set the environment in the config file. This is also the reason that it's documented here https://docs.appsignal.com/ruby/configuration/options.html#option-env (it uses the same source file).

However in Ruby you can only override the reporting environment from ENV vars, which is not very convenient when using Capistrano for deploys.

A solution would be to set a

[2019-03-22 13:29] tombruijn commented on #493
Related https://github.com/appsignal/appsignal-docs/issues/176

[2019-03-27 14:09] tombruijn opened #494 "Track queue time for a Sidekiq worker"
Track queue time per Sidekiq worker so we can show a graph on our magic Sidekiq dashboard about it. This so you can differentiate between workers in the whole namespace.

- [ ] Add metric to SidekiqPlugin: https://github.com/appsignal/appsignal-ruby/blob/01cf98491b539c94d32d651bb774a340f946a0e3/lib/appsignal/hooks/sidekiq.rb#L99
- [ ] Update Sidekiq dashboard: https://github.com/appsignal/public_c

[2019-03-28 16:02] tombruijn opened #500 "uninitialized constant Puma::Cluster"
This error occurs on every Puma app on start up when started with `rails server`.
This does not happen on `puma -C config/puma.rb`

[code]

[2019-03-29 08:18] tombruijn opened #502 "Puma minutely probe reports 0 for all metrics"
With this config all the probe's metrics are reported as 0.
Let's test why this is going wrong and fix it.

[code]

[code]

Reported in https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/21393974417

[2019-03-30 20:15] tombruijn commented on #502
This happens when `preload_app!` is missing from the `config/puma.rb` file. It starts working when you add that. Without it the stats object will always be empty/0.

[2019-04-01 14:43] #500 closed

[2019-04-01 14:44] #465 closed

[2019-04-05 08:44] #461 closed

[2019-04-05 09:13] diegodurante opened #507 "Monitoring for Sidekiq hosts/containers is no more working"
Hi there,
we are facing an issue: all sidekiq hosts/containers are not reported anymore into AppSignal dashboard.

We are using AppSignal since many time, more than one year with no issues.
Until 31th of January we were using version 2.6.1 and then we updated to version 2.8.2.
Since some days, maybe weeks we are not sure, we noticed that monitoring is no more active for all sidekiq hosts.

So we u

[2019-04-05 09:22] tombruijn commented on #507
Hi Diego,

I think you're already in a conversation in our support system with Jeff?
We're currently looking at the issue and trying to find out why this is going wrong and what a solution would be. We will update you there!

[2019-04-05 09:23] tombruijn commented on #507
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/21492224378

[2019-04-05 09:37] diegodurante commented on #507
Hi @tombruijn ,
yes you are right, I opened the issue here so also other people can add some information in the case they have.
Also here we can have all the information without loosing pieces between conversations.

Anyway yes, I will keep chatting with Jeff.
Many thanks!

[2019-04-05 09:39] diegodurante commented on #507
Also I think this is a bug, because also by overriding Minutely configuration as you are suggesting into your documentation, the initializer still looks for redis on local host!

`[2019-04-05T10:15:58 (process) #1][ERROR] Error in minutely probe 'sidekiq': Error connecting to Redis on 127.0.0.1:6379 (Errno::ECONNREFUSED)`

But **config/initializers/appsignal.rb** :
[code]

[2019-04-05 11:28] tombruijn opened #509 "Rescue config file load errors"
When users load config from a source not available in the diagnose report, don't let the error crash the diagnose task. Instead capture the error and log it, but try to send the diagnose report regardless of the error.

As seen happen here: https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/21492224378

[2019-04-05 12:30] tombruijn opened #510 "Load Rails config/env in diagnose task"
Load the Rails config/env on diagnose command so we have Rails secrets to use in the appsignal.yml file and such.

Can we simply load `config/environment.rb`?

[2019-04-05 13:15] diegodurante commented on #507
Regarding error:
`[2019-04-05T10:15:58 (process) #1][ERROR] Error in minutely probe 'sidekiq': Error connecting to Redis on 127.0.0.1:6379 (Errno::ECONNREFUSED)
`

Problem is that Minutely is looking for redis on localhost.
Also if we try to override its default configuration by setting `hostname` variable into **config/initializers/appsignal.rb**  file (as suggested [into documentation](https://d

[2019-04-15 11:26] tombruijn commented on #509
Fixed in #517

[2019-04-15 11:26] #509 closed

[2019-04-19 07:11] jvanbaarsen opened #521 "Autodetect Cloudfoundry based containers"
When a customer is running in Cloudfoundry we don't autodetect that they are running inside a container, this means they would have to manually set the `running_in_container` option to true.

It would be great if we can autodetect this, and set it for the customer.

[Internal link](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/21679499792)

[2019-04-19 07:13] jvanbaarsen commented on #521
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/21679499792

[2019-04-19 07:42] tombruijn commented on #521
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/21679499792

[2019-04-19 08:25] #521 closed

[2019-04-19 08:25] jvanbaarsen commented on #521
Issue moved to [appsignal/appsignal-agent #437](https://github.com/appsignal/appsignal-agent/issues/437) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-08 06:59] jvanbaarsen commented on #489
Fixed by #525

[2019-05-08 06:59] #489 closed

[2019-05-13 15:46] phoet commented on #183
@tombruijn so this is implemented for the elexir client but not in the ruby version?

[2019-05-14 11:47] tombruijn commented on #183
@phoet correct. For us to capture all response codes we need to rework how our middleware works. Currently we would only get part of the response codes. When there’s middleware before AppSignal’s we would not track them, giving an incomplete picture.

We want to improve that in issue https://github.com/appsignal/appsignal-ruby/issues/329

[2019-05-17 14:25] 97jaz opened #526 "Sidekiq Enterprise middleware position"
We're using sidekiq enterprise [rate limiters](https://github.com/mperham/sidekiq/wiki/Ent-Rate-Limiting) in our application. When they can't acquire a lock in a given amount of time, they raise `Sidekiq::Limiter::OverLimit`, which is rescued by sidekiq's own middleware, and the job is re-enqueued.

The problem is that Appsignal's middleware is sitting lower on the stack (I mean, closer to the cod

[2019-05-20 14:25] fmfdias opened #527 "Minutely probe registered in rails initializer doesn't run"
Hi,

We have registered a minutely probe to track some custom metrics of our project using the class example in https://docs.appsignal.com/ruby/instrumentation/minutely-probes.html

However the information we track never ends up in appsignal and looking into the logs, it completely ignores the custom metric we created.
[code]

After digging up the gem code, it seems the problem lays in the initial

[2019-05-21 14:01] 97jaz commented on #526
I've added code like the following to an initializer:
[code]
It does reorder the middleware the way I want it, but it might be a good idea for the Appsignal gem to try to make sure its middleware is at the start of the chain.

[2019-05-22 08:02] tombruijn commented on #527
Hi @fmfdias,

Looks like that broke in a recent release. I've created PR #528 with a fix for this issue. We'll release this in the next patch release.

Thanks for reporting!

[2019-05-22 16:35] fmfdias commented on #527
Hi @tombruijn,

Thank you for such a quick reply and fix!
Will be waiting for the release.

Thanks!

[2019-05-23 15:16] #527 closed

[2019-05-23 19:10] tombruijn commented on #527
@fmfdias the fix for this was released in Ruby gem 2.9.7

[2019-05-24 11:38] fmfdias commented on #527
@tombruijn Thank you! Already using it!

[2019-05-27 09:22] tombruijn commented on #526
Hi @97jaz ,

Thanks for reporting this issue and coming up with a fix! We're going to look at it and see if we can implement this :)

[2019-05-29 08:50] woolfred opened #529 "Custom integer tags for increment_counter not working"
Hey there!
We are using `increment_counter` to also log some tags (version 2.9.7).
While creating a dashboard we saw some weird metric names. After tinkering around a bit we narrowed it down and figured out that integers as values for tags are evil.

So by doing:
`Appsignal.increment_counter("custom_metric", 1, integer: 1)` we get following metric key: `{"__name__":"custom_metric","integer":1}`

W

[2019-05-29 13:41] tombruijn opened #530 "Minutely probes thread doesn't (re)start if Puma daemonizes"
When Puma daemonizes (`daemonize true` in `puma.rb` or using `--daemon` on the command line) it starts a new master process by forking the original master process. When the new master process starts it doesn't (re)start AppSignal and the minutely probe thread. This is because we hook into the Puma CLI class which doesn't load if the Rails app isn't started through the Puma CLI `pumactl`.

- `rails

[2019-05-29 14:06] tombruijn commented on #530
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/22235677747

[2019-05-30 08:59] tombruijn commented on #529
Hi @woolfred,

I can reproduce the problem. There must be going something wrong with the JSON parsing of that string for some reason. We're going to look into it!

[2019-06-07 03:28] jerryclinesmith opened #535 "Is there a way to ignore errors for a particular user?"
We have a white hat security firm that tests our site a few times a week, generating lots of errors.  They use a particular user, so we'd like to ignore any errors for this user.  I've looked through the documentation, but don't see a way to do this.

[2019-06-07 12:47] tombruijn commented on #535
Hi @jerryclinesmith !

Can you contact us at support@appsignal.com so we can discuss the details with you?

[2019-06-07 14:42] jerryclinesmith commented on #535
Will do, thanks

[2019-06-07 14:42] #535 closed

[2019-06-12 13:57] tombruijn commented on #530
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/22424268484

[2019-06-13 09:13] tombruijn commented on #510
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/22322377398

[2019-06-13 13:03] bobmaerten opened #542 "[v2.9.8] uninitialized constant Appsignal::Redis::VERSION"
## Describe the bug

I've got this error at boot in my app

[code]

- Using AppSignal for Ruby gem version 2.9.8
- In my app using redis 4.1.2

It seems to be a scope error accessing `Redis::VERSION` instead `::Redis::VERSION` maybe ?

[2019-06-16 12:34] tombruijn commented on #414
Part of #202

[2019-06-17 06:56] #542 closed

[2019-06-17 07:18] #414 closed

[2019-06-17 07:23] tombruijn commented on #507
Minutely probe issue was fixed #528.
The `appsignal-agent` process becoming "defunct" will be continued up in a private issue: https://github.com/appsignal/support/issues/2

[2019-06-17 07:23] #507 closed

[2019-06-19 08:46] matsimitsu commented on #530
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/14894/conversations/22505662294

[2019-06-21 12:36] matsimitsu commented on #530
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/14894/conversations/22538401802

[2019-07-02 08:51] jvanbaarsen commented on #529
Also mentioned in [intercom](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/2788926/conversations/22629713555) (Private link)

[2019-07-08 06:55] tombruijn commented on #530
Should be fixed in version 2.9.10 of the Ruby gem.

[2019-07-08 06:55] #530 closed

[2019-07-28 12:13] tombruijn commented on #343
Duplicate of https://github.com/appsignal/appsignal-ruby/issues/330

[2019-07-28 12:13] #343 closed

[2019-08-13 21:08] lucasmazza commented on #494
This was once implemented on appsignal/appsignal-ruby#112 but looks like #362 remove it 😬

[2019-08-14 08:00] tombruijn commented on #494
Hi @lucasmazza, not sure what you mean. This issue is about tracking it per worker, not overall queue time. Is the overal queue time for Sidekiq broken for you?

[2019-08-21 08:23] matsimitsu commented on #529
This issue has been fixed server-side :)

[2019-08-21 08:23] #529 closed

[2019-08-30 09:24] tombruijn commented on #315
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540709/conversations/23457065340

[2019-09-16 11:31] thijsc opened #559 "Show potential working dir paths in diagnose"
It would be useful to see which working directory paths were evaluated before choosing one in the diagnose. Ideally it would also show whether these paths are present and who owns them.

[2019-09-21 14:39] ifsc01 opened #560 "Ruby 2.6.4 Failed to load extension"
If your bug is about how AppSignal works in your app specifically we recommend you contact us at support@appsignal.com with your bug report instead.

---

## Describe the bug

[code]
## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 2.9.13
- ruby:2.6.4-alpine3.10
- Rails 6

[2019-09-22 10:33] tombruijn commented on #560
Hi @ifsc01,

Have you installed the necessary packages for Alpine Linux on your machine? See the list in our docs: https://docs.appsignal.com/support/operating-systems.html#alpine-linux

If so, can you send us a diagnose report? Run this command on your Alpine Linux machine:

[code]

[2019-09-22 12:01] ifsc01 commented on #560
@tombruijn https://appsignal.com/diagnose_reports/diagc237d1cab3fbcd86b077?linked=true

[2019-09-23 09:07] tombruijn commented on #560
Hi @ifsc01,

Looks like our CDN from which the AppSignal agent & extension are downloaded can't be reached from your end.

Can you update to version 2.9.14 of our Ruby gem (just released) and see if that does work?
We've added a mirror from which our agent & extension package will be downloaded in that version.

[2019-09-24 17:35] ifsc01 commented on #560
@tombruijn may be blocked by china GFW

[2019-09-24 17:40] tombruijn commented on #560
@ifsc01 yes, that's what we're thinking. Another user managed to install it when using the mirror that we added in the latest release. Did that work for you?

[2019-09-24 18:14] ifsc01 commented on #560
install report

[code]
NO request to `https://d135dj0rjqvssy.cloudfront.net`

[2019-09-24 18:15] ifsc01 commented on #560
[code]

[2019-09-24 18:17] ifsc01 commented on #560
diagnose_reports  https://appsignal.com/diagnose_reports/diaga7e0c959dab57ee2e4a3?linked=true

[2019-09-24 18:19] tombruijn commented on #560
Hi @ifsc01 , I see you're using the 2.9.13 release. The installation mirror was added in 2.9.14. Can you upgrade to that and let me know if that worked?

You can also test manually if the other mirror worked from your host with this command:

[code]

The root path always return a HTTP 403 error.

[2019-09-24 18:35] ifsc01 commented on #560
It works

[2019-09-24T18:34:38 (process) #8][INFO] appsignal: Loading Rails (6.0.0) integration
[2019-09-24T18:34:39 (process) #8][INFO] Starting AppSignal 2.9.15 (bin/rails, Ruby 2.6.4, x86_64-linux-musl)
[2019-09-24T18:34:39 (process) #8][INFO] Installing action_cable hook
[2019-09-24T18:34:39 (process) #8][INFO] Installing active_support_notifications hook
[2019-09-24T18:34:39 (process) #8][INF

[2019-09-24 18:35] #560 closed

[2019-09-24 21:37] tombruijn commented on #560
Great to hear!!

[2019-09-25 14:42] xadamy opened #564 "Deprecate the old front-end monitoring Rack middleware"
As we now have a fully-fledged front-end monitoring solution now, we can begin to deprecate the old code used for front-end error tracking in the Ruby gem.

## TODO

- [x] Ruby gem: Add deprecation message (STDOUT and appsignal.log) in the when the frontend middleware is loaded / config option is used.
  - Link to the docs for the JavaScript front-end solution
 - [ ] Add message to readme

[2019-09-26 07:08] ifsc01 commented on #560
@tombruijn How about adding one aliyun oss (china area) mirror? I can do this

for example

https://appsignal.oss-cn-beijing.aliyuncs.com/

https://appsignal.oss-cn-beijing.aliyuncs.com/e1c9363/appsignal-x86_64-linux-musl-all-static.tar.gz

[2019-09-26 11:45] tombruijn commented on #564
Same for the Elixir one https://github.com/appsignal/appsignal-server/pull/4954
I need to add a warning to the README and maybe release a new version that prints a deprecation warning too.

[2019-09-30 12:57] tombruijn commented on #560
Hi @ifsc01,

We discussed it with the team and decided not to add a China area based mirror at this moment. The backup cloudfront mirror we added should not be blocked in your area. We're talking to our provider for the main download location about fixing access in the China area.

If you are having trouble downloading our agent & extension in the future, please let us know at support@appsignal.co

[2019-09-30 13:03] xadamy commented on #564
@tombruijn Opened a new issue in `appsignal-elixir` for the Elixir part.

[2019-10-01 16:11] mbirman opened #567 "Markers, Samples, Graphs API"
As far as I understand there is no support for the [the API endpoints](https://docs.appsignal.com/api/). Do you consider adding it?

[2019-10-01 19:36] tombruijn commented on #567
Hi @mbirman !

This Ruby gem doesn't include methods to consume our API. This gem is only to integrate your apps with it and send data to our [Push API](https://docs.appsignal.com/appsignal/terminology.html#push-api) (which is different from the API you linked). We don't have gems/libraries to call the APIs you linked.

We're working on building a GraphQL API which makes even more data available.

[2019-10-03 10:14] mbirman commented on #567
Hey @tombruijn, thanks for the quick reply!

Too bad there is no library for the API, I was going to use it to collect error statistics across different apps inside an organization. The link you provided leads to a 404 page btw, I suppose the API is not available at the moment?

[2019-10-03 11:29] tombruijn commented on #567
@mbirman ah that last link should have been: https://appsignal.com/users/edit
The API is available, but needs [GraphQL](https://graphql.org/) requests to return something. You can see how we use the API on AppSignal.com by checking the requests in the network tab of your browsers web inspector. The GraphQL API also has documentation itself for fields.

[2019-10-03 12:26] mbirman commented on #567
Ah, makes sense now. Thank you!

[2019-10-04 12:33] #432 closed

[2019-10-04 13:39] tombruijn commented on #567
Great! Closing this issue then.

[2019-10-04 13:39] #567 closed

[2019-10-09 08:32] tombruijn commented on #502
There are some cases, like phased restart, where `preload_app!` is not an option.

It currently reports 0 values because the minutely probe runs in every worker (that creates duplicate metrics, but more importantly it returns 0 for all metrics).

If we can run the minutely probe in the "main" process it reports proper values. We need to find a way to _only_ run the minutely probe process in the "m

[2019-10-09 08:33] tombruijn commented on #502
Follow up from https://github.com/appsignal/support/issues/54#issuecomment-538993805 (private link)

[2019-10-09 10:18] tombruijn commented on #502
Trying out if this config override works:

[code]

The idea is that we manually start AppSignal in the main process. Which starts the minutely probes.

Then, on start of every worker, we stop the minutely probes, which is started by default. By disabling it it won't collect and send the 0 values Puma reports in workers.

No `preload_app!` needed here so it should work with phased restarts. Asked a

[2019-10-09 16:35] tombruijn commented on #502
I can't reliably load AppSignal in Puma's clustered mode without `preload_app!`. If I don't `preload_app!` AppSignal isn't loaded in the master process and requires it to be loaded manually, for which getting the right conditions I haven't found yet.

If I load AppSignal manually Rails isn't loaded by default and AppSignal doesn't load the Railtie because it can't detect Rails. If I load Rails and

[2019-10-15 12:03] wesoudshoorn commented on #493
@tombruijn @matsimitsu can we get this closed or to planned if we have a clear path forward?

[2019-10-25 13:14] xadamy commented on #502
Waiting for customer feedback.

[2019-10-28 12:39] tombruijn commented on #502
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/21377336095

[2019-10-28 13:14] tombruijn commented on #493
An `env` option was never added in the Ruby code as the config was set from `Appsignal::Config`'s initializer instead. Only non-Rails apps that don't have an integration require (e.g. `require "appsignal/integrations/sinatra"`) in the gem run into this issue. And that's even when none of the environment variables are found: https://github.com/appsignal/appsignal-ruby/blob/a37257a749a21330732b6c9c3

[2019-10-28 13:57] tombruijn commented on #493
Discussed this with Robert and decided to close it for now. We don't want to build a new system for support a new `env` config key in the config file for now. We may revisit it later when we ensure all the integrations are consistent. (For as much as that is possible because not all languages will support the same config methods.)

Documented the env var key in the yaml file in this commit: https:

[2019-10-28 13:57] #493 closed

[2019-11-01 09:09] #502 closed

[2019-11-07 13:29] tombruijn commented on #564
@xadamy Did you have a timeline for this in mind? We can tell people to switch to the JavaScript integration, right? I already deprecated my [Elixir plug](https://github.com/tombruijn/appsignal-elixir_js_plug)

This looks like a change I would want to ship in the next minor release of the Ruby gem and mention our new JavaScript front-end error reporting solution in the deprecation warning and blog

[2019-11-07 13:32] xadamy commented on #564
@tombruijn Ready to proceed with this when you are.

100% agreed, ping me if you need a hand with any of these tasks. 👍

[2019-11-07 13:40] tombruijn commented on #564
I'm moving it to "planned" then. It looks like a 5 min task, tests included, so might be something I pick up at 16:00 on an unfocused afternoon. Will let you know when a Ruby minor release is planned and this hasn't been picked up yet.

[2019-11-25 14:19] gotar commented on #125
New hanami will use ROM (Ruby Object Mapper) Will be good to have out of box support for it too (rom-sql use Sequel below, so maybe this will be helpful)

[2019-11-26 14:26] #331 closed

[2019-11-26 14:31] #298 closed

[2019-11-26 15:35] gotar opened #573 "ROM (Ruby Object Mapper) support"
Hi, any plans to support it? More and more popular every day, and new hanami will use it too.

[2019-11-26 15:37] gotar commented on #573
rom-sql use sequel below, maybe it will help? But Sequel setup do not work (manual either)

[2019-11-27 08:13] tombruijn commented on #564
Deprecated in #572

[2019-11-27 08:13] #564 closed

[2019-11-27 10:16] gotar commented on #573
This works for me:

[code]

can I somehow add extra tag to it. I want to report query execution time somehow (so overwrite Duration)

[2019-12-02 10:46] tombruijn commented on #573
Discussed in https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/24771981790

[2019-12-02 11:12] gotar commented on #573
working quite well dry-web (roda + rom) example:

[code]

[2019-12-03 10:34] okliv opened #574 "Why appsignal install exists but appsignal uninstall - not?"
Try to find information how to delete this software after an installation. Wish you luck!
<img width="430" alt="shot_041" src="https://user-images.githubusercontent.com/884634/70043164-b0148a00-15c8-11ea-8133-ba2b7fa73144.png">

Feature request: add uninstallation script

Question: how to delete this software? I think it is not very pleasant to skip this information just giving some abstract recom

[2019-12-03 10:43] mbirman commented on #574
Just curious, what steps of the process do you find too abstract?

[2019-12-03 10:51] jvanbaarsen commented on #574
@okliv Thank you for letting us know that this information feels hidden away.  In order to improve this, can you tell me what your expectations were when looking for this information?

Also more importantly, did you find the correct information, or do you need help with this?

[2019-12-03 10:59] okliv commented on #574
- what is elixir package? (it's from Harry Potter? :) )... i didn't install it
- remove any configuration... any? how many did `appsignal install` installed it and where? should i grep all my files?
- `appsignal-agent`... don't remember i installed it too [So simple installation](https://github.com/appsignal/appsignal-ruby#installation)
- necessity to login to appsignal.com looks not very pleasant

[2019-12-03 11:03] okliv commented on #574
And here is NewRelic instructions, for example:
<img width="652" alt="shot_043" src="https://user-images.githubusercontent.com/884634/70045630-18656a80-15cd-11ea-8b31-feb9bd0d365b.png">

S - simplicity.

[2019-12-03 12:26] tombruijn commented on #574
Hi @okliv,

Thanks for pointing out that we're not using the "uninstall" keyword in our docs. I've created a PR on our docs to split it per language so people don't get confused about Elixir, Ruby and other potions and gemstones.

You only need to sign in to AppSignal if you want to delete the data we've stored about your application. If you don't the data will automatically be deleted at the end

[2019-12-03 12:26] #574 closed

[2019-12-09 07:47] jeffkreeftmeijer opened #575 "Reporting stops when puma plugin is used with phased restarts"
We [received a report](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/24877629510) (private link), explaining the AppSignal integration stops, but doesn't restart when using Puma's phased restarts.

## TODO

- [x] Update docs with new plugin information

[2019-12-20 15:28] risen opened #576 "Support mina deploy"
We're using [mina](https://github.com/mina-deploy/mina) instead of capistrano to deploy. It'd be nice to have out of the box support for AppSignal deploy markers.

Right now we're using something like this:

[code]

… which uses the deprecated (?) CLI command.

Or this:

[code]

… which works too but doesn't include the username in the deploy.

There's not `:current_revision` variable in mina, so

[2019-12-20 16:30] tombruijn commented on #576
Hi @risen,

Thanks for the request! We've been meaning to add support for the user name to the revision option.

For mina support, and better capistrano support so they don't use the deprecated option, we will have to look into the best way to read the revision from the app. I currently wouldn't know of a better way than to write a file on deploy and read it on boot.

[2020-02-05 14:43] benjaminwols opened #583 "SystemStackError (stack level too deep) with net_http hook"
## Describe the bug
Using appsignal in combination with http_logger results in an SystemStackError (stack level too deep)

## To Reproduce
Steps to reproduce the behavior:
- Using AppSignal for Ruby gem version 2.10.2
- In my app using gem http_logger version 0.6.0
- With this code:
[code]

[2020-02-05 14:44] benjaminwols commented on #583
Reported at http_logger initially and they suggest to use prepend instead of alias
https://github.com/railsware/http_logger/issues/18

[2020-02-06 12:23] phoet commented on #526
i just started using sidekiq-scheduler and suddenly errors stopped appearing in appsignal. does not look like the scheduler is actually a middleware, but maybe there is a common extension-point where appsignal tries to hook in?

[2020-02-07 10:21] tombruijn commented on #583
@matsimitsu are you looking into this?

The problem with using `prepend` is that we drop 1.9 support as it's not available in Ruby 1.9. Discussion [here (private link)](https://github.com/appsignal/handbook/issues/155).

[2020-02-12 14:43] jeffkreeftmeijer commented on #329
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540654/conversations/25701975802

[2020-02-13 13:26] jeffkreeftmeijer opened #584 "Only warn about transaction reuse once"
As discussed in https://github.com/appsignal/support/issues/68, bumping the transaction reuse debug log to a warning in https://github.com/appsignal/appsignal-ruby/issues/489 causes logs to grow on Rails apps with mounted grape apps.

Instead of bumping all debug log messages to warnings, we'll only log the first one as a warning. That'd make sure the message is in the logs, even if debug mode is

[2020-02-13 13:27] jeffkreeftmeijer commented on #584
https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/540654/conversations/25701975802

[2020-02-17 10:56] tombruijn commented on #316
A quick test confirms this works! So, yay 🎉
I do see the following error when it fetches host's disk metrics. The rest of the host stats do seem to work.

Documenting this as a suitable development environment like macOS, could help people getting started with AppSignal. But it's unlikely we'll fully support this setup, like for a production environment.

[2020-02-17 12:38] #316 closed

[2020-02-21 09:13] #584 closed

[2020-02-24 13:58] lvonk opened #586 "Allow to programmatically ignore errors (in Grape)"
Hi,

In the Sinatra integration (when disabling `raise_errors`) it is possible to programmatically ignore errors that are send to AppSignal by setting `env['sinatra.skip_appsignal_error']`:

https://github.com/appsignal/appsignal-ruby/blob/c9fa71b056320cfe2cdd68aa57869f08e4545cf9/lib/appsignal/rack/sinatra_instrumentation.rb#L70

This is great since it allows a more fine-grained control (than spec

[2020-02-24 14:12] tombruijn commented on #586
Responded in https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/25888280844

[2020-02-24 15:00] lvonk commented on #586
Hi,

So when trying to add this to the appsignal gem it turned out to be a bit more complex than I initially thought. Due to the order of middlewares: `insert_before Grape::Middleware::Error, Appsignal::Grape::Middleware` the Appsignal wraps the  `Grape::Middleware::Error`. If you then implement `rescue_from` and return a response to the user there is no error anymore for the appsignal middleware

[2020-02-25 13:56] tombruijn commented on #462
Closing this issue.
Picked up under https://github.com/appsignal/appsignal-agent/issues/496

[2020-02-25 13:56] #462 closed

[2020-02-25 14:51] tombruijn commented on #586
Hi @lvonk,

I've created PR #588 that should implement what you suggested. Can you confirm this works for you?

I'm not sure what the scenario you described in your comment. If we use `insert_before` we should capture the error before Grape renders an error page. The AppSignal middleware doesn't wrap the Grape middleware, but the other way around.

[2020-02-26 09:31] lvonk commented on #586
Hmm strange, when I rescue the error in grape like:

[code]

with
[code]

Then it will reach the Appsignal Middleware rescue block (since the error is handled):

https://github.com/appsignal/appsignal-ruby/blob/7ab700d6dd37720b9062fa6387dc5166b9afc6e8/lib/appsignal/integrations/grape.rb#L23-L28

[2020-03-02 15:37] tombruijn commented on #586
Hi @lvonk,

Yes, if I add my own `base.rescue_from :all` block I do not see it reach the AppSignal Grape middleware, probably because the error has been rescue-ed and does not bubble up the stack any further.

That would be the way to go, manually set the error on the AppSignal transaction if you the error catch in a `base.rescue_from` block.

[2020-03-03 07:46] #586 closed

[2020-03-03 08:33] tombruijn commented on #282
Duplicate of https://github.com/appsignal/appsignal-agent/issues/464
Closing

[2020-03-03 08:33] #282 closed

[2020-03-11 07:34] benjaminwols commented on #583
@tombruijn @matsimitsu Is there an update on this issue?

[2020-03-11 10:51] xadamy opened #596 "Support for Marginalia gem"
This was requested via support.

https://github.com/basecamp/marginalia

[2020-03-18 08:28] tombruijn commented on #583
Hi @benjaminwols, We haven't picked this up yet. We probably need to make an exception for Ruby 1.9 if we want to go the `prepend` approach for the monkeypatch.

[2020-03-19 12:08] tombruijn commented on #583
Hi again @benjaminwols, I had a look at a similar issue today and I see the `Module.prepend` and aliasing method combination is causing more issues than just in Net::HTTP. I've created PR #597 that fixes your reported issue hopefully. Can you try it out (on a non-production environment) and let me know if it worked?

[2020-03-24 10:22] legendetm opened #598 "Add Appsignal.configure besides YAML configuration"
Please add initializer support for Appsignal.
[code]

- Using AppSignal for Ruby gem version 2.10.4
- In my app using Rails version 6.0.2

[2020-03-24 10:35] tombruijn commented on #598
Hi there, it's currently possible to configure AppSignal using Ruby code . Instead of a DSL you are able to pass along a hash to the `Appsignal::Config.new` method.

[code]

Do note, that you will not have to do the check for the active conflict option. If the push API key is not present the config will not be active. https://docs.appsignal.com/ruby/configuration/options.html#option-active

[2020-03-24 10:50] legendetm commented on #598
With that solution it's unclear for me, if I have to call `AppSignal.start` manually

[2020-03-24 13:26] tombruijn commented on #598
Yes, you should call `Appsignal.start` manually, if in a Rails app,  in an initializer, so that it overwrites the original config loaded during Rails boot.

I understand the advantages, but we don't have plans to support this DSL at this time.

[2020-03-24 13:31] legendetm commented on #598
Do I have to call any other methods manually like integerations (Sidekiq, Redis) or all other things are automatically done?

For example https://docs.appsignal.com/ruby/integrations/rack.html is called start_logger.

[2020-03-24 15:04] tombruijn commented on #598
Our integration already calls start logger, it should not be necessary to call it unless you change any logger config options. Since our Railtie already calls it. There should not be any other methods you have to call, the rest is done automatically.

See there is no documentation page for this specific configuration method, I will create an issue on our documentation repository for this.

[2020-03-26 09:39] #583 closed

[2020-04-14 16:54] sergiotapia-papa commented on #486
@tombruijn How can we do this for Elixir and Phoenix? Looking for the same solution in Phoenix.

[2020-04-20 08:27] tombruijn commented on #486
@sergiotapia-papa you mean in combination with absinthe? We have a tracking issue for it here: https://github.com/appsignal/appsignal-elixir/issues/176
With some small tweaks as described in https://docs.appsignal.com/elixir/integrations/absinthe.html (which we give no guarantee of working) you should get basic single process and non-async absinthe support. We're working to improve this in the fut

[2020-04-20 08:43] tombruijn commented on #586
The suggested fix has been shipped in Ruby gem 2.10.5. Docs can be found here: https://docs.appsignal.com/ruby/integrations/grape.html#ignoring-errors

[2020-04-20 08:53] tombruijn opened #600 "Use `deprecation_message` rather than `Gem::Deprecate`"
There was a problem reported in #599. The code change in Ruby gems that caused the issue was reverted before it was shipped. But this did nudge us about our use of the `Gem::Deprecate`. We can instead use our own `deprecation_message` module here: https://github.com/appsignal/appsignal-ruby/blob/490bc24973a8ca94004078580d9a32a01c74ad9c/lib/appsignal/utils/deprecation_message.rb

## TODO

- [ ] Rep

[2020-04-21 10:11] #600 closed

[2020-04-27 11:32] tombruijn commented on #378
Picked up in #602 and merged. Will be released in Ruby gem 2.11. (We're now at 2.10.5.)

[2020-04-27 11:32] #378 closed

[2020-05-04 09:21] tombruijn opened #603 "Use Module.prepend for new instrumentation"
Fixed in https://github.com/appsignal/appsignal-ruby/pull/683

## Background
The issue reported in #583, causing SystemStackError errors, is because the `http_logger` gem uses `Module.prepend` to monkeypatch the Net::HTTP standard library. This is incompatible with the "method aliasing" method we use in the AppSignal Ruby gem to monkeypatch methods.

We updated the monkeypatch method for the Net::

[2020-05-04 11:21] irisbune commented on #603
You might have already seen it, but to be sure: NewRelic says this about it:
https://docs.newrelic.com/docs/agents/ruby-agent/troubleshooting/systemstackerror-stack-level-too-deep

When your app uses Module#prepend on a method that the Ruby agent later uses an alias_method on, it creates a non-terminating recursion and throws the SystemStackError: stack level too deep error.
If you upgraded to Rai

[2020-05-05 08:37] tombruijn commented on #603
We're getting more reports of issue with the change in #597. I'm thinking of reverting the change and fix the issue in #583 another time, like in the next minor version.

[2020-05-05 09:30] tombruijn commented on #583
@benjaminwols heads up! We're going to revert the fix for this today in a new Ruby gem version, see PR #604. You can stay on the version that includes the fix for now while we figure out a better solution, if possible. You can follow the discussion about this issue in #603.

[2020-05-05 11:44] tombruijn commented on #603
I just released Ruby gem 2.10.7 with the revert of this PR #597. Please upgrade to that and let me know if the SystemStackError still occurs. I'll keep this issue open to further discuss if it's possible in the future to move to Module.prepend or not.

[2020-05-13 11:59] tombruijn commented on #289
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/540709/conversations/27054497129

[2020-05-18 12:59] oshanz commented on #12
I'm also looking for this. just want to disable performance metrics for some internal apps.

[2020-05-18 13:33] owexroasia opened #605 "only collect slow requests"
we are getting millions of requests for each user interaction. and all these data is not useful.
it's nice if there were configuration to filter out fast requests and only collect slow requests.
ex:
[code]
so it will only log any action that take more than given time period.

[2020-05-19 13:40] roytomeij commented on #12
Hi @oshanz! Our position on this hasn't changed over the years, specially since we've added many features (e.g. Anomaly Detection) that rely on accurate statistics. While I understand the desire to limit use of AppSignal to exceptions only, we're not an exception tracker and strongly believe in painting the complete picture by providing a consolidated approach.

[2020-05-19 13:46] roytomeij commented on #605
Hi @owexroasia! Unfortunately, that would impact the accuracy of our statistics, making a feature like Anomaly Detection less useful.

For instance, by filtering out fast requests, we wouldn't be able to tell you which interactions were slow, because we wouldn't be able to determine what your percentiles would be (put simply, if we don't know "normal", we can't know "not normal"). This would make

[2020-05-19 13:48] tombruijn commented on #605
We also replied in Intercom (our support system). Closing the issue here.
Let us know if you have any questions about this topic in the Intercom conversation. https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/540654/conversations/27121844510

[2020-05-19 13:48] #605 closed

[2020-06-10 10:58] conarro commented on #104
Just ran into the same underlying issue (`Stack level too deep` related to `request.session`), but not related to DJ.

**Reproduction steps**
* In `appsignal.yml`: set Appsignal `active: true` in the test environment, and ensure `skip_session_data` is `true` (this is the default, so if it isn't defined in your config that should work)
* Add `include ActionDispatch::TestProcess` globally in specs (

[2020-07-01 08:27] thijsc commented on #575
We've received another report. The original Puma integration works well with phased restarts. The new plugin added in 2.9.17 does not. Changed this to a bug since it can break if people used the old integration and upgrade.

[2020-07-01 12:43] tombruijn commented on #575
We now listen to an `on_booted` event in the new plugin. Maybe there's a phased restart event we can listen too as well?

[2020-07-07 07:40] tombruijn commented on #330
Improved ActiveJob support now available in 2.11.0.beta.2. It's available for testing. If anyone following this issue tests this, let me know :)

[2020-07-07 07:53] tombruijn commented on #277
Hi again @tdegrunt,

We're shipping an improved version of ActiveJob support that will work for all listed adapters, including Backburner.
You can try it out now in version 2.11.0.beta.2. Let me know if you do and if it works for you :) (Either here or at support@appsignal.com)

Closing this issue for now as we will support it through activejob.

[2020-07-07 07:53] #277 closed

[2020-07-07 22:41] ce07c3 opened #635 "Possible to subscribe to notifications instead of monkey patching Rails?"
I came across a potential issue with the `http` gem and the `appsignal` gem. The `appsignal` gem uses hooks to install itself into other gems, e.g. Rails instrumentation. Is this compatible with the `start` and `finish` way of dealing with instrumentations in Rails? [See this piece of code](https://github.com/httprb/http/blob/master/lib/http/features/instrumentation.rb):

[code]

Since `appsignal`

[2020-07-08 07:43] tombruijn commented on #635
Hi @ce07c3,

I'm not sure, I'll have to test that. There's mention of the fanout active support queue in our test suite, but it's been a while since we touched it, so it's not top of mind.

[2020-07-08 15:51] ce07c3 commented on #635
I believe the issue is simply with monkey patching when the library could just subscribe to all notifications with the `/.*/` pattern.

[2020-07-08 16:03] tombruijn commented on #635
We did in the past, yes. That was changed in #150 after some performance issues with subscribing to all the events that way.

[2020-07-08 16:18] ce07c3 commented on #635
Well, unfortunately this leads to other issues. Good point about performance issues, I'll check that.

[2020-07-09 07:29] tombruijn commented on #575
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700001399

[2020-07-09 11:42] tombruijn opened #637 "Add action name detection for DelayedJob::Structs"
Currently apps need to define the `appsignal_name` method to get an action name to AppSignal for a job that's built this way.

But I can build in the plugin a valid action name based on the payload:

[code]

Based on this example app: https://github.com/appsignal/appsignal-examples/tree/rails-5+delayed_job

Let's add support for this method to the Delayed::Job plugin.

---

- https://app.intercom.

[2020-07-10 10:50] adamyeats opened #641 "Rails runner support"
Add support for error reporting from inside Rails runners: https://guides.rubyonrails.org/command_line.html#rails-runner

## To do

- [x] Report errors
- [x] Add docs for reporting performance

[2020-07-10 11:00] tombruijn commented on #641
@xadamy can you link to the intercom convo that brought this to our attention?

[2020-07-10 11:03] xadamy commented on #641
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700002295

[2020-07-12 08:50] tombruijn commented on #575
I tried this out with the following `config/puma.rb` file and commands. I'm unable to reproduce the issue as [it appears in the logs](https://app.intercom.io/a/apps/yzor8gyw/inbox/inbox/conversation/24877629510), but did find another issue with the phased restart.

[code]

[code]

What I noticed in testing the phased restart is that `prune_bundler` does some things that might break. AppSignal isn'

[2020-07-12 09:24] tombruijn commented on #575
Upon closer inspection it looks like adding the AppSignal plugin breaks the phased restart. I get this in the puma stdout logs:

[code]

But no error in the stdout or stderr logs or rails logs why it exited. The only other time I see that is when it encounters an error on start.

The server continues to run the old app code because new instances fail on start.

[2020-07-12 09:29] tombruijn commented on #575
The error appeared some time later 🤦

[code]

Anyway, updating the `extra_runtime_dependencies` to include `rack`, a AppSignal gem dependency` worked:

[code]

[2020-07-12 09:39] tombruijn commented on #575
Potential fix to ship in the gem:

[code]

[2020-07-12 18:34] tombruijn commented on #575
Actually, can't use the `config` method as that resets the user defined config. Which we still need, because our plugin is not going to set it.

But also, adding the `extra_runtime_dependencies` loads AppSignal and Rack in the main process, so when a gem gets updated or something they won't update, staying locked at the original version.

Also, because we initialize the config, the config doesn't

[2020-07-13 10:14] tombruijn commented on #637
My testing shows that it already picks it up on a struct job on the latest Ruby gem version.

[2020-07-13 10:47] wok commented on #637
Tested with `appsignal 2.10.10` and `delayed_job 4.1.8`, still getting **unknown** reported to AppSignal UI.

When I query the job name from Rails console I get the following:
[code]
And then [AppSignal::Hooks::DelayedJobPlugin#class_and_method_name_from_object_or_hash](https://github.com/appsignal/appsignal-ruby/blob/main/lib/appsignal/integrations/delayed_job_plugin.rb#L62) will ignore the job n

[2020-07-13 11:37] tombruijn commented on #637
Ah thanks! I think the key here is how it's enqueued, with "Delayed::Job.enqueue".

Time to really rewrite the DJ integration to not use monitor_transaction.

[2020-07-13 15:05] tombruijn commented on #637
Hi @wok, I've released a fix in `2.11.0.beta.4` of the gem. Can you test it in a staging/acceptance environment? And let me know if it works or not.

Closing for now, but feel free to reply here and mention me `@tombruijn`

[2020-07-13 15:05] #637 closed

[2020-07-14 07:34] wok commented on #637
Hi @tombruijn,

just tested in development environment, and I can confirm that the action name is now reported correctly to AppSignal.

Maybe the final return could be changed to return an array, e.g.

[code]

The [caller](https://github.com/appsignal/appsignal-ruby/blob/30f750c80983b11e48b807fa4645889cc0866fae/lib/appsignal/integrations/delayed_job_plugin.rb#L31) expects an array where the first

[2020-07-14 07:56] tombruijn commented on #637
Hi @wok, It shouldn't be necessary here. I can't find a scenario that returns `""` for a `job.name`.
Other cases in that method already return single values for the class method action name. So no need to return an array at all times. The `method_name` value will be empty and the action name builder in the transaction can handle that scenario.

I had a commit ready that rewrote the entire thing to

[2020-07-15 13:29] tombruijn opened #645 "In memory log is not cleared after new logger start"
When the gem is loaded it may log some things before a logger has been started based on the app's config. When the logger is started it flushes the `in_memory_log` to the new logger.

The in memory log is not cleared so when a new forked process starts it may reflush the in memory log to the logger for that process. Because it forked it inherited the main process' in memory log.

We see this happe

[2020-07-22 07:16] #330 closed

[2020-07-31 18:41] jkgraham commented on #603
We are also seeing the `stack level too deep` issue with Bugsnag (>= 6.12.0) and AppSignal (2.10.12) during a capistrano deployment (to any environment). When we revert Bugsnag back to before they introduced `Module#prepend` - version 6.11.1 - everything works fine. Definitely in favor of have an explicit `legacy_mode` style switch to allow us to control how AppSignal will work with the gems we us

[2020-08-03 12:48] tombruijn commented on #470
Added in https://github.com/appsignal/appsignal-ruby/pull/606 and released in version 2.10.9.

[2020-08-03 12:48] #470 closed

[2020-08-05 13:07] tombruijn commented on #575
We should probably document on the puma page that we do not support phased restarts and the plugin will break the app, so it's a DO NOT USE scenario.

[2020-08-27 10:12] matsimitsu commented on #575
We are probably safer running a job in our `minutely probe` that fetches and parses the state file exposed by Puma.

This way we don't have to be "anywhere" and customers can configure the required parameters (state path/token) in the initialiser of the probe.

What do you think @tombruijn ?

[2020-08-28 09:51] tombruijn commented on #575
We can't reliably get it for every scenario that "just works" from the puma processes, main or workers. So yeah we need to fetch it some other way. Your PR #655 looks like the right direction.

[2020-09-01 09:37] grk opened #656 "appsignal_instrument_method produces warnings for methods with kwargs on Ruby 2.7"
## Describe the bug

When a method is using keyword arguments, using appsignal_instrument_method on it produces warnings on Ruby 2.7:
[code]

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 2.11.0
- Using Ruby 2.7.1
- With this code:
[code]

[2020-09-04 09:33] aurelien-reeves commented on #603
We are experiencing that kind of issue too when adding datadog http module

The support request a stack trace, here it is :)

[code]

[2020-09-08 09:07] shairyar commented on #656
Hi @grk thanks for bringing it to our notice, we will look into it and once resolved will post an update.

[2020-09-14 12:08] jeffkreeftmeijer commented on #603
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700009585

[2020-09-19 08:12] timdiggins opened #657 "Set up for gem development doesn't work as described in README"
## Describe the bug

Given I'm trying to start on development on a PR for the first time on this project
I'm following the instructions on the README.
When I run `bundle exec rake install`
Then I get deprecations warnings but also an error and traceback:

[code]

[code]

Looking at Rakefile it does appear that GEMFILES is not defined anywhere.

[2020-09-19 08:21] timdiggins opened #658 "SidekiqProbe is not configured correctly for hostname"
## Describe the bug

Given I have configured a Hostname using config yml (`hostname`) or environment variable (`APPSIGNAL_HOSTNAME`)
When I'm looking at the sidekiq dashboard and I look at the queues hosts
The queue hosts use their own autodetected hostname (socket hostname or ip address) rather than the configured hostname

- Using AppSignal for Ruby gem version 2.11.0

## Fix

The problem is tha

[2020-09-21 07:19] tombruijn commented on #657
Hi @timdiggins!

Looks like I broke that a while ago in #498. I've created a PR with a fix in #659.
Thanks for letting us know!

I think we missed this because we usually configure our build environment per gemfile with something like `export BUNDLE_GEMFILE=$PWD/gemfiles/rails-6.0.gemfile` in our shell. And develop against that environment.

[2020-09-21 07:25] #657 closed

[2020-09-21 08:12] tombruijn commented on #658
Hi @timdiggins,

We offer the hostname option in the Sidekiq probe, because it tries to get the hostname from Sidekiq/redis first. The `hostname` option for the probe is there to override this when you don't want the auto detect behavior there.
https://github.com/appsignal/appsignal-ruby/blob/096d2858e3aa6e89a786c0416b1210f668faf413/lib/appsignal/probes/sidekiq.rb#L87-L101

You can do that as desc

[2020-09-21 09:01] timdiggins commented on #657
@tombruijn - thanks!

[2020-09-21 09:08] timdiggins commented on #658
Yes, thanks I can use that code as a workaround in our local case, but from a code point of view, is there a strong reason not to configure the SidekiqProbe the same as PumaProbe, and indeed the rest of appsignal ruby?

I'd expect them to be parallel, and we were recommended by Appsignal support to configure the hostname/APPSIGNAL_HOSTNAME in order to override the automatic hostnames in the sideki

[2020-09-21 12:05] tombruijn commented on #658
We chose not to use the app's hostname (as configured in AppSignal) but rather the sidekiq redis hostname so that it wouldn't report queues for all app hosts. In the scenario that 5 hosts talk to 1 redis server that has the shared sidekiq queue. Otherwise we'd report for 5 hosts the same metrics under different hostnames. This could create the impression 5 times as much jobs are being processed.

[2020-09-21 12:34] timdiggins commented on #658
Ah - interesting. I had been thinking (from the perspective of a containerized, orchestrated system like Heroku, but using Kubernetes and other systems would be similar, where the "hosts" may be multiple but the actual host name is non-meaningful, and the only interesting thing is the aggregate) that the point of the hostname / APPSIGNAL_HOSTNAME  was to integrate multiple distinct hosts as one en

[2020-09-21 13:44] tombruijn commented on #658
Having multiple distinct hosts report under the same hostname could cause issues. The gauge metrics would overwrite each other, if one host reports a "user_count" of 100 and another host would report 200, the last received value for that minute is stored, not a sum or average.

For counter and distribution/measurements this would work because the metrics get counted onto one another.

Metric type

[2020-09-22 06:58] shairyar commented on #603
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700008427

[2020-09-28 07:56] InteNs commented on #349
any updates on this?
we are running rake tasks with cron and the logs are full with appsignal appsignal appsignal.
we also use stdout because everything runs on docker and i would love to configure `APPSIGNAL_DEFAULT_LOG_LEVEL` in order to control these startup messages:

![image](https://user-images.githubusercontent.com/6474105/94405434-d5364280-0170-11eb-9b1e-b3f3fc6aff74.png)

[2020-09-29 10:42] shairyar commented on #603
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700011598

[2020-10-01 20:15] Nowaker commented on #176
I don't like the idea of `set_error`. It limits us to one error per transaction. I should be able to append an error to the list of errors Appsignal will send after the transaction finishes.

[2020-10-08 07:18] jeffkreeftmeijer commented on #603
The current status of this in the library; we've [reverted](https://github.com/appsignal/appsignal-ruby/pull/604) the patch that switched to `Module.prepend` in the net_http integration, so we're currently using the monkeypatching method everywhere in the AppSignal integration. This makes us incompatible with newer versions of libraries like Datadog and Bugsnag.

I'll second Tom's [proposal](https

[2020-10-20 08:53] tombruijn commented on #176
Hi @Nowaker, we will support multiple errors is a future version of AppSignal for Ruby. We're already working on this in the Elixir and Node.js integrations. The data model for the Ruby gem is currently set up in such a way that we only support one error per transaction. In the meantime I suggest using [`send_error`](https://docs.appsignal.com/ruby/instrumentation/exception-handling.html#appsignal

[2020-10-23 15:17] tombruijn commented on #603
I've actually changed my mind on this. I'm in favor of Module.prepend. But I wouldn't want to support the old method aliasing method if we decide to go the Module.prepend method. I wouldn't want to support both methods if Module.prepend is the future way to go. We have to also drop Ruby 1.9 support in the same release (a major version bump), because Ruby 1.9 doesn't support Module.prepend. It's ti

[2020-10-26 07:01] ecnerwalawrence opened #661 "Shoryuken Crashes when batch option is true"
When Shoryuken is on batch mode, these code blocks don't work.  In batch mode, `sqs_msg` and `body` are returned as arrays.  Unfortunately, the Appsignal Shoryuken hook expects `sqs_msg` and `body` as objects.

https://github.com/appsignal/appsignal-ruby/blob/096d2858e3aa6e89a786c0416b1210f668faf413/lib/appsignal/hooks/shoryuken.rb#L8

https://github.com/appsignal/appsignal-ruby/blob/096d2858e3aa6

[2020-11-05 20:03] snkashis commented on #12
@ixti did you ever fork/make public your monkeypatched version that supports what you were asking for here? I want to disable exception tracking completely and coexist with bugsnag.

[2020-11-09 06:31] jeffkreeftmeijer commented on #603
I'm 100% in favour of the option to switch to Module.prepend, drop 1.9 support and release version 3.0 of the Ruby gem. I'd suggest feature freezing it at only this to get this release out as soon as possible and moving the other next-release work to 4.0. What do you think, @thijsc?

[2020-11-09 07:29] thijsc commented on #603
We are planning to add the spans API in Ruby 3.0. I'm not sure how I feel about doing two major releases in a row. We've historically not bumped it often, maybe people would assume they have to carefully upgrade two times?

[2020-11-09 08:04] shairyar commented on #603
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700015880

[2020-11-09 15:32] shairyar commented on #121
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700016075

[2020-11-09 16:24] ixti commented on #12
@snkashis Heya, sorry, that was very long ago, but as far as I remember we've abandoned idea of using AppSignal, and APM in general, and focused on bugs using Rollbar only :D

[2020-11-13 07:33] jeffkreeftmeijer commented on #603
As discussed in the integrations call; here's the plan for switching to `Module.prepend`. Any thoughts on this, @tombruijn @thijsc? :)

# Switching to Module.prepend

As explained in https://github.com/appsignal/appsignal-ruby/issues/603#issue-611726356, there are two ways to monkey-patch instrumentation into existing code; namely method aliasing and `Module.prepend`. However, when used together i

[2020-11-13 08:20] irisbune commented on #603
Thanks for all the effort guys 😄

[2020-11-13 09:37] tombruijn commented on #603
@jeffkreeftmeijer looks good 👍

[2020-11-18 20:13] lenart opened #665 "Appsignal process restarts every 5 minutes?"
## Describe the bug

Looking at my `appsignal.log` I noticed that the agent restarts every 5 minutes (at least that's what I assume from PID change). Is this normal behavior or is there something else going on?

I do have a corn job that runs `pghero` rake task every 5 minutes but I'm not sure why that would restart the agent?

## crontab

[code]

## appsignal.log

[code]

## appsignal config

Her

[2020-11-23 12:06] jeffkreeftmeijer commented on #603
While moving all instrumentation over to using Module.prepend, I came across our ["`Object` instrumentation"](https://docs.appsignal.com/ruby/instrumentation/method-instrumentation.html), which uses `alias_method` to monkey-patch methods in generic Ruby objects by adding two methods to the `Object` class.

Instead of rewriting this to use `Module.prepend` (for which I don't see a clear approach ju

[2020-11-23 13:56] jeffkreeftmeijer commented on #603
Status update: all of the integrations now run through Module.prepend instead of method aliasing, except for the Padrino one. I wasn't able to get it to override the `route!` method today.

[code]

Something like this doesn't seem to work, as by the time this code is executed, the routes are already included in the app. I'm not sure if this is caused by the test setup, or the actual integration, b

[2020-11-23 15:52] tombruijn commented on #603
It may also be less problematic? It's not necessarily something other gems would alias methods for as it's supposed to be used for custom app code. These methods wouldn't cause a conflict also being `Module.prepend`ed. I wouldn't want to deprecate it right away because it's using the alias method.

[2020-11-23 15:54] tombruijn commented on #603
Nothing springs to mind no 😬  I would need to dive deeper into it to see why it's going wrong or how to fix it.

[2020-11-25 10:26] jeffkreeftmeijer opened #667 "Ruby gem 4.0"
Plans for Ruby gem 4.0. This includes breaking changes, new features and removal of deprecations.

## Changes

### Features

- [x] Rails runner support - #641
- [x] Support multiple errors - #1152
- [x] ~Enable Rake instrumentation by default? - #1135~
  - I don't think it's a good idea. It's fine if people can enable it with the config option.

### Quality of life improvements

- [x] #315
- [x] L

[2020-11-25 12:38] jeffkreeftmeijer commented on #603
I tried getting through again. Here's a test setup that should work similarly to how Padrino attaches to Sinatra, and how the Router gets added to the Application:

[code]

Adding the prepended method here works as long as it's executed before the Application class is defined. Back in the [Padrino hook](https://github.com/appsignal/appsignal-ruby/blob/module-prepend/lib/appsignal/integrations/padr

[2020-11-25 14:11] jeffkreeftmeijer commented on #635
Hey @ce07c3,

We’ve released version 2.11.1-beta.1, which adds support for ActiveSupport notifiers that use start and finish. Could you try that and let us know how it works for you?

[2020-11-25 14:35] ce07c3 commented on #635
@jensljungblad something for Friday? :)

[2020-12-09 18:32] luccasmaso opened #670 "Heroku deployment error "Trying to start new transaction with id""
---

## Describe the bug

After AppSignal addon is configured in Heroku and I trigger a deployment with the changes below, application build fails

<img width="545" alt="Screenshot 2020-12-09 at 15 31 31" src="https://user-images.githubusercontent.com/1427231/101671727-9efc2580-3a33-11eb-8077-c4efae6c2d93.png">

[code]

<img width="1101" alt="Screenshot 2020-12-09 at 15 52 10" src="https://user-im

[2020-12-15 15:19] PhilCoggins commented on #526
Any progress on this one? We got bit by this today, had some exceptions in third-party middleware and didn't catch them for a while.

[2020-12-16 08:33] thijsc commented on #635
2.11.1 has been released in the meantime that should fix this issue.

[2020-12-16 08:33] #635 closed

[2020-12-17 02:23] omegaliii commented on #670
Had the same issue and fixed it by downgrading the incompatible gems. It is a known issue, checkout [Compatibility issue with other instrumentation gems](https://docs.appsignal.com/support/known-issues/gem-instrumentation-compatibility.html) in Appsignal doc.

[2020-12-17 02:42] luccasmaso commented on #670
@omegaliii Nice! Didn't know about that. Thanks

[2020-12-17 05:52] shairyar commented on #603
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/16410700020178

[2020-12-21 11:50] thijsc commented on #665
Hi @lenart. What you're seeing in the log is AppSignal starting within the Ruby processes. It's not actually starting a new agent. So all good!

[2020-12-21 11:50] #665 closed

[2020-12-28 23:50] alanhala opened #672 "Appsignal logging "Nothing on timestack in finish event""
I was investigating the logs of the app I'm working on and I found that at the time we had an outage, appsignal was logging lots of entries like this one:
`[2020-12-28T23:35:36 (extension) #3][Error] appsignal: Nothing on timestack in finish event`

We are using
- appsignal (2.11.1)
- ruby 2.6.6
- rails 6.0.3.4

I tried to investigate and find where this entry might have been logged but I couldn't

[2020-12-29 10:07] johannesluedke opened #673 "Error failed to load extension on Ruby 3.0.0 that doesn't happen on Ruby 2.7.2"
## Describe the bug

Running the tests of my short example app with on Ruby 2.7.2 works, but on Ruby 3.0.0 yields `ERROR: AppSignal failed to load extension. Please run `appsignal diagnose` and email us at support@appsignal.com
LoadError: cannot load such file -- appsignal_extension`

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version  2.11.1
- With this code

[2020-12-30 07:13] Wijnand opened #675 "Appsignal agent turns into a zombie process"
Hi AppSignal,

since the 2.11.1 version of the Ruby Gem we are seeing zombie processes reported by our monitoring server.
After quick investigation this turns out to happen on both MacOS and Linux at least so I do not consider this an environment specific issue.

It also does not matter how the gem is loaded or what framework is being used, both when started from rails or just a simple ruby script

[2021-01-04 11:02] thijsc commented on #673
We have a pull request with some minor changes for 3.0 going on in #671.

[2021-01-05 12:41] ioki-cha commented on #675
We've also spotted this on Linux on all our machines that run AppSignal:

[code]

Seems like some internal process might [not wait for its children correctly](https://linux.die.net/man/2/waitpid)?

[2021-01-07 10:08] tombruijn opened #677 "Test issue for automation"
TEST

[2021-01-07 16:20] tombruijn commented on #677
Automation successful. Closing. https://github.com/appsignal/backlog-helper/issues/163

[2021-01-07 16:20] #677 closed

[2021-01-08 07:49] jeffkreeftmeijer opened #678 "Deprecate (set|send)_error metadata arguments"
As [described in the documentation](https://docs.appsignal.com/ruby/instrumentation/exception-handling.html#appsignal-set_error), our error methods have specific arguments for passing metadata like tags and namespaces. Because we also allow a block to be passed, we’d like to switch to using that instead.

We’ll deprecate these arguments and recommend using a block instead.

- [ ] Deprecate method

[2021-01-08 13:13] tombruijn commented on #678
Deprecate them in version 3 and drop them in version 4?

[2021-01-08 15:35] tombruijn commented on #656
Looks like the double splat `**` that we need, or is suggested, is not available on Ruby 1.9. So we can pick this up after #676 is merged, where Ruby 1.9 support is dropped. So it will be part of the AppSignal for Ruby gem 3.0 series.

[2021-01-08 17:57] johannesluedke commented on #673
PR is now https://github.com/appsignal/appsignal-ruby/pull/681

[2021-01-11 06:39] jeffkreeftmeijer commented on #678
Yes, that sounds like a plan. Let’s triage this to be before the 3.0 release in the next integrations call.

[2021-01-11 10:35] tombruijn commented on #673
Fix released as part of Ruby gem 2.11.2. Let us know if you run into any issues. Closing for now.

[2021-01-11 10:35] #673 closed

[2021-01-13 07:55] saboter commented on #675
Same here. Spotted on Ubuntu 20.

[2021-01-13 15:32] iDuuck opened #684 "undefined method `env' for #<ActionCable::Channel::ConnectionStub>"
## Describe the bug

I am currently trying to make my RSpec test working, and I recently stumbled upon a failure, which I think is a bug in the system.

When I use the `stub_connection` helper. I am getting the following error.

[code]

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 2.11.2
- In my app using framework/library/gem ... version 6.0.3.2
- With

[2021-01-15 11:23] thijsc commented on #526
Sorry for the slow response on this. We're putting this on our backlog.

[2021-01-15 11:35] shairyar commented on #575
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700022903

[2021-01-15 13:08] tombruijn commented on #202
Closing. PR #685 was merged.

[2021-01-15 13:08] #202 closed

[2021-01-15 13:57] tombruijn commented on #603
We merged #683 that moves all our integrations to use Module.prepend. This will be shipped in the next major release: 3.0. We don't have a release date yet, but also don't want to wait too long with shipping it.

[2021-01-15 14:28] tombruijn commented on #661
Hi @ecnerwalawrence, Sorry for the very delayed response. This issue slipped through.

I looked at the batch option and found this in the wiki:

https://github.com/phstc/shoryuken/wiki/Worker-options#batch

So it looks like we should expect arrays there, but we do not currently. This looks like a bug.

If you batch these messages, do you expect one sample for all the messages processed, or a sampl

[2021-01-18 17:08] #661 closed

[2021-01-19 07:30] thijsc commented on #675
Thanks for reporting! We're going to look into this.

[2021-01-19 08:50] tombruijn commented on #661
@ecnerwalawrence Batch support has just been released in version 2.11.3 of the Ruby gem.

[2021-01-19 09:00] ecnerwalawrence commented on #661
Hmm.  I am impartial on any solution.

[2021-01-19 09:01] ecnerwalawrence commented on #661
Many thanks!  I'll try it out.

[2021-01-19 09:12] tombruijn commented on #661
Unfortunately I had to go for the route that instruments all messages as one batch. That's how the middleware in shoryuken works and I was limited by that. I couldn't instrument every message in a batch separately. This means the metadata on the sample we collect for a batch will not include the metadata for every message, but only the oldest message as that probably contains the most relevant inf

[2021-01-20 11:27] #149 closed

[2021-01-20 19:48] mperham commented on #526
Part of the issue here is that you aren't using Sidekiq's global error handling system, introduced in Sidekiq 3.0[1]. Unless I'm missing something else, errors within Sidekiq but outside of your middleware won't be reported to AppSignal. Is that the root issue?

1: https://github.com/mperham/sidekiq/blob/master/3.0-Upgrade.md#error-service-providers

[2021-01-21 13:08] #656 closed

[2021-01-21 13:45] tombruijn commented on #656
@grk A fix for this has been released as ruby gem version 2.11.4 🎉

[2021-01-21 13:46] grk commented on #656
Awesome, thank you!

[2021-01-25 10:18] andreasunterhuber opened #695 "Crash on Sidekiq web interface on each manual job operation "wrong number of arguments (given 1, expected 2)""
Using Sidekiq in most recent version (6.1.3) and AppSignal in latest version (2.11.4) we get errors on web-ui of Sidekiq (Sidekiq::Web) we get errors on each job operation like `delete`, `re-enqueue`.

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal 2.11.4 for Ruby gem, Ruby version 2.6.6
- Add a job that fails or starts in some hours for example
- open web-interface of Sideki

[2021-01-25 12:33] tombruijn commented on #695
Hi @andreasunterhuber, can you try upgrading to AppSignal for Ruby gem version 2.11.4 and let us know if still occurs then?

[2021-01-25 13:03] andreasunterhuber commented on #695
@tombruijn as I mentioned in my post, we use already version `2.11.4`

[2021-01-25 21:37] alanhala commented on #672
anything?

[2021-01-26 09:59] tombruijn commented on #672
Hi @alanhala, this issue got missed by us. I've added it to our board to look at.

From what I can tell so far, This error comes from our extension when an event is "finished" here: https://github.com/appsignal/appsignal-ruby/blob/889ae6d855a4bbe15ff498d386293c75885c1eaa/lib/appsignal/transaction.rb#L349
but the event was never registered as "started".

Is there anywhere in the app that the AppSig

[2021-01-26 10:01] tombruijn commented on #695
Ah ok, you listed "2.6.6" later in your message, so I got confused 😅

[2021-01-26 10:03] tombruijn commented on #695
Looks like the arguments have changed so we'll need to investigate what arguments are expected instead. Weird that it only happens for Sidekiq web UI in the Rails app.

I expect it's not a lot of work, but we'll need to plan some time for this. The team gets together tomorrow to discuss it.

[2021-01-26 10:21] andreasunterhuber commented on #695
@tombruijn thanks for the feedback! Ok. would be great if the fix will arrive not so far in the future. It affects three productive environments on our side.

[2021-01-26 10:57] alanhala commented on #672
Hi @tombruijn

No, we don't explicitly call any of those methods in our app if that's what you meant.

[2021-01-26 12:17] tombruijn commented on #672
That is what I was wondering. Ok then. It shouldn't break anything. It's just that somewhere an event doesn't get "finished" properly. I don't see how this could be the case in the instrumentation we provide with the rails middleware, so I assumed it would be coming from some custom instrumentation (https://docs.appsignal.com/ruby/instrumentation/instrumentation.html).

[2021-01-26 13:50] alanhala commented on #672
Is there a way to know which event is the one that is breaking?

[2021-01-26 16:05] tombruijn commented on #672
Not currently no. That should be part of the error message, which I may change right now, but can only be seen with a new extension build and Ruby gem release. I had a look if our debug log mode logs more data, but it only does that if it gets past this error. The only other way is to isolate the call in the app, but that would mean you already know what is causing it.

[2021-01-26 19:38] alanhala commented on #672
Great! So you will release a new gem version adding more information to the message?

[2021-01-27 09:27] tombruijn commented on #672
Yes, but I'm not sure when yet. It's annoying the error message is logged, but it doesn't look like something is horribly broken unless the log is filled with them for every minute. And then only the events aren't recorded properly.

[2021-01-27 16:27] tombruijn commented on #672
@alanhala I've released 2.11.5 with more logging. Can you update the gem in your app and see what extra information is being logged on that same error line?

[2021-01-27 17:05] alanhala commented on #672
@tombruijn Great! Will do. Thanks.

[2021-01-27 17:14] tombruijn commented on #672
@alanhala can you also enable [transaction_debug_mode](https://docs.appsignal.com/ruby/configuration/options.html#option-transaction_debug_mode)? That way we have even more information to debug it.

[2021-01-28 10:10] tombruijn commented on #603
We've released a beta release for the 3.0 Ruby gem, `3.0.0.beta.1`. Please help us test the fix for this issue by installing the beta in your app in a non-production environment. Let us know here if you run into any other problems after installing that version. Or let us know at support@appsignal.com!

[2021-01-28 12:30] alanhala commented on #672
@tombruijn I've just updated the gem and waiting to see if the log shows up again. By enabling `transaction_debug_mode` we will start logging a lot more, right? Not sure I will be able to do that in production. I would prefer waiting and see if your new release adds the information I need to figure out where's the problem.

[2021-01-28 12:56] tombruijn commented on #672
@alanhala Yes it will log a bit more information yes. It logs every call being made to our extension, including the start_event and finish_event functions. The more requests/jobs/etc the more transactions. But I think we'll need that extra information to see which event didn't get finished properly.

[2021-02-01 10:21] shairyar opened #696 "appsignal agent process utilises 100% of CPU when using rails console"
When running the rails console on the container, the appsignal-agent process begins to utilize 100%+ of CPU,

The customer using version 2.11.4
Diagnostic report: https://appsignal.com/admin/diagnose_reports/diagdaa54708f6b8b159c6b5
appsignal.log: https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700023825#part_id=comment-16410700023825-7789530617

[2021-02-01 10:21] shairyar commented on #696
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700023825

[2021-02-02 06:28] shairyar opened #697 "Add out of the box support for sneakers"
The customer requested if we can detect sneaker's background processes out of the box?