[2021-02-02 06:29] shairyar commented on #697
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700024653

[2021-02-02 16:38] tombruijn commented on #695
@andreasunterhuber I've tried to reproduce your issue in our test-apps using the `ruby/rails-sidekiq` app and haven't been able to reproduce the error in a basic Rails + Sidekiq + AppSignal app. Can you tell me more about what other frameworks your using in your Rails app? And how you mount the sidekiq web ui? What kind of web ui are you using, basic or the pro version?

[2021-02-03 13:25] tombruijn commented on #697
Nice to have. Not going to put it on our roadmap now, but let's keep the issue open to track interest.

[2021-02-04 17:02] alanhala commented on #672
@tombruijn we've just received the extended log entry. Here's an example:
`[2021-02-03T21:23:47 (extension) #3][Error] appsignal: Nothing on timestack in finish event for event 69db753f-8db0-487f-94a0-5a42e91fcad5 - perform_job.atlas`

`perform_job.atlas` is what we use when we execute jobs in our background system, similar to sidekiq. This is what we do:
[code]

[2021-02-04 17:03] alanhala commented on #672
As you see, it took a few days to happen. As it only happens in production, I'm not able to add the debug mode as it will be a massive amount of logs :/

[2021-02-05 10:18] tombruijn commented on #672
@alanhala thanks for the new log entry. It's not the `perform_job.atlas` event specifically that's the problem probably, but this helps us find the event that does. It is just the last event in the stack that is trying to close, but can't. More events have been finished than have been started.

The quickest way to debug this issue would be enabling the `transaction_debug_mode`. That way we can see

[2021-02-05 11:47] andreasunterhuber commented on #695
Hi @tombruijn thanks for trying to fix the issue. We use the standard Sidekiq with multiple instances and queues.
* **Config 1**
   *  Sidekiq 5.2.7
   * Latest AppSignal 2.11.4
   * Additional Gems that could probably interfere
       * sidekiq-limit_fetch
       * sidekiq-scheduler
* **Config 2**
   *  Sidekiq 6.1.3
   * Latest AppSignal 2.11.4
   * Additional Gems that could probably interfere

[2021-02-05 12:12] andreasunterhuber commented on #695
@tombruijn we tried also with AppSignal version `2.11.5` without success.

[2021-02-08 08:18] #526 closed

[2021-02-08 09:44] tombruijn commented on #526
I've released the middleware prepend in Ruby gem version 2.11.6.

We're going to look at the the error handler next, thanks for the insight @mperham !

[2021-02-11 08:38] tombruijn commented on #695
@andreasunterhuber I am unable to get the error you're running into. I've tested this on this testing app with the additional sidekiq gems you listed: https://github.com/appsignal/test-setups/tree/sidekiq-issue-695

But so far no error when requeuing or deleting jobs from the sidekiq web UI. Can you compare the setup of your app to the one I linked? Or update it to create a reproducible state of t

[2021-02-11 09:08] andreasunterhuber commented on #695
@tombruijn thanks a lot for your help. We will invest now some additional time to dig into it 👍 I will come back to you shortly.

[2021-02-11 16:22] andreasunterhuber commented on #695
Dear @tombruijn it seems that this was caused by `rack-protection` GEM that was a decency from Sidekiq in the older days. It was still in our projects. The crash leads always to AppSignal, but AppSignal was not the cause. After cleaning up some code we removed it and it seems to work now 🎉
We tested with two projects and it seems fine so far. I guess this is enough to close the issue.
Sorry for th

[2021-02-11 16:22] #695 closed

[2021-02-11 17:13] #678 closed

[2021-02-12 09:14] tombruijn commented on #695
Awesome to hear you found the cause 🎉  Even better you could fix it by removing a dependency 😄

[2021-02-12 16:45] tombruijn commented on #684
I've reproduced the problem and am working on a fix.

[2021-02-15 00:03] pixeltrix opened #703 "Appsignal minutely probe for puma results in a warning on boot"
This is more of a cosmetic issue than a bug but the minutely probe thread that is started in the parent puma process results in a warning when puma boots like this:

[code]

As I said, this warning is purely cosmetic as it's there to warn users that any threads in the parent process won't be carried over into the child process. Since this is the desired behaviour, the warning is spurious and only

[2021-02-17 07:14] raulr commented on #641
As a workaround I add this inside the Application class in `config/application.rb`:

[code]

But this way you only get error reporting, not instrumentation. Official support of rails runner would be great.

[2021-02-18 10:41] tombruijn commented on #684
@iDuuck Thanks again for the report! A fix for this has been released in Ruby gem 2.11.7. Please upgrade and let us know if you run into any problems :)

[2021-02-18 10:41] #684 closed

[2021-02-18 13:53] #703 closed

[2021-02-19 08:38] grk opened #707 "Appsignal extension fails to load on M1 macs"
https://appsignal.com/diagnose/diag0341f8d8bcee9f83e330

[code]

Would be great to have arm-darwin support, otherwise I see this on every app load:
[code]

[2021-02-19 09:03] tombruijn commented on #707
Hi @grk, we're aware of the issue and have updated our docs page about it: https://docs.appsignal.com/support/operating-systems.html#macos For now we recommend running an app through rosetta2 if you need AppSignal on an M1 mac.

This support is not on our direct roadmap. We're first going to look at ARM support for linux, as that is more likely to run in production. That too is behind some other w

[2021-02-19 15:46] alanhala commented on #672
@tombruijn hey sorry for the delay here.

I'm afraid I won't be able to enable the transaction_debug_mode in production :/.

No, we don't nest any monitor_transaction calls. We do have some ActiveSupport::Notifications instrumentation from Rails and from other gems like HTTP calls.

We have our own background jobs system that it's built on top of ActiveJob

[2021-02-22 09:25] tombruijn commented on #672
@alanhala  That is probably the cause of the log. In Ruby gem 2.11 we [have improved Active Job support](https://blog.appsignal.com/2020/08/11/ruby-gem-2-11.html) in such a way that it should auto instrument all adapters, not just the ones we have implemented Active Job support for (like Sidekiq, Delayed Job, etc).

It automatically creates a transaction for every Active Job job, so starting one m

[2021-02-22 13:30] tombruijn commented on #300
This should be superseded with the span API.

[2021-02-22 13:30] #300 closed

[2021-02-22 16:05] alanhala commented on #672
@tombruijn we are not using `ApplicationJob.execute` for performing the jobs, so we are not using the Appsignal hook. That means that we need to call `Appsignal.monitor_transaction`. Also I checked that `Appsignal.monitor_transaction` calls `Appsignal::Transaction.create` which doesn't replace the transaction if there's a current one. So maybe that's not the issue here?

[2021-02-23 09:22] tombruijn commented on #672
@alanhala  `Appsignal.monitor_transaction` doesn't replace the current transaction, but it does reuse it. Do you see a debug log message starting with "Trying to start new transaction with id" in the appsignal.log? Can you send your appsignal.log or a full [diagnose report](https://docs.appsignal.com/ruby/command-line/diagnose.html) to support@appsignal.com ?

When it reuses a trnasaction, when th

[2021-02-23 13:04] #658 closed

[2021-02-23 13:08] tombruijn commented on #159
Closing in favor of #329

[2021-02-23 13:08] #159 closed

[2021-02-23 15:21] tombruijn commented on #603
I released Ruby gem 3.0.0.rc.1 which will be the version that will be the final release, unless any last minute bugs come up. It's almost identical to beta.1 except for some patch releases in the 2.x series that were merged into the 3.0.0 branch. Please test it and let us know at support@appsignal.com if any issues come up.

[2021-02-26 10:43] tombruijn commented on #670
We're releasing Ruby gem 3.0 on Monday with a fix for this issue, you can use the release candidate if you need it before that (no changes between the versions). I'm closing this issue.

For information see the docs in this PR with the upgrade guide: https://github.com/appsignal/appsignal-docs/pull/426
Live preview: https://deploy-preview-426--dreamy-wright-e9a95c.netlify.app/ruby/installation/upg

[2021-02-26 10:43] #670 closed

[2021-02-26 15:45] tombruijn commented on #675
I can reproduce this as a change between 2.11.0 and 2.11.1.

I can reproduce on macOS and Linux (in docker) by starting the app, and then sending `kill -TERM <appsignal-agent PID>` (maybe a couple times). The agent process stops, but then a new `appsignal-agent` process gets started by our Ruby extension when it detects the `appsignal-agent` process is no longer running. Whenever it starts the age

[2021-03-01 09:56] tombruijn commented on #603
Ruby gem 3.0 is released! Read more about it in [our blog post about the release](https://blog.appsignal.com/2021/03/01/ruby-gem-3-0.html) and [read our upgrade guide to upgrade](https://docs.appsignal.com/ruby/installation/upgrade-from-2-to-3.html).

Do any issues come up, please contact us at support@appsignal.com

[2021-03-01 09:56] #603 closed

[2021-03-01 10:21] tombruijn commented on #670
Ruby gem 3.0 is released: https://blog.appsignal.com/2021/03/01/ruby-gem-3-0.html

[2021-03-01 10:22] tombruijn commented on #583
This fix has been reapplied in Ruby gem 3.0: https://blog.appsignal.com/2021/03/01/ruby-gem-3-0.html

[2021-03-01 15:27] grk commented on #707
Would it be possible to have an ENV var or some other way to disable this error? Currently this is my console output:
[code]

[2021-03-02 10:48] grk commented on #707
It also means that tests for code that interacts with Appsignal (like making sure an error is sent) fail locally, I need to stub out `Appsignal.send_error`

[2021-03-02 13:03] tombruijn commented on #707
It should never result in an error. What are you testing in tests that interact with AppSignal?

[2021-03-02 17:19] alanhala commented on #672
No, no warnings with that message. I've already run the diagnose and sent it to support.

[2021-03-03 13:37] tombruijn commented on #672
[Private support conversation](https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/mentions/conversations/16410700029624)

[2021-03-04 13:05] grk commented on #349
Just wanted to add a vote for this, would be great if we could reduce this noise.

[2021-03-10 12:38] tombruijn commented on #675
One small update, I have confirmed the defunct process is always there after boot without any of the 3 scenarios necessarily happening I mentioned earlier.

[2021-03-15 10:38] tombruijn commented on #675
Moving this issue to blocked because we now have two issues in progress and this issue is blocked on https://github.com/appsignal/appsignal-agent/issues/662

[2021-03-16 15:47] nickcampbell18 opened #710 "Handled exceptions from ActiveJob are still reported to AppSignal"
## Describe the bug

ActiveJob in Rails lets the user specify errors that they would like to automatically retry, with the [retry_on](https://api.rubyonrails.org/classes/ActiveJob/Exceptions/ClassMethods.html#method-i-retry_on) method. From the documentation (emphasis mine):

I've had a read through the hooks code but I don't think that the AppSignal client is looking at these handlers. For us, th

[2021-03-24 12:33] tombruijn commented on #710
Hi @nickcampbell18,

What you're describing is correct. We report all errors, even if the job gets retried. Our ActiveJob integration is reporting errors that occur in any ActiveJob job.

We agree that we could do better reporting or notifications based on the retry attempts. Either not send the errors if they are going to be retried, or only send out notifications if the maximum number of retries

[2021-03-24 12:33] #710 closed

[2021-03-24 13:00] nickcampbell18 commented on #710
Thanks for the thoughful response, much appreciated 🙏

[2021-04-01 10:34] theflow opened #714 "Configurable log level?"
Hi there 👋,

I'm a little bit annoyed by the log output when running on Heroku where it logs to STDOUT and then it always shows up when starting up a console:

[code]

Would be really great if I could set the log level to `ERROR` as part of the config, either as a separate flag like `config[:debug]` or pass in the level directly.

Cheers,
Florian

[2021-04-01 12:54] czj commented on #707
We have the same error message on all our Rails applications.

Disabling the extension (via an ENV variable or configuration) would be appreciated in dev / test environments.
Supporting the extension on Apple ARM is not important, but keeping developpers happy with less noise is :-)

[2021-04-03 10:04] fynsta opened #715 "Not working with Elastic APM"
## Describe the bug

We wanted to reenable appsignal now that support for ruby 3.0 is there. We also have elastic-apm enabled.
Upon the deploy, on some actions we experienced an endless loop between appsignal and elastic-apm.

## Stacktrace ##

elastic-apm (3.13.0) lib/elastic_apm/child_durations.rb:57 synchronize |  
-- | --
elastic-apm (3.13.0) lib/elastic_apm/child_durations.rb:57 stop |  
elas

[2021-04-06 00:57] rainerborene opened #716 "Suggestion: Track ActiveRecord connection pool stats"
A suggestion for a new probe on this library: `ActiveRecord::Base.connection_pool.stat`

[2021-04-08 13:11] shairyar commented on #575
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700034169

[2021-04-12 10:13] shairyar commented on #696
The customer is now running into this even when they are not using rails console.

[2021-04-13 13:20] rickiesmooth commented on #707
I'm probably missing something but it seems like calling `Appsignal.increment_counter` results in an error for me.
[code]

[2021-04-19 08:59] tombruijn commented on #707
Hi @rickiesmooth, I've confirmed the issue. The extension Ruby class is working as expected when the extension isn't loaded, however, when generating a "Data" object it tries to do that on a `nil` object it got back from the [`method_missing` method](https://github.com/appsignal/appsignal-ruby/blob/79850976a2229ea3de7dfa662387ce3ba009b37b/lib/appsignal/extension.rb#L40). It should also check that

[2021-04-19 11:24] tombruijn commented on #575
Let's add a test setup to the test-setups repo

[2021-04-19 11:27] tombruijn commented on #714
Duplicate of https://github.com/appsignal/appsignal-ruby/issues/349

[2021-04-19 11:33] tombruijn commented on #696
Thijs says, we read the socket but it's empty, so it keeps retrying very quickly, causing a 100% CPU usage. Let's see if we can add a small sleep in that retry action to avoid the 100% CPU.
It wouldn't solve the communication issue that's occurring here.

[2021-04-19 12:14] shairyar commented on #715
@fynsta it seems you are running into compatibility issues with other gems, my colleague @tombruijn
 created a guide on what to do when you run into this case, I will recommend you to refer to [that](https://docs.appsignal.com/ruby/installation/upgrade-from-2-to-3.html#compatibility-with-other-instrumentation-gems).

[2021-04-19 12:14] #715 closed

[2021-04-20 09:06] tombruijn opened #719 "Missing extension methods raise error on extension installation failure"
When the AppSignal extension fails to install, it should disable itself without raising any errors. Unfortunately it does when you create a transaction directly (not using the `monitor_transaction` helper) or send a metric.

I tested this in the [ruby/single-task](https://github.com/appsignal/test-setups/tree/28c6c8627d73e6a534af684b1d1b2bd9d6e9d738/ruby/single-task) and [ruby/jruby-single-task](h

[2021-04-20 09:06] tombruijn commented on #707
In created issue https://github.com/appsignal/appsignal-ruby/issues/719 to fix the extension error.

[2021-04-21 07:47] #719 closed

[2021-04-21 09:11] tombruijn commented on #719
The fix for this was released in version 3.0.3

[2021-04-21 09:12] tombruijn commented on #707
The extension fallback issues should be fixed in 3.0.3 cc @rickiesmooth

[2021-04-21 12:06] tombruijn commented on #672
Published gem 3.0.3 with more debug logging.

[2021-04-22 12:18] rickiesmooth commented on #707
thanks @tombruijn !

[2021-05-07 08:06] #349 closed

[2021-05-10 11:19] tombruijn commented on #714
This has been fixed in Ruby gem 3.0.4.

[2021-05-10 11:19] #714 closed

[2021-05-10 11:33] tombruijn commented on #696
@jeffkreeftmeijer you can also try to set up a similar test setup as for the FreeBSD issue which recreated the mio create issue to try and reproduce it: https://github.com/appsignal/rust-library-mio-freebsd-test-setup
You'll probably need to copy-paste in the code that probably causes it, and run it on a Ubuntu VM probably. This issue is not specific to the FreeBSD OS, the other issue https://gith

[2021-05-10 11:56] theflow commented on #714
thank you 🙏

[2021-05-14 18:06] alanhala opened #726 "Redis instrumentation payload for lua scripts."
In our application we have some Lua scripts for Redis and I found that they are weirdly displayed in the Slow Events page. Here's an example of one:
[code]
The reason is because the redis client is called with eval, sending the script as first argument and then the remaining arguments would be the lua script ones. Unfortunately the only way to fix this is by overriding the `RedisIntegration`. Is t

[2021-05-17 12:46] tombruijn commented on #726
Hi @alanhala, I think what's happening here, is that we consider the entire lua script given to the eval command as arguments. We then filter out those arguments later, as we do with any other arguments for commands.

What behavior would you expect here?
Is the first argument always the script, e.g.: `> eval "return {KEYS[1],KEYS[2],ARGV[1],ARGV[2]}" 2 key1 key2 first second`, and do you want to s

[2021-05-17 18:09] alanhala commented on #726
Yeah, correct. The first argument is always the script and then the remaining ones are the arguments passed to the script.

To be honest, I'm not sure. The workaround that I did was basically taking the string and mapping it to a symbol that represents the script name and we added a fallback to sending the whole script, just in case.

But now that I'm thinking while writing maybe a better solution

[2021-05-17 18:18] alanhala commented on #726
Another thing that I realized is that you hook into the `#process` method, which in some cases can receive more than one commands (only when you call the redis client using the pipelined stuff), making the previous snippet to behave weirdly as scripts might contain "\n" too. So I was wondering if it would be better to hook into the `write` method which actually receives only one command to be exec

[2021-05-21 01:04] richardonrails commented on #183
This would be very helpful. I was hoping to see throughput and response time graphs by HTTP response code out-of-the box with AppSignal.

[2021-05-28 07:48] shairyar opened #730 "Support magic dashboard for Passenger"
I had a discussion about this with @matsimitsu, it seems that it can be done, but because it’s an external command we can’t just plonk it in a minutely probe and be done with it. It needs a lot of error handling around it to ensure it fails gracefully and It’s something that will take a little time to implement.

[2021-05-28 07:55] shairyar commented on #730
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700039333

[2021-05-31 11:20] tombruijn commented on #730
Duplicate of https://github.com/appsignal/appsignal-server/issues/3926

[2021-05-31 11:20] #730 closed

[2021-05-31 13:05] tombruijn commented on #726
The fix has been released in Ruby gem 3.0.6. Thanks @alanhala !

[2021-05-31 13:05] #726 closed

[2021-06-07 09:16] tombruijn commented on #575
Test setup added here: https://github.com/appsignal/test-setups/tree/e74ed9101ad7f8b5af52d5f6a3ccc439712eb3a2/ruby/sinatra-puma

[2021-06-08 13:48] shairyar commented on #121
https://app.intercom.io/a/apps/yzor8gyw/inbox/conversation/16410700041970

[2021-06-09 06:08] shairyar commented on #121
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700041970

[2021-06-11 11:12] tombruijn commented on #575
I created a PR with a potential fix: https://github.com/appsignal/appsignal-ruby/pull/732

[2021-06-15 09:34] tombruijn commented on #575
I've released Ruby gem 3.0.7 with a potential fix.

@shairyar can you ask the users to try out the new release with phased restarting?

[2021-06-16 08:36] tombruijn commented on #575
We also updated the docs page yesterday: https://docs.appsignal.com/ruby/integrations/puma.html

[2021-06-16 08:37] tombruijn commented on #575
I'm closing this issue. We can reopen when people come back with reports.

[2021-06-16 08:37] #575 closed

[2021-07-12 09:43] esquevin commented on #707
Hi, would it be possible to disable the extension / silence this error in dev / test environments?

It indeed creates a lot of unwanted noise. I hoped that last week changes would improve the situation but sadly my console is still littered with appsignal messages that ask me to reach your support.

Thank you, and I totally understand that supporting appsignal on M1 is not a priority.

[2021-07-15 11:28] shairyar commented on #707
@esquevin we will take a look into that.

[2021-07-26 11:09] tombruijn commented on #707
@esquevin and others, can you try the new "3.0.11" version of the Ruby gem. It introduces experimental Apple M1 support. Please let us know if it works here, or at support@appsignal.com with a [diagnose report](https://docs.appsignal.com/ruby/command-line/diagnose.html).

Closing the issue now. We can reopen it if new issues arise.

[2021-07-26 11:09] #707 closed

[2021-07-26 12:31] esquevin commented on #707
Doesn't seem to fix the issue on my side :/ I sent a diagnose report

[2021-07-26 12:41] tombruijn commented on #707
@esquevin For some reason your machine was recognized as ARM 64-bit Linux Musl and it tried install that version. You are running this on your Apple M1 ARM 64-bit machine, and not on that machine in a ARM 64-bit Alpine Linux Docker container?

[2021-07-26 12:49] esquevin commented on #707
You are indeed right, I ran this from an ARM 64-bit Alpine Linux Docker container running on my M1 :/

My issue might not be related to the M1 then, but my dev logs are still littered with this message.

[2021-07-26 13:24] tombruijn opened #742 "Alpine Linux ARM support"
Public tracking issue for https://github.com/appsignal/appsignal-agent/issues/704 (private link)

[2021-07-26 13:24] tombruijn commented on #707
I think Alpine Linux musl is the only Linux ARM build we don't support yet. That will be a separate issue, which I've created in #742. Please subscribe to that issue for updates, but I don't know when we'll pick it up yet.

[2021-07-27 07:22] tombruijn commented on #323
We now have a `revision` config option: https://docs.appsignal.com/ruby/configuration/options.html#option-revision
We still should look if there's a way to set it from the capistrano config, which sets it on the deployed servers.

[2021-08-12 11:37] tombruijn commented on #675
We've published Ruby gem 3.0.12 with improvements for this. Please try it out and let us know if it still happens or not.

[2021-08-12 11:37] #675 closed

[2021-08-13 09:19] samtgarson commented on #707
FWIW if anyone else is reading this, I was getting this with 3.0.11 but 3.0.12 seems to have fixed it for me 🤷

[2021-08-13 09:54] tombruijn commented on #707
Ah yes, I published another fix for it in 3.0.12 after we got a report it didn't work on every Ruby install.

[2021-08-24 10:47] Wijnand commented on #675
We are still having Zombies with the latest Gem version.
The zombie occurs quite soon after starting the Rails app via Passenger, the scenarios you describe do not seem to happen in our case.

The server is a simple AWS instance with Ubuntu 20.04, nothing special.

[code]

[2021-09-03 18:08] conarro commented on #603
Just adding a note to this issue for anyone else who encounters the `SystemStackError (stack level too deep)` errors (#583) due to the switch to `prepend`:

We ran into during our v3 upgrade. We got the error from `Net::HTTP` requests (specifically ActiveStorage attachment uploads), and only in the `development` environment. Turns out `rack-mini-profiler` was the culprit. We load that in dev with

[2021-09-06 06:55] shairyar commented on #603
Thank you for sharing your findings 👍🏼

[2021-09-06 08:59] tombruijn opened #748 "Fix diagnose CI build"
It's broken on new output. The `enable_statsd` config option was added.

[2021-09-06 09:26] tombruijn commented on #675
Hi @Wijnand, I see one defunct appsignal-agent process and one running appsignal-agent process. This looks like the behavior I would expect on a standard Docker/container environment. Is this now only happening on you AWS server?

What happens is: the passenger process (your app) starts the appsignal-agent as a child process, but then it daemonizes the process, creating a new process. The old non-

[2021-09-06 11:57] tombruijn commented on #748
Fixed in https://github.com/appsignal/appsignal-ruby/pull/749

[2021-09-06 11:57] #748 closed

[2021-09-24 13:27] #672 closed

[2021-09-27 06:46] shairyar opened #750 "Dashboard menu do not work when you are on an uptime monitor status page"
Customer reported the following but

Note the slug and application id in the URL

`https://appsignal.com/:organizationSlug/sites/:appId/improve/queries`

[2021-09-27 06:46] shairyar commented on #750
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700063118

[2021-10-28 08:45] Frederik-Baetens opened #759 "Allow disabling error reporting"
It would be nice if it were possible to use appsignal exclusively for tracing, so we'd like to disable error reporting in the gem. I know it's possible to filter out or perhaps entirely disable errors in the appsignal app, but i'd like to be able to disable error collection in the ruby gem, since having it on doesn't seem to play 100% nice with our sentry error reporting, slightly complicating our

[2021-10-29 05:52] #759 closed, assigned to nobody

[2021-11-18 17:52] jclusso opened #769 "Query Sanitization"
Is there a reason all database queries for MongoDB and Redis are wiped out with a ?. This makes it hard to trace the query if you don't know anything about it. When comparing to Elastic APM I can see the entire query for a traced transaction.

[2021-11-19 10:01] shairyar commented on #769
@jclusso can you drop us more details at support@appsignal.com and share the query you see and how you wish it should appear instead?

[2021-11-21 08:31] robinvdvleuten opened #770 "No HTTP requests traced from http.rb gem"
## Describe the bug

Any request made through the [http.rb](https://github.com/httprb/http) gem are not traced / visible on Appsignal. Any request made through `request.net_http` does.

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 3.0.15
- In my app using framework/library/gem http version 5.0.4
- With this code:
[code]

[2021-11-21 08:35] robinvdvleuten commented on #770
So as I look through the appsignal hooks, it seems that only libraries that wrap `net_http` are supported.

[2021-11-22 09:55] shairyar commented on #769
Private link: https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700072913

[2021-11-22 12:48] tombruijn commented on #770
Hi @robinvdvleuten, we don't support the http gem if it doesn't use net_http. We'll put it on our backlog to look at.

[2021-11-23 05:33] shairyar commented on #769
Thanks for reporting it, it's something we will be improving in the future. We will update this issue when progress has been made however there is no timeline available yet.

[2021-11-23 09:01] padarom opened #771 "Don't log client-side errors in Grape middleware (e.g. validation errors)"
When using the `Appsignal::Integrations::Grape` middleware a lot of exceptions are logged to Appsignal that in our mind don't belong there. These include authorization errors, validation errors, or generally all kinds of client-side errors that would result in a 4xx HTTP status code.

We would rather have these errors logged for our client applications (such as frontends, or other APIs that happen

[2021-11-23 12:21] jclusso commented on #769
@shairyar we may work on improving this ourselves. If we do I'll make a PR. If you have any details you think are important, let me know.

[2021-11-23 13:01] shairyar commented on #769
Sure, feel free to ping us if you have any questions while you are working on it.

[2021-11-23 23:39] jclusso commented on #769
@shairyar I've gotten started on some changes here. There will be two new configuration options, a boolean for `filter_redis_arguments` and an array for `filter_query_parameters`.

## Redis

This was easy to sort out. Since Redis doesn't really have query parameters, I figured it made the most sense to either sanitize all or nothing. There is a 1,000 character limit to prevent gigantic strings of

[2021-11-24 09:04] shairyar commented on #769
I had a discussion about this with my colleague. We don't think we want to start adding `filter_query_parameters` options at the moment. We can improve how it works probably, but let's not add a config option to filter out select keys only for mongodb

[2021-11-24 09:15] matsimitsu commented on #769
As MongoDB/Elastic users ourselves I'd love to get more insight into the queries!

We do have the issue that we use this sanitized body to group events together (in the slow query list and for event metrics).

Ideally, the sanitized value would be the same no matter the query details for that specific query.
(e.g. a query with an array should return the same value for 1 item in the array and 100).

[2021-11-24 13:41] jclusso commented on #769
Honestly, for us this (combined with some other things) is pretty much a deal breaker at the moment. I'll leave this code as is for you guys to figure out since it seems it will require  changes internally for anything like this to ever work. We'll be happy to try again in the future.

[2021-11-25 06:49] shairyar commented on #771
Hey @padarom, we will discuss this and get back to you.

[2021-11-25 14:01] tombruijn opened #772 "Print config options in alphabetical order in diagnose report"
If we change this it will match the other integrations.

## To do

- [ ] Print the config option in alphabetical order in the diagnose report output

[2021-12-01 09:07] tombruijn opened #776 "Only log the unwritable log directory message once"
When the configured or default log directory is not writable the following message can be printed multiple times, whenever the `Appsignal::Config#log_file_path` method is called:

[code]

We should only print this message once.

[2021-12-01 09:11] tombruijn commented on #776
I tried this before and ran into some issues with the test suite, to assert this message is only printed once. My work so far:

[code]

[2021-12-01 09:24] #772 closed

[2021-12-06 09:31] tombruijn opened #779 "Look at the new Rails error reporter"
## TODO

- [ ] Look at https://github.com/rails/rails/pull/43625 - new in Rails 7, but not out yet
- [ ] See if we need to update our integration and what benefits it brings

[2021-12-13 15:15] tombruijn opened #781 "Deprecate Capistrano deploy method"
It's using the underlying "notify_of_deploy" behavior, and we should recommend the "revision" config option instead.

We've already deprecated the notify_of_deploy CLI tool: https://docs.appsignal.com/ruby/command-line/notify_of_deploy.html
Read the deploy markers page for more context: https://docs.appsignal.com/application/markers/deploy-markers.html

## To do

- [ ] Print deprecation warning on

[2021-12-14 12:01] shairyar commented on #696
I have another customer who ran into this issue where the usage shoots up and the host metrics load avg shows 0, they are using the latest version of Ruby integration.

Intercom: https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700079256
Diagnose report: https://appsignal.com/admin/diagnose_reports/diag78b5be17f88bf3e70375

I am also seeing the same error in their re

[2021-12-15 16:30] tombruijn opened #782 "Transmitter should listen to HTTP proxy config"
Part of https://github.com/appsignal/integration-guide/pull/104

## TODO

- [ ] Update [`Appsignal::Transmitter`](https://github.com/appsignal/appsignal-ruby/blob/75943ba1432a26d1e66af4b794bae51aa1fca9a1/lib/appsignal/transmitter.rb) to listen to `Gem.configuration[:http_proxy]`, if set.
  - For previous usage, see the extension downloader that already uses it: https://github.com/appsignal/appsign

[2021-12-15 16:41] tombruijn opened #783 "Write installation report as JSON"
Part of https://github.com/appsignal/integration-guide/pull/105

## TODO

- [x] The `install.report` file is [now written with YAML content](https://github.com/appsignal/appsignal-ruby/blob/75943ba1432a26d1e66af4b794bae51aa1fca9a1/ext/base.rb#L63). We should change this to JSON, to match the other integrations.
- [x] The diagnose tool needs to be updated to [parse JSON instead of YAML](https://git

[2021-12-16 08:50] tombruijn opened #786 "Support Rails 7"
Rails 7 has been released. We want to make sure we're compatible with the same feature set as Rails 6. No need to support new features yet, but do make issues if you find any new featuers.

## To do

- [x] Fix failing tests in this PR: https://github.com/appsignal/appsignal-ruby/pull/785
- [x] Add a test app to the test apps: https://github.com/appsignal/test-setups
- [x] Manually test it in a Rai

[2021-12-17 10:17] tombruijn opened #787 "Installer should listen to APPSIGNAL_HTTP_PROXY env var"
Part of https://github.com/appsignal/integration-guide/pull/110

The Ruby gem's extension downloader should listen to the `APPSIGNAL_HTTP_PROXY`.

## TODO

- [x] Listen to the `APPSIGNAL_HTTP_PROXY` env var in the agent & extension downloader: https://github.com/appsignal/appsignal-ruby/blob/fb9949bbff13606195adb3d6576de32dfd734483/ext/base.rb#L188
    - If set, this env var value is leading.

[2022-01-03 13:34] tombruijn opened #789 "Support Ruby 3.1.0"
Ruby 3.1.0 is out: https://www.ruby-lang.org/en/news/2021/12/25/ruby-3-1-0-released/

Is blocking https://github.com/appsignal/appsignal-ruby/pull/788

## TODO

- [x] Add Ruby 3.1.0 to build matrix and update the semaphore.yml file. PR #791
- [x] Fix any issues that arise. PR #788

[2022-01-03 20:50] such opened #790 "ruby 3.1 support"
aliases are not supported by YAML.load by default.
The line below should be changed to:

[code]

https://github.com/appsignal/appsignal-ruby/blob/f9d5775217400c59a70d98e9aa96e3dcd06cb1f9/lib/appsignal/config.rb#L373

[2022-01-04 08:24] tombruijn commented on #790
Hi @such, thanks for the issue. We're working on this in issue #789 and PR #788. I'm closing this issue.

[2022-01-04 08:24] #790 closed

[2022-01-04 09:50] tombruijn opened #792 "Add Rails 6.1 to CI build"
We test against Rails 6.0, but not 6.1, which is the version that is still maintained.
Let's not pick this up until #791 is merged, because I'm changing a bunch of build matrix stuff there.

[2022-01-04 10:34] tombruijn opened #793 "Add Rails 7.0.1 to Ruby 3.1.0 build"
When Rails 7.0.1 comes out with fixes for Ruby 3.1.0, add it to the build matrix.

[2022-01-05 09:24] #789 closed

[2022-01-05 09:25] tombruijn commented on #790
@such I've just published the fix in version 3.0.18 of the Ruby gem 🚀

[2022-01-06 08:51] #792 closed

[2022-01-06 12:38] tombruijn opened #799 "Compatability with sequel-rails gem"
When using sequel-rails, we recommend users to [disable the AppSignal's sequel instrumentation](https://docs.appsignal.com/ruby/integrations/sequel.html#sequel-rails-integration) by setting `instrument_sequel` to `false`. This is because the sequel-rails gem records ActiveSupport::Notification events, and otherwise they would be recorded twice.

The problem is that we have no event formatter for t

[2022-01-06 23:20] Aryk commented on #799
For me, I needed to nil the first element:

[code]

[2022-01-07 05:55] tombruijn commented on #799
@Aryk You probably got an error about an argument being a class type instead of a String? That's been fixed in PR #801.

[2022-01-07 06:35] Aryk commented on #799
Yeah I got something like that...looking forward to the gem update

[2022-01-07 07:13] #793 closed

[2022-01-07 10:23] #783 closed

[2022-01-07 12:05] luismiramirez opened #802 "Deprecate skip_session_data in favor of send_sessison_data"
As stated in appsignal/integration-guide#114, skip_session_data is an inconsistent name among other similar options.

Deprecate skip_session_data config option and add send_session_data instead. Note that the boolean values now work the other way around as the new option works in "positive"

When skip_session_data is set up, log a deprecation message.

[2022-01-07 13:05] #799 closed

[2022-01-07 13:45] tombruijn commented on #799
@Aryk The fix for this has been released in Ruby gem 3.0.19.

[2022-01-12 13:17] luismiramirez commented on #696
After a chat with @thijsc, this is due to a bug from `mio` Rust crate.

We'll cover it with https://github.com/appsignal/appsignal-agent/issues/708

[2022-01-13 13:29] tombruijn opened #805 "Fix config option backwards compatability"
As mentioned in PR https://github.com/appsignal/appsignal-ruby/pull/804/files#diff-e6615e1cbb8fd34314f775df717c3e041b2fcdb1e1c1d4f5da27cce9afa1df4aR404-R408

The `maintain_backwards_compatibility`/`maintain_file_config_backwards_compatibility` method only does the backwards compatability for the file source. The `working_dir_path` option should also print a warning if set from other config sources

[2022-01-14 11:45] #805 closed

[2022-01-14 15:38] tombruijn commented on #802
Added docs in https://github.com/appsignal/appsignal-docs/pull/533. Closing.

[2022-01-14 15:38] #802 closed

[2022-01-17 10:48] tombruijn opened #807 "Add Minutely#unregister method to unregister probes"
The Elixir and Node.js integrations have ways to unregister a probe, rather than override it with a noop probe. We should do the same for the Ruby integration.

[code]

## To do

- [x] Add `Minutely#unregister` method
- [x] Update docs to explain the unregister method: https://docs.appsignal.com/ruby/instrumentation/minutely-probes.html

[2022-01-18 14:31] tombruijn opened #808 "Track Rails errors on boot"
I've previously documented something about it here: https://docs.appsignal.com/ruby/integrations/rails.html#error-reporting-during-start-up

But we should look into if we want to offer this by default. Which I think would be a good idea.

## To do

- [ ] Research how we can hook into Rails' start up/boot process and track any errors that occur at this time.
  - We probably want to track errors fro

[2022-01-18 14:32] tombruijn commented on #808
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700085776

[2022-01-19 00:11] ErinStearns opened #809 "Ruby version 2.6 not working"
Is there a solution to this problem besides upgrading/downgrading from 2.6 (which seems silly)?

src: https://docs.appsignal.com/support/known-issues/ruby-2-6-extension-not-installing.html

[2022-01-19 07:51] tombruijn commented on #809
Hi @ErinStearns, in newer versions for the AppSignal Ruby gem the issue you link to is fixed. What version of the AppSignal Ruby gem are you using? Are you able to upgrade it to the latest version?

[2022-01-20 13:30] tombruijn commented on #809
I'm closing this issue for now. You can also contact us at support@appsignal.com if this issue is still present in newer Ruby gem versions.

[2022-01-20 13:30] #809 closed

[2022-01-27 12:23] tombruijn opened #811 "Add "override" config source"
As discussed in https://github.com/appsignal/integration-guide/pull/128, we want to track some config options in the "override" source. Such config options are `send_session_data` and the deprecated `skip_session_data`, after the changes in #804.

## TODO

- [x] Add "override" config source to the Config class
- [x] Move the backwards compatability logic to be set through the "override" source, ra

[2022-01-27 12:28] tombruijn opened #812 "Start minutely probes automatically on registering"
As agreed upon in https://github.com/appsignal/integration-guide/pull/124, update the minutely probes behavior.

## TODO

- [x] If probes are registered after the minutely probes have started, automatically start the newly registered probe.
- [x] Update the docs to mention this behavior

[2022-01-27 12:38] tombruijn opened #813 "Rename Minutely module to Probes"
To be consistent with other integrations, rename the `Minutely` module to the `Probes` module.

## TODO

- [x] Rename the `Minutely` module to `Probes.
- [x] Set up a class alias so that `Minutely` will continue to work.
    - [x] Deprecate the `Minutely` module.
    - See this code example of how we've done this before: https://github.com/appsignal/appsignal-ruby/blob/2c12f99bc66ee558d189ae09ea48

[2022-01-27 12:44] tombruijn opened #814 "Ensure minutely probes do not drift"
As agreed upon in https://github.com/appsignal/integration-guide/pull/124, make sure that the minutely probes don't drift, so they don't actually calculate metrics over 1 minute and 5 seconds, for example.

## TODO

- [x] Research if the probes system can drift
    - Account for probe drift better, it now only schedules _after_ the probe has done sending all the metrics.
- [ ] Fix drift if needed

[2022-01-27 12:45] tombruijn opened #815 "Add Probes.stop behavior"
As agreed upon in https://github.com/appsignal/integration-guide/pull/124, add a function to manually stop the minutely probes.

This may help with issue https://github.com/appsignal/appsignal-nodejs/issues/418

## To do

- [x] Implement a **public** `Minutely.stop` function.
- [x] Call `Minutely.stop` in `Appsignal.stop`

[2022-02-03 14:59] luismiramirez commented on #769
I will remove bulk sanitization and do a few tests to see how it behaves in the app to make a decision.

[2022-02-07 11:38] tombruijn opened #817 "Remove unused extensions system"
We have an extension system in the Ruby gem that none of our own integrations/hooks/plugins use. It's undocumented on our docs website.

Is anything else using this? Can we safely remove it?

https://github.com/appsignal/appsignal-ruby/blob/eff9d8d52c112212071e8b0cf7c6bdf1e48c5a26/lib/appsignal.rb#L61-L72

## TODO

- [ ] Research if anything uses this
- [ ] Remove it if nothing uses it.

[2022-02-08 08:18] shairyar commented on #696
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700090078

[2022-02-08 09:43] #817 closed

[2022-02-09 09:23] tombruijn opened #820 "Check query param sanitizer for arrays flattening the value"
While we were working on #819 we noticed that the `QueryParamsSanitizer` sometimes returns a single object, when it was sanitizing an array.

It happens on this line:

https://github.com/appsignal/appsignal-ruby/blob/3f503ade83f22f4b0d86d76ea00e5f4dd3c56b6f/lib/appsignal/utils/query_params_sanitizer.rb#L38

## To do

- [x] Reproduce the issue by sanitizing an object with a key that contains an arr

[2022-02-11 09:33] #811 closed

[2022-02-11 22:27] nickhammond commented on #576
I stumbled across this issue when trying to get Mina and AppSignal working together, there is a third party gem([mina-appsignal](https://github.com/code-lever/mina-appsignal)) that utilizes curl to create a deploy marker. I [created a PR](https://github.com/code-lever/mina-appsignal/pull/4) to update the mina dependency so you can still use it with the latest Mina as well.

[2022-02-15 13:58] #769 closed

[2022-02-15 14:27] luismiramirez commented on #769
Hi @jclusso! The sanitization is now way less restrictive in the last version (3.0.21).

[2022-02-15 14:56] jclusso commented on #769
@luismiramirez that's great to hear! Any plans on the Redis queries?

[2022-02-16 11:10] luismiramirez opened #822 "Less restrictive Redis sanitization"
We recently changed how MongoDB queries are sanitized to show more information to our users. (https://github.com/appsignal/appsignal-ruby/pull/819)

We can do the same to Redis commands. Currently, we are sanitizing the whole query and only showing the called command.

Example:

[code]

The idea is not to remove the command's first argument to know which keys are set up or retrieved.

[2022-02-16 11:14] luismiramirez commented on #769
@jclusso Sure! you can keep track of it here: https://github.com/appsignal/appsignal-ruby/issues/822

[2022-02-17 00:00] fagiani opened #823 "Appsignal breaking causes application crash"
## Describe the bug

A clear and concise description of what the bug is including the code used and the exception backtrace, if any.

[code]

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 2.9.8, 3.0.3, 3.0.21
- In my app using Rails version 5.2.4.5
- Just boot app with: `bundle exec unicorn -p 3000 -c ./config/unicorn.conf`

[2022-02-17 09:50] tombruijn commented on #823
Hi @fagiani, I've tried to reproduce it, but I can't seem to. I've tested on Rails version  5.2.5 (I can't install 5.2.4.5 exactly because of an mimemagick extension install error). There aren't any differences between the ActiveSupport::Notifications implementation between those two Rails versions.

I don't quite understand the error message or backtrace. We don't call `any?` on those lines. Ther

[2022-02-17 13:52] tombruijn opened #826 "Remove moped integration"
The [moped gem](https://rubygems.org/gems/moped) is no longer being actively worked on. The last version came out in 2015, and as far as we understand it, the [mongo gem](https://rubygems.org/gems/mongo) is now recommended instead.

Let's remove the moped integration in accordance with [our policy around older packages](https://github.com/appsignal/integration-guide/pull/133) / https://github.com/

[2022-02-17 17:00] JasonBarnabe opened #827 "After enabling appsignal, ActiveJob queue changed to 'default'"
In an initializer, we have:

[code]

After adding AppSignal, any job that didn't specify a queue using `queue_as` in the class started going to the "default" queue rather than "medium". That sucked because we didn't have any sidekiq workers looking at that queue.

Ruby 2.7.5
Rails 6.1.4.6
AppSignal 3.0.21

[2022-02-18 09:56] tombruijn commented on #827
Hi @JasonBarnabe,

I've reproducing the situation you're describing, but no luck unfortunately. I've updated our Rails 6 + Sidekiq test app and configured it as you described. The jobs without an explicit `queue_as` (specified as the `default_queue_name`) are being picked up by Sidekiq. I don't see them being queued in the "default" queue.

The only way I can trigger this behavior so far is by que

[2022-02-18 14:04] fagiani commented on #823
Hello @tombruijn my guess is that it should have to do with a `unicorn` configuration... not sure if `preload_app true` or any before or after fork settings... I've momentarily disabled it as Honeybadger worked.

All there is was what I placed on the issue. I agree that the stack trace is quite odd but I pasted all of it.

I cannot send the app as it is from a customer.

[2022-02-18 15:30] tombruijn commented on #823
I'm also unable to reproduce it with `preload_app true`. Can you share more of your `unicorn.conf` file? You can send it to support@appsignal.com (please mention this issue).

Was another tool like honeybadger also installed together with AppSignal? We've seen that can sometimes interfere with one another.

[2022-02-21 10:40] tombruijn commented on #827
Yes now I can reproduce it. That's really weird. We don't track the ActiveJob creation or interfere with any Rails config, so I'm not sure how loading the AppSignal gem breaks this.

For now you can use your workaround or move it to the `config/application.rb` file. What is the reason you moved this config to the initializer?

[2022-02-22 07:56] #820 closed

[2022-02-22 09:50] tombruijn commented on #822
First step: can we track which command is run, not just "eval".
Can we stop replacing keys with `?` as well, but only replace values? Can we distinguish between them?

[2022-02-22 10:25] tombruijn commented on #827
Let's look at a quick fix first. It may not be perfect, but this is a serious bug that we need to fix now and make our code "nice" again later.

[2022-02-22 12:58] fagiani commented on #823
Just sent @tombruijn! Keep Rocking!

[2022-02-22 13:22] sbocinec opened #830 "Version 2.11.10 missing in CHANGELOG and codebase"
## Describe the bug

The latest `v2` version of the `appsignal-ruby` gem is missing in the [`CHANGELOG.md`](https://github.com/appsignal/appsignal-ruby/blob/main/CHANGELOG.md):

* the `2.11.10` gem is published to rubygems.org, also the `v2.11.10` tag exists https://github.com/appsignal/appsignal-ruby/tree/v2.11.10 in the source code. I wonder if it accidentaly dropped out during merge/rebase with

[2022-02-22 13:58] shairyar commented on #823
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700094271 (private link)

cc @tombruijn

[2022-02-22 14:34] JasonBarnabe commented on #827
We already had an initializer for ActiveJob monkeypatches - seemed to make sense to keep it all ActiveJob config together.

[2022-02-22 15:05] tombruijn commented on #830
Hi @sbocinec,

The 2.11.10 release was a backport of a fix in PR #720 previously added to version 3.0.3: https://github.com/appsignal/appsignal-ruby/blob/main/CHANGELOG.md#303

You can find 2.11.0 in the `2.11-stable` branch: https://github.com/appsignal/appsignal-ruby/blob/2.11-stable/CHANGELOG.md

This 2.11.10 release branches off the old 2.x release and is its own thing. The fix of 2.11.0 is al

[2022-02-22 15:05] #830 closed

[2022-02-22 15:13] sbocinec commented on #830
@tombruijn I was confused as the prior versions were part of the CHANGELOG. I now see. Thanks for the detailed clarification and all the great work on AppSignal!

[2022-02-23 08:14] #827 closed

[2022-02-23 08:24] tombruijn commented on #827
Hi @JasonBarnabe, we've published a fix for this in version 3.0.23 of the Ruby gem. Can you upgrade and let us know if it fixes the issue for you, if you remove the workaround?

[2022-02-24 09:20] luismiramirez commented on #823
Hi @fagiani, I've used your unicorn config and still can't reproduce the issue. Could you try disabling Honeybadger to see if that fixes the issue? As @tombruijn mentioned, that can cause conflicts.

[2022-03-03 22:01] patbenatar opened #833 "ActiveRecord::RecordNotUnique should be handled similarly to PG::UniqueViolation"
Rails wraps `PG::UniqueViolation` in a `ActiveRecord::RecordNotUnique`. Should this code https://github.com/appsignal/appsignal-ruby/blob/main/lib/appsignal/transaction.rb#L538 handle both?

[2022-03-07 10:07] tombruijn commented on #833
Hi @patbenatar, we can definitely take a look. Do you have an example error message for `ActiveRecord::RecordNotUnique`. A very small example app would be even better :)

[2022-03-07 17:15] patbenatar commented on #833
[code]

We've monkey-patched like so in our app:

[code]

Perhaps rather than adding a list of error classes here, we could make this method extensible via configuration? We use https://github.com/ankane/logstop elsewhere in our application and it'd be great to be able to configure Appsignal to use that too, something like:

[code]

[2022-03-09 13:54] tombruijn commented on #833
Looks like you sent a `PG::UniqueViolation` example, the error message is the same for `ActiveRecord::RecordNotUnique`? Or is one wrapped in the other?

We considered that in the past, but decided not to add it to this first version. We want to take a good look at how best to fix this for all integrations, not just Ruby.

[2022-03-09 15:05] patbenatar commented on #833
It's wrapped. That's the error message for the AR exception.

Sounds good re: configuration. Simply adding the AR exception class to the list as I've done in my monkey patch would be great for now.

Thanks!

[2022-03-09 15:57] tombruijn commented on #833
I've submitted the fix in PR #834.

[2022-03-14 07:30] #833 closed

[2022-03-14 07:48] tombruijn opened #835 "Rails 6.1.5 build breaks for ActiveJob and Sidekiq"
See build: https://appsignal.semaphoreci.com/jobs/ba6f2b90-dd75-4e47-896d-1b3581516688

We need to fix whatever changed in Rails version 6.1.5.

[2022-03-15 08:53] #835 closed

[2022-03-15 09:05] tombruijn commented on #833
@patbenatar The fix for this is released in Ruby gem 3.0.25.

[2022-03-15 14:17] patbenatar commented on #833
@tombruijn thank you!

[2022-03-22 20:05] nicolasgarnil opened #837 "Nested instrumentation doesn't works with threads"
## Describe the bug

Nested instrumentation doesn't works with threads. The traces sent from inside the thread are ignored and not displayed in the Event Timeline.

## To Reproduce

Steps to reproduce the behaviour:

- Using AppSignal for Ruby gem version 3.0.20
- With this code:

[code]

We would expect to see this:

* a.xxx
  * b.xxx
    * c.xxx
    * c.xxx
    * c.xxx
    * c.xxx
    * c.xxx

I

[2022-03-24 13:05] wesgarrison opened #838 "unknown keyword: :aliases after upgrade to ruby 3.1.1"
## Describe the bug

Updating to ruby 3.1.1 with `psych < v4` causes deploy notification to fail with an error:

[code]

## To Reproduce

Steps to reproduce the behavior:

- Use ruby 3.1.1
- Have a `gem 'psych', '~> 3.1'` in Gemfile

## Solution

* Gemfile: `gem 'psych', '~> 4.0`
* `bundle update psych`

## Notes

You could update `Appsignal#config.load_from_disk` where is presumes that ruby >= 3.

[2022-04-11 08:54] shairyar commented on #837
Hi Nicolas, this is not possible at the moment. Our current API keeps track of transactions per Thread and doesn't support multiple threads at the moment. We're working on supporting this in the future, but we have no ETA for this yet.

[2022-04-11 15:10] norman commented on #838
Thanks @tombruijn! Happy to help test anything against my environment if you need.

If it helps, here's some info on our setup. We have a Rails 7.0.2.3 app which we test in CI against Ruby 3.0.3 and Ruby 3.1.1. Here's how our app behaves on each:

|Ruby Version|Psych Version|Appsigal loads properly?|Application Errors|
|------------|-------------|------------------------|------|
|3.1.1|4.0.3|Yes|P

[2022-04-12 06:49] #826 closed

[2022-04-13 05:45] shairyar commented on #696
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700105029

[2022-04-13 06:51] tombruijn commented on #838
@norman @wesgarrison The fix for this has been released in Ruby gem 3.0.26.

[2022-04-13 12:45] norman commented on #838
@tombruijn Fantastic! Thanks again for the great support.

[2022-04-14 09:53] shairyar commented on #696
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700105480

[2022-04-28 08:36] shairyar commented on #696
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/unassigned/conversations/16410700116700

[2022-04-29 08:11] tombruijn commented on #837
This is a known issue. I'm closing it for now.

[2022-04-29 08:11] #837 closed, assigned to shairyar

[2022-04-29 08:20] shairyar opened #846 "appsignal client causes a 100% cpu usage when the ruby garbage collector runs a cycle"
The appsignal client causes the 100% CPU when the ruby garbage collector runs a cycle? Enabling GC via GC.enable had the same effect.

[2022-04-29 08:20] shairyar commented on #846
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700105480

[2022-04-29 08:21] shairyar commented on #846
Latest follow up: https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700116700

[2022-05-02 14:20] luismiramirez commented on #823
Hi @fagiani is this still an issue for you?

[2022-05-10 07:43] luismiramirez commented on #846
They were using an EOL version of Ruby (2.6.6), and after the upgrade to 2.7.6 the issue stopped. We can consider this one solved.

[2022-05-10 07:43] #846 closed

[2022-05-11 09:50] luismiramirez commented on #823
I am closing this for now. Feel free to reply to this issue if the problem persists so we can reopen it and keep researching.

[2022-05-11 09:50] #823 closed

[2022-06-02 11:58] tombruijn commented on #813
Hi @AnshulRiyal, This isn't can't be closed yet. No one is currently working on it. I was thinking of changing the Probes module to a class, then it would work. Let me know if you have other questions :)

[code]

[2022-06-10 11:24] AnshulRiyal commented on #813
@tombruijn Please let me know if i can raise the PR for remaning the modules to classes 🙇

[2022-06-13 06:24] tombruijn commented on #813
@AnshulRiyal you're welcome to send in a PR to fix the issue as described :)

[2022-06-24 07:31] jeffkreeftmeijer opened #850 "Ruby VM/GC Dashboard"
https://github.com/appsignal/appsignal-ruby/tree/vm-stats

## TODO

- [X] Move off mocking (noun)-based testing in existing Ruby VM tests
- [x] Add VM/GC metrics
- [x] Check metrics for compatibility with Ruby 3.2
- [x] Add Magic Dashboard

[2022-06-28 10:26] tombruijn opened #851 "Improve error handling in Rails instrumentation"
In https://github.com/appsignal/support/issues/201#issuecomment-1168532829 I explain the situation in more detail, but in short:

When calling `ActionDispatch#request_method` an error can be raised when an unknown request method is trying to be parsed. We don't expect [that method to raise an error in our Rails instrumentation](https://github.com/appsignal/appsignal-ruby/blob/114fe4f92e621bc2e771b

[2022-06-29 05:41] shairyar commented on #851
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700127439 (Private link)

[2022-07-07 06:23] rsim opened #854 "Invalid FFI::AutoPointer is causing infinite loop in Finalizer thread starting from JRuby 9.3.4"
After upgrading from JRuby 9.3.3.0 to 9.3.6.0 we noticed that our Rails app with the appsignal gem consumes more CPU. From the thread dump we identified that the Java Finalizer thread is stuck in an infinite loop:

[code]

Infinite loop is caused by `checkCircularCause` which was added in https://github.com/jruby/jruby/commit/bd2595c275adb0a03df8f281b6b144718f06e85d which solved https://github.com

[2022-07-07 07:52] shairyar commented on #854
https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/4356044/conversations/16410700130776 (Private link)

[2022-07-08 12:20] rsim commented on #854
We patched the appsignal gem with this change https://github.com/eazybi/appsignal-ruby/commit/bae84fd176c473a5812d44a314157b09633ab2be and now in production, we do not see anymore the Finalizer thread with an infinite loop in `checkCircularCause`. Please verify this patch and include in the next version of the gem.

[2022-07-13 05:41] shairyar commented on #854
Thanks @rsim for the patch, we will take a look into that.

[2022-07-22 05:16] shairyar commented on #696
https://app.intercom.com/a/inbox/yzor8gyw/inbox/admin/4356044/conversation/16410700132061

[2022-07-22 09:19] tombruijn commented on #854
I've created a PR for the fix you sent in here: https://github.com/appsignal/appsignal-ruby/pull/856

[2022-07-22 09:25] tombruijn opened #858 "Add JRuby 9.3 to the CI"
JRuby 9.3 has been out for a bit https://www.jruby.org/2022/06/27/jruby-9-3-6-0.html
but we don't test it in our CI yet.

This would have brought issue #854 to our attention sooner.

- [x] Add JRuby 9.3 to the CI build matrix
- [x] Check if we can enable builds for more gems like Rails 7 for this new version
  - Not possible

[2022-07-22 09:29] tombruijn commented on #854
Looks like our CI didn't show us this issue because we don't test against JRuby 9.3, in which [the commit that highlights this issue](https://github.com/jruby/jruby/commit/bd2595c275adb0a03df8f281b6b144718f06e85d) was added. I've created an issue to add JRuby 9.3 to our CI build in #858.

[2022-07-22 11:15] #854 closed

[2022-07-22 11:15] tombruijn commented on #854
We're hoping to release the fix for this next week.

[2022-07-25 14:43] tombruijn commented on #742
Linked issue is completed. This will be added in Ruby gem 3.1.1 hopefully some time this week.

[2022-07-25 14:43] #742 closed

[2022-07-26 06:34] #858 closed

[2022-07-29 07:13] tombruijn commented on #850
Added in Ruby gem 3.1

[2022-07-29 07:13] #850 closed

[2022-07-29 07:22] tombruijn opened #868 "Track GC total time"
In PR https://github.com/appsignal/appsignal-ruby/pull/852 we added tracking for `gc_total_time`, renamed to `gc_time` in PR #874 . But then in PR https://github.com/appsignal/public_config/pull/38 I've removed the GC total time graph from the Ruby VM dashboard because it's empty by default. To avoid confusion and an increase in support conversations I've removed the graph.

To make this metric wo

[2022-08-02 13:54] tombruijn commented on #854
@rsim The fix for this has been released in Ruby gem 3.1.0. And we're already up to 3.1.2 now :)

[2022-08-04 09:27] #851 closed

[2022-08-16 07:30] tombruijn commented on #696
@shairyar do you need to follow up with the following conversations, or can we close the issue?

- https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700116700 / https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700105480
- https://app.intercom.com/a/apps/yzor8gyw/inbox/inbox/conversation/16410700079256

[2022-08-16 08:09] shairyar commented on #696
This can be closed

[2022-08-16 08:09] #696 closed

[2022-08-16 10:11] prognostikos opened #880 "SystemStackError when used with httplog gem"
We occasionally use the `httplog` gem to troubleshoot various API integrations. If we try to use it (via `require 'httplog'`) when appsignal is active, we get a `SystemStackError` when making HTTP calls using `Net::Http`.

## To Reproduce

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 3.1.4
- In my app using httplog version 1.5.0
- With this code:

[code]

[2022-08-16 11:03] tombruijn commented on #880
Hi @prognostikos, this can happen if the httplog gem uses a certain way of adding its own logic to the net_http library. We've written about this in our [upgrading AppSignal Ruby gem version 2 to 3 in our docs](https://docs.appsignal.com/ruby/installation/upgrade-from-2-to-3.html#compatibility-with-other-instrumentation-gems).

What's happening here is that in AppSignal Ruby gem 3.x we made the ch

[2022-08-16 12:03] tombruijn commented on #880
@prognostikos I just remembered you can also use the [instrument_net_http config option](https://docs.appsignal.com/ruby/configuration/options.html#option-instrument_net_http) to disable our Net::HTTP instrumentation and avoid this error.

[code]

[2022-08-16 12:14] prognostikos commented on #880
@tombruijn thanks for the quick and detailed response.

[2022-08-16 12:19] #880 closed

[2022-09-15 14:50] tombruijn opened #881 "Extension linking does (not) work with Xcode 14 (macOS 12.6)"
The linker shipped with XCode Version 14.0 (14A309) currently does not break linking for Ruby apps on macOS 12.6.

[code]

## Xcode Version 13.4.1 (13F100), from macOS 12.5
[code]
You can also have this older version of Xcode installed on macOS 12.6.

## New Xcode Version 14.0 (14A309), from macOS 12.6
[code]

See how it says "dynamic_lookup that depends on lazy binding will not work with chained

[2022-09-19 13:42] tombruijn commented on #881
Our Ruby gem doesn't set `-Wl,-fatal_warnings` like we [do in our Elixir package](https://github.com/appsignal/appsignal-elixir/blob/47b38a2f53ec6ffaa27128ad12c6f50c9bb72fdf/Makefile#L11). That means it doesn't fail to install the Ruby extension, just print a bunch of warnings. Especially when `dynamic_lookup` is removed.

This will become an issue when Apple removes `dynamic_lookup` behavior in w

[2022-09-26 15:46] tombruijn opened #883 "Support que gem version 2"
Que version 2 is out! Our tests fail on this version.

Hopefully we can fix the differences that break our test suite to make the que integration compatible with both versions. If that's not possible we should add a new integration for que 2.

## To do

- [x] Research differences between que 1 and 2 that make our tests fail.
- [x] Add a test job in the CI for que 2, in addition to que 1.

[2022-09-27 09:06] tombruijn opened #885 "Bump Ruby versions in CI"
## TODO

Bump versions in CI to:

- [x] Ruby 2.7.7
- [x] Ruby 3.0.4
- [ ] Ruby 3.1.3

[2022-10-05 23:56] CsBigDataHub commented on #881
FYI.. https://issues.guix.gnu.org/issue/57849

Looks like using `-Wl,-w` will help.

[2022-10-06 06:42] tombruijn commented on #881
Thanks for the suggestion! I see that `-w` will "Suppress all warning messages". I'd rather see the warning message, in case something breaks in a future macOS version.
People that install the AppSignal gem already don't see this warning, because it's wrapped and hidden by the Ruby gems installer. We're the only ones seeing this warning now when we run the `rake extension:install` task.

[2022-10-17 08:57] vdbilt opened #886 "NoMethodError is raised using AppSignal gem with Puma 6"
NoMethodError is raised using AppSignal gem with Puma 6:

[code]

Steps to reproduce the behavior:

- Using AppSignal for Ruby gem version 3.1.4 and Puma 6.0.0
- Starting the app immediately raises the error

[2022-10-18 15:37] #886 closed

[2022-10-18 15:57] tombruijn commented on #886
@vdbilt I have pushed the fix for this in Ruby gem 3.1.5.

[2022-11-04 23:16] Aeramor opened #891 "[ERROR] appsignal: Error in minutely probe 'sidekiq': ERR unknown command `connection`, with args beginning with:"
If your bug is about how AppSignal works in your app specifically we recommend you contact us at support@appsignal.com with your bug report instead.

---

## Describe the bug
Just getting spam that says "appsignal: Error in minutely probe 'sidekiq': ERR unknown command `connection`, with args beginning with:  " over and over again

## To Reproduce

Steps to reproduce the behavior:

- Using AppSign

[2022-11-07 10:28] unflxw commented on #891
Thanks for the bug report @Aeramor! We'll be looking into this shortly.

[2022-11-07 13:53] tombruijn commented on #891
@Aeramor For me it fails even sooner on minutely probe start up, with this error:

[code]

Looks like sidekiq changed their redis dependency to redis-client, named `RedisClient`, hence the name error.

I'm not sure I'm reproducing this properly yet. Or do you have the `redis` gem in your app's Gemfile as well?

[2022-11-07 14:27] tombruijn commented on #891
If I remove the version check the failed in my last comment I get a similar error as originally reported:

[code]

Looks like we'll have to update the probe to work with the redis and redis-client gems.

[2022-11-07 19:10] Aeramor commented on #891
Yeah, it was when sidekiq 7.0 was released. They changed redis server req from 4.0->6.0, from redis->redisclient, and on heroku need ssl verify off for redis.

[2022-11-08 10:12] tombruijn commented on #891
Thanks for letting me know @Aeramor! I'm working on a fix.

[2022-11-09 13:55] #891 closed

[2022-11-09 14:09] tombruijn commented on #891
@Aeramor I've published the fix in AppSignal for Ruby gem 3.1.6.

[2022-11-14 09:47] tombruijn commented on #125
https://app.intercom.com/a/inbox/yzor8gyw/inbox/admin/4356044/conversation/16410700129981?view=List

[2022-11-17 22:15] matthewford opened #894 "Can't run under truffleruby"
appsignal (3.1.6)
truffleruby-22.3.0

ERROR: AppSignal failed to load extension. Please run `appsignal diagnose` and email us at support@appsignal.com
LoadError: cannot load such file -- appsignal_extension
rake aborted!
LoadError: cannot load such file -- pty
<internal:core> core/kernel.rb:236:in `gem_original_require'
/home/runner/work/FoodbankWeb/FoodbankWeb/vendor/bundle/truffleruby/3.0.3.22.3

[2022-11-18 08:04] #770 closed

[2022-11-21 10:33] tombruijn commented on #894
@matthewford Thanks for creating the issue!

Could you also send us a diagnose report from the machine that raised this error: https://docs.appsignal.com/ruby/command-line/diagnose.html

That way we can compare our own results when we try and reproduce this.

Technical note: Noemi says it should install the C extension, not the FFI extension. Let's make sure it install the correct gem version (jav

[2022-11-30 12:41] #881 closed